/*******************************
    Categories
********************************/
.category {
    color: var(--white);

    h2 {
        margin: 0;
        padding: 100px 30px;
        text-align: center;
        font-family: var(--serif);
        font-size: 36px;
        text-transform: capitalize;
        color: var(--white);

        &:after {
            content: var(--categoryMessage);
            display: block;
            font-family: var(--body);
            font-size: var(--xsBody);
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 4px;
            margin-top: 10px;
            z-index: 2;
            position: relative;
        }
    }

    &.c-1,
    &.c-5,
    &.c-6 {
        h2 {
            border-top: 1px solid var(--midGrey-70);
        }
    }

    &.c-4,
    &.c-5 {
        h2 {
            border-bottom: 1px solid var(--midGrey-70);
        }
    }

    &:not(.c-2):not(.c-3):not(.c-4):not(.c-5) {
        .category--forums {
            display: grid;
            grid-template-columns: 1fr;

            @media only screen and (min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media only screen and (min-width: $xl) {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }

    &.c-2,
    &.c-3 {
        .category--forums {
            display: grid;
            grid-template-columns: 1fr;

            @media only screen and(min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

.forum {
    overflow: hidden;

    .category:not(.c-5):not(.c-4) & {
        border-bottom: 1px solid var(--midGrey-70);
        display: grid;
        grid-template-rows: max-content auto;

        .forum--subs {
            &,
            .subforums {
                font-size: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 5px;

                a {
                    background: var(--light);
                    color: var(--dark);
                    padding: 10px 20px;
                    font-size: var(--xlBody);
                    font-family: var(--serif);
                    text-transform: capitalize;
                    border-radius: 2px;
                }
            }
        }

        &:first-child {
            border-top: 1px solid var(--midGrey-70);
        }
    }

    .c-4 & .subforums,
    .c-5 & .subforums {
        display: grid;
        grid-gap: 20px;
        height: 100%;
        align-items: center;

        @media only screen and (min-width: $xl) {
            align-items: normal;
            grid-template-columns: repeat(3, 1fr);
        }

        a.tooltip {
            background-image: var(--forumBG);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 2px;
            overflow: hidden;
            display: grid;
            align-items: center;
            text-align: center;
            justify-items: center;
            font-family: var(--serif);
            font-size: 20px;
            color: var(--white);
            font-weight: 700;
            z-index: 1;
            padding: 50px 20px;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--headerOverlay);
                mix-blend-mode: var(--headerBlend);
                opacity: var(--headerOpacity);
                z-index: -1;
            }
        }
    }

    &.f-33,
    &.f-5 {
        border-left: 1px solid var(--midGrey-70);
        border-right: 1px solid var(--midGrey-70);
    }

    &.f-18 {
        border-top: 1px solid var(--midGrey-70);
        border-left: 1px solid var(--midGrey-70);
    }

    .c-2 &:nth-child(2n) {
        border-right: 1px solid var(--midGrey-70);
    }

    .c-6 & {
        border-top: 1px solid var(--midGrey-70);
    }

    &--main {
        padding: 50px;

        .category:not(.c-4):not(.c-5) & {
            padding-bottom: 0;
        }

        .f-39 & {
            background-position: 50% 80% !important;
        }

        .f-35 & {
            background-position: 50% 20% !important;
        }
    }

    &--stats {
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 4px;
        font-weight: 400;

        b {
            font-weight: 800;
        }
    }

    &--name {
        font-family: var(--serif);
        font-size: 36px;
        margin: 10px 0 0;

        a {
            color: var(--white);
        }
    }

    &--latest {
        display: grid;
        padding: 25px 0 35px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: var(--xsBody);
        grid-gap: 5px;

        a {
            color: var(--white);
        }

        i.fal {
            font-size: var(--lBody);
            line-height: var(--lBody);
        }

        & > span {
            display: grid;
            grid-template-columns: 16px auto;
            grid-gap: 10px;
            align-items: center;
            height: 24px;

            & > a,
            & > span {
                line-height: var(--xsBody);
            }
        }

        i.fa-user + a:before {
            content: 'Written by ';
        }
    }

    button {
        background: var(--light);
        color: var(--dark);
        border: 0;
        border-radius: 2px;
        font-family: var(--serif);
        padding: 10px 20px;
        font-size: var(--xlBody);
        font-weight: bold;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-gap: 10px;
        cursor: pointer;

        i.fas {
            font-size: var(--lBody);
        }

        .category:not(.c-4):not(.c-5) & {
            display: none;
        }
    }

    &--desc {
        padding: 0 50px;
        background: var(--altLight);
        color: var(--dark);
        height: 0;
        transition-duration: 0.75s;
        transform-origin: top;

        &.active {
            padding-top: 50px;
            padding-bottom: 50px;
            height: auto;
        }

        .c-4 &,
        .c-5 & {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 20px;
            align-items: center;

            @media only screen and (min-width: $md) {
                grid-template-columns: 1fr 1fr;
                grid-gap: 50px;
            }

            @media only screen and (min-width: $lg) {
                grid-template-columns: 1fr 2fr;
            }

            @media only screen and (min-width: $xl) {
                align-items: normal;
            }
        }

        .category:not(.c-4):not(.c-5) & {
            padding: 0 50px 50px;
            height: auto;
            background: none;

            &:empty {
                padding-bottom: 25px;
            }
        }
    }

    &--text {
        font-size: var(--xlBody);
        font-family: var(--serif);
        text-align: justify;
        background: var(--light);
        padding: 15px 20px;
        border-radius: 2px;
    }

    &.f-6,
    &.f-34 {
        grid-column: 1 / -1;
    }
    @media only screen and (min-width: $xl) {
        &.f-6,
        &.f-34 {
            grid-column: auto;
        }
    }

    @media only screen and (min-width: $md) {
        &.f-3,
        &.f-1,
        &.f-19 {
            grid-column: 1 / -1;
        }
    }

    .c-4 &--main,
    .c-5 &--main {
        background-image: var(--forumBG);
        background-size: cover;
        background-position: center right;
    }

    /*remove button & padding for ic category with no subforums/descriptions*/
    .c-5 & button {
        display: none;
    }
    .c-5 &--main {
        padding-bottom: 15px;
    }
}