#posting-form {
    & > tbody > tr {
        border-bottom: 1px solid var(--midGrey-70);
        display: block;
        padding: 20px;

        &:first-child {
            border-top: 1px solid var(--midGrey-70);
        }

        &:not(#code-buttons) > td {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &#post-options > td {
            gap: 20px;

            label {
                font-size: var(--xlBody);
                font-family: var(--serif);
                cursor: pointer;
            }

            input {
                display: none;

                & + span {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: var(--light);
                    margin-right: 5px;
                    border-radius: 3px;
                    color: transparent;
                    margin-top: 10px;
                    font-family: 'Font Awesome 6 Pro';
                    line-height: 16px;
                    font-size: 12px;
                    text-align: center;
                    justify-items: center;
                    align-items: center;
                }
                &:checked + span {
                    color: var(--dark);
                }
            }
        }
    }
    #post-icon-options,
    #topic-settings-header,
    #code-buttons-header,
    #code-buttons .pformleft,
    #enter-your-post-header,
    #post-as-header,
    #post-options .pformleft,
    #post-icon-options .pformleft,
    #enter-your-post .pformleft,
    #post-as .pformleft,
    #topic-title .pformleft,
    #topic-desc .pformleft {
        display: none !important;
    }
    #topic-title input,
    #topic-desc input {
        width: 100%;
        font-size: var(--xlBody);
        font-family: var(--serif);
        padding: 10px 15px;
        margin: 0;
    }
    .maintitle {
        font-family: var(--serif);
        font-size: 20px;
    }
    #code-buttons {
        font-size: 0;

        #bbcode-buttons a {
            color: var(--white);
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;
        }
        & > .pformright > input {
            display: none;
        }
    }
    #enter-your-post textarea {
        width: 100%;
        border-radius: 3px;
        border: 0;
        background: var(--light);
        margin: 0;
        padding: 15px;
    }
}

#UserCP,
#Msg,
#store,
#modcp {
    main > table,
    main > table > tbody,
    main > table > tbody > tr,
    main > table > tbody > tr > td {
        position: relative;
    }

    main > table  ~ div[align="right"] {
        padding: 20px 15px 15px 20px;
        border-bottom: 1px solid var(--midGrey-70);
    }

    main > table > tbody > tr {
        display: grid;
        grid-template-columns: 200px 0 auto;
        border-top: 1px solid var(--midGrey-70);
        border-bottom: 1px solid var(--midGrey-70);
    }

    main > table:first-child > tbody > tr > td:first-child,
    #ucpmenu {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-right: 1px solid var(--midGrey-70);
        gap: 5px;

        b {
            font-family: var(--serif);
            font-size: var(--xlBody);
            margin-top: 20px;
            color: var(--white);

            &:first-child {
                margin-top: 0;
            }
        }

        a {
            background: var(--light);
            color: var(--dark);
            padding: 10px 20px;
            font-size: var(--mBody);
            font-family: var(--serif);
            text-transform: capitalize;
            border-radius: 2px;
            text-align: center;

            &:hover {
                background: var(--accent);
                color: var(--white);
            }
        }
    }

    main > table:first-child > tbody > tr > td:first-child {
        width: auto !important;
    }
}