/*******************************
    Navigation
********************************/
nav {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--white);
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    padding: 20px;
    z-index: 11;

    a {
        color: var(--white);
    }

    #navstrip {
        font-size: var(--xsBody);
        font-family: var(--body);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;

        & > a:first-child {
            display: block;
            font-size: var(--xlBody);
            font-family: var(--serif);
            font-weight: 700;
            text-transform: none;
            margin-bottom: 5px;
        }

        & > span:first-of-type {
            display: none;
        }

        & > span {
            display: inline-block;
            margin: 0 5px;
        }

        & > a {
            font-size: var(--xsBody);
            font-family: var(--body);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 300;
        }
    }

    .ucp {
        display: flex;
        gap: 20px;
        font-family: var(--serif);
        font-size: var(--xlBody);
        font-weight: 700;
        align-items: center;

        &.ucp-mobile {
            flex-direction: column;
            align-items: end;
        }

        &--menu-mobile {
            position: fixed;
            top: 0;
            right: 0;
            background: var(--light);
            list-style-type: none;
            margin: 0;
            padding: 10px 10px 20px 20px;
            width: 100%;
            max-width: 400px;
            height: 100vh;
            color: var(--dark);
            transform: translateX(100%);
            transition-duration: 0.75s;

            &.active {
                transform: translateX(0);
            }

            .scroll {
                height: calc(100vh - 52px);
                margin-top: 10px;
            }

            .close {
                border: 0;
                background: var(--accent);
                color: var(--dark);
                font-size: var(--xsBody);
                padding: 6px 10px;
                border-radius: 2px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0 0 0 auto;
                display: grid;
                grid-template-columns: max-content max-content;
                align-items: center;
                grid-gap: 7px;
                cursor: pointer;
            }

            .name,
            .name a {
                font-size: 24px;
                text-align: center;
            }
            
            .name {
                padding: 10px 20px;
            }

            a {
                color: var(--dark);
                font-size: var(--xlBody);
                display: block;
                text-align: center;
                padding: 10px 20px;
            }

            hr {
                border: 0;
                border-bottom: 1px solid var(--accent) !important;
            }

            select {
                width: 100%;
                border: 0;
                background: var(--accent);
                padding: 10px 20px;
                font-family: var(--serif);
                font-size: var(--xlBody);
                border-radius: 2px;
            }

            button:not(.close) {
                border: 0;
                font-family: var(--serif);
                font-size: var(--xlBody);
                text-align: center;
                width: 100%;
                padding: 10px 20px;
                font-weight: 700;
                background: none;
                color: var(--dark);
            }
        }

        & > button {
            border: none;
            background: var(--light);
            color: var(--dark);
            font-family: var(--serif);
            font-size: var(--xlBody);
            font-weight: 700;
            padding: 10px 20px;
            border-radius: 2px;
            cursor: pointer;
        }

        &--menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;

            & > li {
                cursor: default;

                & > ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 10px 0 0 0;
                    position: absolute;
                    display: none;
                    transform: translateX(-50%);
                    left: 50%;
                    gap: 20px;
                    z-index: 11;

                    & > span {
                        display: flex;
                        background: var(--light);
                        border-radius: 2px;

                        &:before {
                            content: '';
                            width: 14px;
                            position: absolute;
                            top: -5px;
                            height: 5px;
                            background: var(--light);
                            left: calc(50% - 7px);
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        }

                        & li button {
                            border: none;
                            background: none;
                            color: var(--dark);
                            font-family: var(--serif);
                            padding: 5px 10px;
                            font-size: var(--mBody);
                            white-space: nowrap;
                            cursor: pointer;
                        }

                        a {
                            display: block;
                            color: var(--dark);
                            font-family: var(--serif);
                            font-size: var(--mBody);
                            padding: 5px 10px;
                            white-space: nowrap;
                        }
                    }

                    &.staff > span:before {
                        left: auto;
                        right: 10px;
                    }
                }

                &:hover > ul {
                    display: flex;

                    &.staff {
                        left: auto;
                        right: 0;
                        transform: none;
                    }
                }
            }
        }
    }

}