/*******************************
    Post Row
********************************/
#ST {
    main > table {
        position: relative;
        background: var(--black);
        display: block;
        padding: 15px;
        font-family: var(--serif);
        font-size: var(--xlBody);
        color: var(--white);
        border-bottom: 1px solid var(--midGrey-70);

        a {
            color: var(--white);
        }

        & > tbody > tr {
            display: flex;
            justify-content: space-between;
            gap: 30px;

            & > td:last-child {
                display: flex;
                gap: 20px;
            }
        }

        .pagination_pagetxt {
            display: none;
        }
    }

    .bar {
        padding: 30px 30px 0 !important;
        font-size: 0;
        text-align: right;

        & > div {
            float: none !important;
        }

        & + br + div[align="right"] {
            padding: 0 30px 25px;
            font-size: 0;
        }
    }

    .bar,
    .bar + br + div[align="right"] {
        input[type="submit"] {
            top: -0.5px;
        }

        input[type="submit"],
        input[type="button"],
        select {
            background: var(--light);
            border: 0;
            padding: 6.5px 10px;
            border-radius: 2px;
            color: var(--dark);
            font-size: var(--xsBody);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: var(--body);
            font-weight: 500;
            line-height: var(--sBody);
            margin: 0 5px 5px 0;
        }
        input[type="text"] {
            background: var(--light);
            border: 0;
            padding: 5px 10px;
            border-radius: 2px;
            color: var(--dark);
            font-size: var(--sBody);
            letter-spacing: 1px;
            font-family: var(--body);
            font-weight: 500;
            line-height: var(--sBody);
            margin: 0 5px 5px 0;
        }

        option {
            font-size: var(--mBody);
        }
    }

    .maintitle {
        margin: 0;
        padding: 100px 30px;
        text-align: center;
        font-family: var(--serif);
        font-size: 36px;
        text-transform: capitalize;
        color: var(--white);
        border-top: 1px solid var(--midGrey-70);
        border-bottom: 1px solid var(--midGrey-70);

        & > a:first-child {
            position: absolute;
            top: 15px;
            right: 17.5px;
            font-family: var(--body);
            font-size: var(--xsBody);
            text-transform: uppercase;
            color: var(--white);
            letter-spacing: 2px;
            font-weight: 600;

            &:before {
                content: '[\0020';
                font-size: var(--mBody);
            }

            &:after {
                content: '\0020]';
                font-size: var(--mBody);
            }
        }

        .topic-desc {
            display: block;
            font-family: var(--body);
            font-size: var(--xsBody);
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 4px;
            margin-top: 10px;
            z-index: 2;
            position: relative;

            .threadDate {
                background: var(--light);
                color: var(--dark);
                font-weight: 600;
                letter-spacing: 1px;
                padding: 2px 5px;
                border-radius: 2px;
                display: block;
                max-width: max-content;
                margin: 19px auto 0;
            }
        }
    }

    .postlinksbar {
        display: none;
    }

    .activeuserstrip,
    .activeuserstrip + .row2 {
        background: var(--black);
        color: var(--white);
        font-size: var(--xsBody);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        padding: 0 15px;

        a {
            color: var(--white);
        }
    }
    .activeuserstrip + .row2 {
        padding: 15px !important;
    }
    .activeuserstrip:last-child {
        padding-bottom: 15px;
        border-bottom: 1px solid var(--midGrey-70);
    }
}

.post {
    color: var(--white);
    display: grid;
    grid-template-columns: 2.75fr 1fr;
    grid-template-rows: 120px auto;

    & + .activeuserstrip {
        padding-top: 15px !important;
    }

    &--top {
        grid-column: span 2;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 13px;
        border-bottom: 1px solid var(--midGrey-70);
        background: var(--headerImage);
        z-index: 3;
        background-attachment: fixed;
        background-size: cover;
        position: sticky;
        top: 55px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--headerOverlay);
            mix-blend-mode: var(--headerBlend);
            opacity: var(--headerOpacity);
        }
    }

    &--name {
        display: block;
        font-family: var(--serif);
        font-size: 30px;
        color: var(--white);
        line-height: 30px;
    }

    &--buttons {
        display: flex;
        gap: 30px;
        font-size: var(--xsBody);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        margin-left: 2px;
        line-height: var(--xsBody);

        a {
            color: var(--white);
        }
    }

    &--info {
        border-bottom: 1px solid var(--midGrey-70);
    }

    &--sticky {
        position: sticky;
        top: 175px;
    }

    &--tab {
        flex: 0 0 100%;
        width: 100%;
        left: 0;
        transition-duration: 0.75s;

        &:not(.post--image) {
            padding: 30px;
        }

        &-set {
            width: 100%;
            height: calc(100vh - 235px);
            border-bottom: 1px solid var(--midGrey-70);
            overflow: hidden;
            display: flex;
        }
    }

    &--label {
        background: none;
        border: 0;
        border-radius: 0;
        color: var(--white);
        padding: 20px;
        height: 60px;

        i.fal {
            font-size: var(--xlBody);
        }

        &:not(:last-child) {
            border-right: 1px solid var(--midGrey-70);
        }

        &:hover:not(.active) {
            background: var(--accent-25);
            cursor: pointer;

            i.fal {
                font-weight: normal;
            }
        }

        &.active {
            background: var(--accent-50);

            i.fal {
                font-weight: normal;
            }
        }

        &-set {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        }
    }

    &--image {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--headerOverlay);
            mix-blend-mode: var(--headerBlend);
            opacity: var(--headerOpacity);
            z-index: 2;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--main {
        border-bottom: 1px solid var(--midGrey-70);
        border-right: 1px solid var(--midGrey-70);
        padding: 50px;
        font-size: calc(var(--mBody) + 0.75px);
        line-height: 240%;
        text-align: justify;
        letter-spacing: 0.7px;
        font-weight: 300;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--headerOverlay);
            mix-blend-mode: var(--headerBlend);
            opacity: var(--headerOpacity);
            z-index: 1;
            opacity: 0.5;
        }

        &-inner {
            max-width: 600px;
            margin: 0 auto;
            z-index: 2;
        }
    }
}