/*******************************
    Post Row
********************************/
#ST {
    main > table {
        position: relative;
        background: var(--black);
        display: block;
        padding: 15px;
        font-family: var(--serif);
        font-size: var(--xlBody);
        color: var(--white);
        border-bottom: 1px solid var(--midGrey-70);

        a {
            color: var(--white);
        }

        & > tbody > tr {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;

            & > td:last-child {
                display: flex;
                gap: 20px;
            }
        }

        .pagination_pagetxt {
            display: none;
        }

        .pagination_current {
            display: inline-block;
            background: var(--accent);
            padding: 5px 10px;
            margin: 0 5px;
            border-radius: 3px;
        }
        .pagination_page {
            padding: 5px;
            margin: 0 5px;
        }
    }

    .bar {
        padding: 30px 30px 0 !important;
        font-size: 0;
        text-align: right;

        & > div {
            float: none !important;
        }

        & + br + div[align="right"] {
            padding: 0 30px 25px;
            font-size: 0;
        }
    }

    .bar,
    .bar + br + div[align="right"] {
        input[type="submit"] {
            top: -0.5px;
        }

        input[type="submit"],
        input[type="button"],
        select {
            background: var(--light);
            border: 0;
            padding: 6.5px 10px;
            border-radius: 2px;
            color: var(--dark);
            font-size: var(--xsBody);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: var(--body);
            font-weight: 500;
            line-height: var(--sBody);
            margin: 0 5px 5px 0;
        }
        input[type="text"] {
            background: var(--light);
            border: 0;
            padding: 5px 10px;
            border-radius: 2px;
            color: var(--dark);
            font-size: var(--sBody);
            letter-spacing: 1px;
            font-family: var(--body);
            font-weight: 500;
            line-height: var(--sBody);
            margin: 0 5px 5px 0;
        }

        option {
            font-size: var(--mBody);
        }
    }

    .maintitle {
        margin: 0;
        padding: 100px 30px;
        text-align: center;
        font-family: var(--serif);
        font-size: 36px;
        text-transform: capitalize;
        color: var(--white);
        border-top: 1px solid var(--midGrey-70);
        border-bottom: 1px solid var(--midGrey-70);

        & > a:first-child {
            position: absolute;
            top: 15px;
            right: 17.5px;
            font-family: var(--body);
            font-size: var(--xsBody);
            text-transform: uppercase;
            color: var(--white);
            letter-spacing: 2px;
            font-weight: 600;

            &:before {
                content: '[\0020';
                font-size: var(--mBody);
            }

            &:after {
                content: '\0020]';
                font-size: var(--mBody);
            }
        }

        .topic-desc {
            display: block;
            font-family: var(--body);
            font-size: var(--xsBody);
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 4px;
            margin-top: 10px;
            z-index: 2;
            position: relative;

            .threadDate {
                background: var(--light);
                color: var(--dark);
                font-weight: 600;
                letter-spacing: 1px;
                padding: 2px 5px;
                border-radius: 2px;
                display: block;
                max-width: max-content;
                margin: 19px auto 0;
            }
        }
    }

    .postlinksbar {
        display: none;
    }

    .activeuserstrip,
    .activeuserstrip + .row2 {
        background: var(--black);
        color: var(--white);
        font-size: var(--xsBody);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;
        padding: 0 15px;

        a {
            color: var(--white);
        }
    }
    .activeuserstrip + .row2 {
        padding: 15px !important;
    }
    .activeuserstrip:last-child {
        padding-bottom: 15px;
        border-bottom: 1px solid var(--midGrey-70);
    }

    .goto-firstunread {
        display: block;

        @media only screen and (min-width: $md) {
            display: inline;
        }
    }
}

.post {
    color: var(--white);
    display: grid;
    grid-template-rows: auto auto 251px;

    @media only screen and (min-width: $md) {
        grid-template-rows: 120px auto 251px;
    }

    @media only screen and (min-width: $lg) {
        grid-template-columns: 70% 30%;
        grid-template-rows: 120px auto;
    }

    & + .activeuserstrip {
        padding-top: 15px !important;
    }

    &--top {
        padding: 30px 30px 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 13px;
        border-bottom: 1px solid var(--midGrey-70);
        background: var(--headerImage);
        z-index: 3;
        background-attachment: fixed;
        background-size: cover;
        position: sticky;
        top: 50px;

        @media only screen and (min-width: $md) {
            padding: 0 30px;
        }

        @media only screen and (min-width: $lg) {
            grid-column: span 2;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--headerOverlay);
            mix-blend-mode: var(--headerBlend);
            opacity: var(--headerOpacity);
        }
    }

    &--name {
        display: block;
        font-family: var(--serif);
        font-size: 22px;
        color: var(--white);
        line-height: 30px;

        @media only screen and (min-width: $sm) {
            font-size: 30px;
        }
    }

    &--buttons {
        display: flex;
        gap: 10px 30px;
        flex-wrap: wrap;
        font-size: var(--xsBody);
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        margin-left: 2px;
        line-height: var(--xsBody);

        a {
            color: var(--white);
        }
    }

    &--info {
        border-bottom: 1px solid var(--midGrey-70);
    }

    &--sticky {
        display: grid;
        grid-template-columns: auto 100px;

        @media only screen and (min-width: $lg) {
            display: block;
            grid-template: none;
            position: sticky;
            top: 170px;
        }
    }

    &--tab {
        flex: 0 0 100%;
        width: 100%;
        left: 0;
        transition-duration: 0.75s;

        &:not(.post--image) {
            padding: 30px;
        }

        &-set {
            width: 100%;
            height: 250px;
            border-right: 1px solid var(--midGrey-70);
            overflow: hidden;
            display: flex;

            @media only screen and (min-width: $lg) {
                height: calc(100vh - 230px);
                border-bottom: 1px solid var(--midGrey-70);
                border-right: 0;
            }
        }

        &-scroll {
            display: grid;
            gap: 30px;
            height: 100%;
            max-height: 100%;

            @media only screen and (min-width: $sm) {
                grid-template-columns: 1fr 1fr;
            }

            @media only screen and (min-width: $lg) {
                display: flex;
                flex-direction: column;
            }
        }
    }

    &--mini-item {
        display: grid;
        font-size: calc(var(--xlBody) + 4px);
        font-family: var(--serif);
        grid-gap: 3px;
        margin-left: 10px;
        height: max-content;

        @media only screen and (min-width: $lg) {
            height: auto;
        }

        &.full-width {
            @media only screen and (min-width: $sm) {
                grid-column: span 2;
            }
            @media only screen and (min-width: $lg) {
                grid-column: span 1;
            }
        }

        strong {
            order: 1;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            font-size: var(--xsBody);
            font-family: var(--body);
            max-width: max-content;

            & > span {
                z-index: 2;
            }

            &:after {
                content: '';
                width: calc(100% + 10px);
                height: 7px;
                background: var(--accent);
                display: block;
                position: absolute;
                top: calc((var(--xsBody) / 2) + 1px);
                left: -6px;
                z-index: 1;
            }
        }

        .scroll {
            font-size: var(--mBody);
            font-family: var(--body);
            text-align: justify;
            line-height: 200%;
            margin-bottom: 5px;
        }
    }

    &--label {
        background: none;
        border: 0;
        border-radius: 0;
        color: var(--white);
        padding: 20px;

        @media only screen and (min-width: $lg) {
            height: 60px;
        }

        i.fal {
            font-size: var(--xlBody);
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--midGrey-70);

            @media only screen and (min-width: $lg) {
                border-right: 1px solid var(--midGrey-70);
                border-bottom: 0;
            }
        }

        &:hover:not(.active) {
            background: var(--accent-25);
            cursor: pointer;

            i.fal {
                font-weight: normal;
            }
        }

        &.active {
            background: var(--accent-50);

            i.fal {
                font-weight: normal;
            }
        }

        &-set {
            width: 100px;
            height: 250px;
            display: grid;

            @media only screen and (min-width: $lg) {
                width: 100%;
                height: auto;
                grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
            }
        }
    }

    &--image {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--headerOverlay);
            mix-blend-mode: var(--headerBlend);
            opacity: var(--headerOpacity);
            z-index: 2;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &-desktop {
            display: none;
            
            @media only screen and (min-width: $lg) {
                display: block;
            }
        }

        &-mobile {
            display: block;
            
            @media only screen and (min-width: $lg) {
                display: none;
            }
        }
    }

    &--date {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px 15px;
        background: var(--black);
        border-top: 1px solid var(--midGrey-70);
        font-size: var(--xsBody);
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 300;
        z-index: 2;
        opacity: 0.8;
        text-align: right;
        display: grid;
        grid-template-columns: 16px auto;
        grid-gap: 15px;
        align-items: center;

        label {
            & > input {
                display: none;

                &:checked + div {
                    color: var(--dark);
                }
            }
            & > div {
                width: 16px;
                height: 16px;
                border-radius: 2px;
                background: var(--light);
                display: grid;
                justify-items: center;
                align-items: center;
                text-align: center;
                font-size: 12px;
                font-weight: bold;
                color: transparent;
                cursor: pointer;

                i.fa-times {
                    left: 1px;
                }
            }
        }
    }

    &--main {
        border-bottom: 1px solid var(--midGrey-70);
        border-right: 1px solid var(--midGrey-70);
        padding: 10px 20px;
        font-size: calc(var(--mBody) + 0.75px);
        line-height: 240%;
        text-align: justify;
        letter-spacing: 0.7px;
        font-weight: 300;

        @media only screen and (min-width: $sm) {
            padding: 50px;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--headerOverlay);
            mix-blend-mode: var(--headerBlend);
            opacity: var(--headerOpacity);
            z-index: 1;
            opacity: 0.5;
        }

        &-inner {
            max-width: 700px;
            margin: 0 auto;
            z-index: 2;
        }
    }
}