/*******************************
    Topic List
********************************/
#SF {
    .f-35,
    .f-36,
    .f-37,
    .f-38,
    .f-39 {
        & + table {
            border-top: 1px solid var(--midGrey-70);
        }
    }

    main > script + table {
        border-top: 1px solid var(--midGrey-70);
    }
    main > table,
    main > form > table {
        position: relative;
        background: var(--black);
        display: block;
        padding: 15px;
        font-family: var(--serif);
        font-size: var(--xlBody);
        color: var(--white);
        border-bottom: 1px solid var(--midGrey-70);

        a {
            color: var(--white);
        }

        & > tbody > tr {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 30px;

            & > td:last-child {
                display: flex;
                gap: 20px;
            }
        }

        .pagination_pagetxt {
            display: none;
        }

        .pagination_current {
            display: inline-block;
            background: var(--accent);
            padding: 5px 10px;
            margin: 0 5px;
            border-radius: 3px;
        }
        .pagination_page {
            padding: 5px;
            margin: 0 5px;
        }
    }

    main > form > br,
    .wrapmini {
        display: none;
    }

    .wrapmini + div[align="right"],
    .wrapmini + div[align="right"] {
        padding: 30px 30px 25px;
        font-size: 0;

        input[type="submit"] {
            top: -0.5px;
        }

        input[type="submit"],
        input[type="button"],
        select {
            background: var(--light);
            border: 0;
            padding: 6.5px 10px;
            border-radius: 2px;
            color: var(--dark);
            font-size: var(--xsBody);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: var(--body);
            font-weight: 500;
            line-height: var(--sBody);
            margin: 0 5px 5px 0;
        }
        input[type="text"] {
            background: var(--light);
            border: 0;
            padding: 5px 10px;
            border-radius: 2px;
            color: var(--dark);
            font-size: var(--sBody);
            letter-spacing: 1px;
            font-family: var(--body);
            font-weight: 500;
            line-height: var(--sBody);
            margin: 0 5px 5px 0;
        }

        option {
            font-size: var(--mBody);
        }
    }
}

.topic {
    padding: 30px;
    border-bottom: 1px solid var(--midGrey-70);

    &--stats {
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 4px;
        font-weight: 400;
        
        b {
            font-weight: 800;
        }

        a {
            color: var(--white);
        }

        .small {
            font-size: 0;

            &:before {
                content: ' | ';
                font-size: var(--xsBody);
                margin-right: -26px;
            }

            a {
                font-size: var(--xsBody);

                &:first-child:before {
                    content: 'Pages ';
                    margin-right: 5px;
                    font-weight: 800;
                }
            }
        }
    }

    &--name {
        font-family: var(--serif);
        font-size: 20px;
        letter-spacing: 1px;
        margin: 10px 0 0;
        line-height: 160%;

        a {
            color: var(--white);
        }

        .marked & {
            & a:before {
                content: '';
                position: absolute;
                bottom: calc(50% - 2.5px);
                left: -13px;
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
        }

        .marked.new & {
            & a:before {
                background: var(--textAccent);
            }
        }
    }

    &--desc {
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 2px;
        margin-top: 12px;
        margin-left: 5px;

        &:empty {
            display: none;
        }

        &:before {
            content: '\21B3 \0020';
        }

        .threadDate {
            background: var(--light);
            color: var(--dark);
            font-weight: 600;
            letter-spacing: 1px;
            padding: 2px 5px;
            border-radius: 2px;
        }
    }

    &--info {
        display: grid;
        grid-gap: 30px;
        padding: 25px 0 0;

        @media only screen and (min-width: $md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--player {
        display: grid;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: var(--xsBody);
        grid-gap: 5px;

        & > span {
            display: grid;
            grid-template-columns: 16px auto;
            grid-gap: 10px;
            align-items: center;
            height: 24px;
        }

        a {
            color: var(--white);
        }

        i.fal {
            font-size: var(--lBody);
            line-height: var(--lBody);
        }

        &.topic--start a {
            color: var(--textAccent);

            &:before {
                content: 'Started by ';
                color: var(--white);
            }
        }

        &.topic--last a {
            color: var(--textAccent);
            
            &:before {
                content: 'Last post by ';
                color: var(--white);
            }
        }
    }

    &--end {
        background: var(--black);
        border-bottom: 1px solid var(--midGrey-70);
        padding: 15px;
        text-align: center;
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 2px;

        a {
            color: var(--white);
        }
    }
}