/*******************************
    Font Imports
********************************/
@font-face {
    font-family: 'troye serif';
    src: url('../fonts/troyeserif.woff2') format('woff2'),
         url('../fonts/troyeserif.woff') format('woff'),
         url('../fonts/troyeserif.ttf') format('truetype'),
         url('../fonts/troyeserif.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}


/*******************************
    Global
********************************/

* {
    position: relative;
    box-sizing: border-box;

    &:not(textarea),
    &::before,
    &::after {
        transition-duration: 0.5s;
    }
}
html {
    height: -webkit-fill-available;
}
a {
    text-decoration: none;
    color: var(--text);
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 0;
    margin: 0;
    font-family: var(--bodyFont);
    background: var(--background);
    color: var(--text);
    overflow-x: hidden;
    
    &.g-2 {
        .memOnly {
            display: none;
        }
    }
    
    &:not(.g-2) {
        .guestOnly {
            display: none;
        }
    }
    
    &:not(.g-4) {
        .staffOnly {
            display: none;
        }
    }
}
hr {
    width: 60%;
    height: 1px;
    border: none;
    background: var(--lmGrey);
    margin: 10px auto;
    opacity: var(--hrOpacity);
}
main {
    min-height: 100vh;
    padding: 0 20px;
    left: 50px;
    width: calc(100% - 50px);

    @media only screen and (min-width: $sm) {
        padding: 0 40px;
    }

    @media only screen and (min-width: $md) {
        width: calc(100% - 100px);
    }

    @media only screen and (min-width: $lg) {
        padding: 0 80px;
    }

    #Profile &,
    #Pages & {
        padding: 0;
        width: 100%;
        left: 0;
    }
}

.anchorLink {
    height: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0;

    &[name="tobottom"] {
        top: auto;
        bottom: 0;
    }
}

.grid {
    display: grid;

    &.twoCol {
        grid-template-columns: repeat(1, 1fr);

        @media only screen and (min-width: $md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &.threeCol {
        grid-template-columns: repeat(1, 1fr);

        @media only screen and (min-width: $md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: $lg) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &.fourCol {
        grid-template-columns: repeat(1, 1fr);

        @media only screen and (min-width: $md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: $lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (min-width: $xl) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .fullWidth {
        grid-column: 1 / -1;
    }

    .twoWide {
        @media only screen and (min-width: $md) {
            grid-column: span 2;
        }
    }
}

.justify {
    text-align: justify;
}

luxblock {
    max-width: 850px;
    display: block;
    margin: 0 auto;
}

.fa-solid,
.fa-regular,
.fa-light,
.fa-thin {
    font-style: normal !important;
    font-family: 'Font Awesome 6 Pro' !important;
}
.fa-brand {
    font-style: normal !important;
    font-family: 'Font Awesome 6 Brands' !important;
}
.fa-solid {
    font-weight: 700 !important;
}
.fa-regular {
    font-weight: 500 !important;
}
.fa-light {
    font-weight: 300 !important;
}
.fa-thin {
    font-weight: 100 !important;
}

.scroll {
    overflow: auto;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
}

.dark .lightOnly,
.light .darkOnly,
.lrgFont .smallOnly,
.smlFont .largeOnly {
    display: none;
}

.macro {
    &--button {
        text-align: center;
        font-family: var(--accentFont);
        text-transform: capitalize;
        font-size: var(--xlBody);
        display: inline-grid;
        align-items: center;
        justify-items: center;
        line-height: var(--xlBody);
        grid-gap: 15px;
        grid-template-columns: 30px auto 30px;
        margin-right: 10px;

        &:hover hr::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            background: var(--accent-70);
        }

        hr {
            width: 30px;
            margin-right: 0;
            top: -2px;

            &::before {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid var(--lmGrey);
                top: -5px;
                position: relative;
                background: var(--background);
                clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
                left: -10px;
            }

            &:last-child {
                transform: rotate(180deg);
                margin-right: auto;
                margin-left: 0;

                &::before {
                    top: -6px;
                }
            }
        }
    }
}

.wrapmini,
.subforums-macro,
.newstext,
#submenu,
#userlinks,
.hide {
    display: none !important;
}

input,
select {
    background: var(--content);
    line-height: 100%;
    padding: 8px 15px;
    border: 0;
    font-size: var(--mBody);
}
input[type="submit"],
input[type="button"] {
    padding: 9.5px 15px;
}
#delcookiesrow,
#mark-as-read-subto {
    text-align: center;
    font-size: var(--xsBody);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 15px;
}

@media only screen and (max-width: $md) {
    .notMobile {
        display: none !important;
    }
}

@media only screen and (min-width: $md) {
    .mobileOnly {
        display: none !important;
    }
}