/******* Settings ********/
:root {
    --sidebarWidth: 300px;

    @media only screen and (max-width: $xs) {
        --sidebarWidth: 250px;
    }
}

.main-nav--links a::after,
.forum--subforums a::after,
.profile--header-links a::after,
.profile--sub a::after,
.tracker--labels button::after,
.stats--links a span::after,
.webpage--main-menu a::after,
.webpage--sub-menu a::after {
  content: "\f178";
}