/*******************************
    Variables
********************************/
:root {
    --accentFont: 'linotype-didot', serif;
    --headerFont: 'source code pro', monospace;
    --bodyFont: 'montserrat', sans-serif;

    --black: rgba(12, 12, 12, 1);
    --offBlack: rgba(18, 18, 18, 1);
    --dkGrey: rgba(26, 26, 26, 1);
    --mdGrey: rgba(40, 40, 40, 1);
    --lmGrey: rgba(150, 150, 150, 1);
    --ltGrey: rgba(134, 134, 134, 1);
    --xltGrey: rgba(170, 170, 170, 1);
    --offWhite: rgba(215, 215, 215, 1);
    --white: rgba(235, 235, 235, 1);
}
.smlFont {
    --xsBody: 8px;
    --sBody: 10px;
    --mBody: 12px;
    --lBody: 14px;
    --xlBody: 16px;
}
.lrgFont {
    --xsBody: 10px;
    --sBody: 12px;
    --mBody: 14px;
    --lBody: 16px;
    --xlBody: 18px;
}
.light {
    --background: var(--offWhite);
    --content: var(--white);
    --dark: var(--mdGrey);
    --headerText: var(--offWhite);
    --text: var(--mdGrey);
    --light: var(--ltGrey);
    --overlayText: var(--mdGrey);
    --opacityShift: 1;
    --subHoverText: var(--mdGrey);
    --menuLink: var(--mdGrey);
    --menuBG: var(--dkGrey);

    --accentColor: var(--black);
    --accent: rgba(87, 188, 210, 1);
    --ltaccent: rgba(87, 188, 210, 1);

    /**************************
    Validating, Guests
    **************************/
    .g-1,
    .g-2,
    &.g-1,
    &.g-2 { 
      --accentColor: var(--black);
      --accent: rgba(196, 177, 125, 1);
      --ltaccent: rgba(225, 210, 166, 1);
    }

    /**************************
    Unsorted
    **************************/
    .g-3,
    &.g-3 { 
      --accentColor: var(--black);
      --accent: rgba(189, 133, 92, 1);
      --ltaccent: rgba(215, 159, 118, 1);
    }

    /**************************
    Admin
    **************************/
    .g-4,
    &.g-4 { 
      --accentColor: var(--black);
      --accent: rgba(110, 130, 155, 1);
      --ltaccent: rgba(142, 161, 185, 1);
    }

    /**************************
    Banned, Inactive, Hiatus
    **************************/
    .g-5,
    .g-10,
    .g-19,
    &.g-5,
    &.g-10,
    &.g-19 { 
      --accentColor: var(--black);
      --accent: rgba(196, 196, 196, 1);
      --ltaccent: rgba(220, 220, 220, 1);
    }

    /**************************
    Adults
    **************************/
    adults,
    .adults,
    .g-6,
    &.g-6 { 
      --accentColor: var(--white);
      --accent: rgba(179, 73, 85, 1);
      --ltaccent: rgba(200, 107, 118, 1);
    }

    /**************************
    Gryffindor
    **************************/
    gryffindor,
    .gryffindor,
    .g-7,
    &.g-7 { 
      --accentColor: var(--white);
      --accent: rgba(147, 42, 47, 1);
      --ltaccent: rgba(176, 58, 63, 1);
    }

    /**************************
    Hogwarts Staff
    **************************/
    hogwarts,
    .hogwarts,
    .g-8,
    &.g-8 { 
      --accentColor: var(--white);
      --accent: rgba(97, 86, 153, 1);
      --ltaccent: rgba(123, 113, 170, 1);
    }

    /**************************
    Hufflepuff
    **************************/
    hufflepuff,
    .hufflepuff,
    .g-9,
    &.g-9 { 
      --accentColor: var(--black);
      --accent: rgba(183, 148, 117, 1);
      --ltaccent: rgba(213, 177, 146, 1);
    }

    /**************************
    Press
    **************************/
    press,
    .press,
    .g-11,
    &.g-11 { 
      --accentColor: var(--black);
      --accent: rgba(176, 134, 84, 1);
      --ltaccent: rgba(200, 160, 112, 1);
    }

    /**************************
    Ministry
    **************************/
    ministry,
    .ministry,
    .g-12,
    &.g-12 {
      --accentColor: var(--white);
      --accent: rgba(78, 134, 126, 1);
      --ltaccent: rgba(101, 157, 149, 1);
    }

    /**************************
    Quidditch
    **************************/
    quidditch,
    .quidditch,
    .g-13,
    &.g-13 { 
      --accentColor: var(--black);
      --accent: rgba(146, 130, 157, 1);
      --ltaccent: rgba(166, 148, 179, 1);
    }

    /**************************
    Ravenclaw
    **************************/
    ravenclaw,
    .ravenclaw,
    .g-14,
    &.g-14 { 
      --accentColor: var(--white);
      --accent: rgba(65, 91, 142, 1);
      --ltaccent: rgba(86, 113, 166, 1);
    }

    /**************************
    Healers
    **************************/
    healers,
    .healers,
    .g-15,
    &.g-15 { 
      --accentColor: var(--white);
      --accent: rgba(88, 123, 83, 1);
      --ltaccent: rgba(102, 142, 96, 1);
    }

    /**************************
    Slytherin
    **************************/
    slytherin,
    .slytherin,
    .g-16,
    &.g-16 { 
      --accentColor: var(--white);
      --accent: rgba(45, 91, 61, 1);
      --ltaccent: rgba(60, 113, 78, 1);
    }

    /**************************
    Returners
    **************************/
    returners,
    .returners,
    .g-17,
    &.g-17 { 
      --accentColor: var(--white);
      --accent: rgba(90, 137, 151, 1);
      --ltaccent: rgba(105, 154, 168, 1);
    }

    /**************************
    Entertainment
    **************************/
    entertainment,
    .entertainment,
    .g-18,
    &.g-18 { 
      --accentColor: var(--black);
      --accent: rgba(82, 154, 162, 1);
      --ltaccent: rgba(108, 181, 189, 1);
    }

    /**************************
    Members
    **************************/
    .g-20,
    &.g-20 {
      --accentColor: var(--black);
      --accent: rgba(97, 177, 202, 1);
      --ltaccent: rgba(130, 201, 223, 1);
    }
}
.dark {
    --background: var(--mdGrey);
    --content: var(--offBlack);
    --dark: var(--offBlack);
    --headerText: var(--lmGrey);
    --text: var(--xltGrey);
    --light: var(--mdGrey);
    --overlayText: var(--offWhite);
    --opacityShift: 0.8;
    --subHoverText: var(--ltaccent);
    --menuLink: var(--mdGrey);
    --menuBG: var(--dkGrey);

    --accentColor: var(--black);
    --accent: rgba(87, 188, 210, 1);
    --ltaccent: rgba(87, 188, 210, 1);

    /**************************
    Validating, Guests
    **************************/
    .g-1,
    .g-2,
    &.g-1,
    &.g-2 { 
      --accentColor: var(--black);
      --ltaccent: rgba(196, 177, 125, 1);
      --accent: rgba(225, 210, 166, 1);
    }

    /**************************
    Unsorted
    **************************/
    .g-3,
    &.g-3 { 
      --accentColor: var(--black);
      --ltaccent: rgba(189, 133, 92, 1);
      --accent: rgba(215, 159, 118, 1);
    }

    /**************************
    Admin
    **************************/
    .g-4,
    &.g-4 { 
      --accentColor: var(--black);
      --ltaccent: rgba(110, 130, 155, 1);
      --accent: rgba(97, 116, 140, 1);
    }

    /**************************
    Banned, Inactive, Hiatus
    **************************/
    .g-5,
    .g-10,
    .g-19,
    &.g-5,
    &.g-10,
    &.g-19 { 
      --accentColor: var(--black);
      --ltaccent: rgba(196, 196, 196, 1);
      --accent: rgba(220, 220, 220, 1);
    }

    /**************************
    Adults
    **************************/
    adults,
    .adults,
    .g-6,
    &.g-6 { 
      --accentColor: var(--white);
      --ltaccent: rgba(179, 73, 85, 1);
      --accent: rgba(200, 107, 118, 1);
    }

    /**************************
    Gryffindor
    **************************/
    gryffindor,
    .gryffindor,
    .g-7,
    &.g-7 { 
      --accentColor: var(--white);
      --ltaccent: rgba(147, 42, 47, 1);
      --accent: rgba(176, 58, 63, 1);
    }

    /**************************
    Hogwarts Staff
    **************************/
    hogwarts,
    .hogwarts,
    .g-8,
    &.g-8 { 
      --accentColor: var(--white);
      --ltaccent: rgba(97, 86, 153, 1);
      --accent: rgba(123, 113, 170, 1);
    }

    /**************************
    Hufflepuff
    **************************/
    hufflepuff,
    .hufflepuff,
    .g-9,
    &.g-9 { 
      --accentColor: var(--black);
      --ltaccent: rgba(183, 148, 117, 1);
      --accent: rgba(213, 177, 146, 1);
    }

    /**************************
    Press
    **************************/
    press,
    .press,
    .g-11,
    &.g-11 { 
      --accentColor: var(--black);
      --ltaccent: rgba(176, 134, 84, 1);
      --accent: rgba(200, 160, 112, 1);
    }

    /**************************
    Ministry
    **************************/
    ministry,
    .ministry,
    .g-12,
    &.g-12 {
      --accentColor: var(--white);
      --ltaccent: rgba(78, 134, 126, 1);
      --accent: rgba(101, 157, 149, 1);
    }

    /**************************
    Quidditch
    **************************/
    quidditch,
    .quidditch,
    .g-13,
    &.g-13 { 
      --accentColor: var(--black);
      --ltaccent: rgba(146, 130, 157, 1);
      --accent: rgba(166, 148, 179, 1);
    }

    /**************************
    Ravenclaw
    **************************/
    ravenclaw,
    .ravenclaw,
    .g-14,
    &.g-14 { 
      --accentColor: var(--white);
      --ltaccent: rgba(65, 91, 142, 1);
      --accent: rgba(86, 113, 166, 1);
    }

    /**************************
    Healers
    **************************/
    healers,
    .healers,
    .g-15,
    &.g-15 { 
      --accentColor: var(--white);
      --ltaccent: rgba(88, 123, 83, 1);
      --accent: rgba(102, 142, 96, 1);
    }

    /**************************
    Slytherin
    **************************/
    slytherin,
    .slytherin,
    .g-16,
    &.g-16 { 
      --accentColor: var(--white);
      --ltaccent: rgba(45, 91, 61, 1);
      --accent: rgba(60, 113, 78, 1);
    }

    /**************************
    Returners
    **************************/
    returners,
    .returners,
    .g-17,
    &.g-17 { 
      --accentColor: var(--white);
      --ltaccent: rgba(90, 137, 151, 1);
      --accent: rgba(105, 154, 168, 1);
    }

    /**************************
    Entertainment
    **************************/
    entertainment,
    .entertainment,
    .g-18,
    &.g-18 { 
      --accentColor: var(--black);
      --ltaccent: rgba(82, 154, 162, 1);
      --accent: rgba(108, 181, 189, 1);
    }

    /**************************
    Members
    **************************/
    .g-20,
    &.g-20 {
      --accentColor: var(--black);
      --ltaccent: rgba(97, 177, 202, 1);
      --accent: rgba(130, 201, 223, 1);
    }
}