/*******************************
    Controls Popups
********************************/
.controls {
    position: fixed;
    right: 20px;
    width: calc(100% - 40px);
    background: var(--light);
    border-radius: 2px;
    transform: scaleY(0);
    transform-origin: top right;
    transition-duration: 0.8s;
    z-index: 10;
    opacity: 0;
    grid-template-columns: auto 250px;

    &.active {
        display: grid;
        transform: scaleY(1);
        opacity: 1;
    }

    &:before {
        content: '';
        width: 14px;
        position: absolute;
        top: -5px;
        right: 10px;
        height: 5px;
        background: var(--accent);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    &--user {
        background: var(--accent);
        padding: 20px;
        display: grid;
        grid-template-columns: auto max-content;
        gap: 5px;
        border-radius: 2px 2px 0 0;
        grid-column: span 2;
        height: 100px;

        &-left {
            display: grid;
            grid-template-columns: 60px minmax(max-content, 250px);
            align-items: center;
            grid-gap: 20px;
            height: 60px;

            img {
                border-radius: 2px;
                width: 60px;
                height: 60px;
            }

            select {
                width: 100%;
                background: var(--light);
                font-family: var(--serif);
                text-transform: capitalize;
                text-align: left;
                padding: 7px 15px;
                font-size: var(--lBody);
                border-radius: 2px;
                color: var(--dark);
                border: 0;
            }
        }

        &-right {
            display: grid;
            grid-template-columns: repeat(3, 30px);
            text-align: right;
            font-size: 20px;

            a {
                color: var(--dark);
            }
        }
    }

    &--links {
        background: var(--altLight);
        border-left: 1px solid var(--mid);
        border-bottom-right-radius: 2px;

        .scroll {
            margin: 10px;
            display: grid;
            gap: 5px;
            padding: 0;
            
            a {
                width: 100%;
                background: var(--accent);
                font-family: var(--serif);
                text-transform: capitalize;
                text-align: center;
                padding: 7px 15px;
                font-size: var(--lBody);
                border-radius: 2px;
                color: var(--black);
            }
        }
    }

    &--site {
        padding: 20px;
        display: grid;
        grid-template-columns: 275px 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;

        b {
            font-family: var(--serif);
            font-size: var(--xlBody);
            padding: 0 7px 2px;
            border-bottom: 1px solid var(--accent);
            border-left: 1px solid var(--accent);
        }

        &-intro {
            line-height: 200%;
            text-align: justify;
        }

        &-news p:not(:last-child) {
            margin-bottom: 20px;
            line-height: 200%;
            text-align: justify;
        }

        &-staff {
            grid-row: 1 / 3;
            grid-column: 2 / 3;
            display: grid;
            grid-gap: 20px;

            a {
                background-size: cover;
                border-radius: 2px;
                display: grid;
                align-items: center;
                justify-items: center;
                text-align: center;
                background-position: center;
                color: var(--white);
                font-family: var(--serif);
                font-size: 30px;

                span {
                    z-index: 2;
                    text-shadow: 0px 0px 4px var(--black), 1px 1px 2px var(--black);
                }

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                &:before {
                    background: var(--light);
                    mix-blend-mode: var(--staffBeforeBlend);
                    opacity: 0.5;
                }
                &:after {
                    background: var(--accent);
                    mix-blend-mode: lighten;
                    opacity: 0.85;
                }
            }

            .staff-lux {
                background-image: var(--bgStaff-lux);
            }

            .staff-quinn {
                background-image: var(--bgStaff-quinn);
            }

            .staff-meri {
                background-image: var(--bgStaff-meri);
            }
        }
    }
}