/*******************************
    Navigation
********************************/
nav {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--white);
    display: grid;
    grid-template-columns: auto max-content;
    align-items: center;
    padding: 20px;

    a {
        color: var(--white);
    }

    #navstrip {
        font-size: var(--xsBody);
        font-family: var(--body);
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;

        & > a:first-child {
            display: block;
            font-size: var(--xlBody);
            font-family: var(--serif);
            font-weight: 700;
            text-transform: none;
            margin-bottom: 5px;
        }

        & > span:first-of-type {
            display: none;
        }

        & > span {
            display: inline-block;
            margin: 0 5px;
        }

        & > a {
            font-size: var(--xsBody);
            font-family: var(--body);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 300;
        }
    }

    .ucp {
        display: flex;
        gap: 20px;
        font-family: var(--serif);
        font-size: var(--xlBody);
        font-weight: 700;
        align-items: center;

        & > button {
            border: none;
            background: var(--light);
            color: var(--dark);
            font-family: var(--serif);
            font-size: var(--xlBody);
            font-weight: 700;
            padding: 10px 20px;
            border-radius: 2px;
            cursor: pointer;
        }

        &--menu {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 20px;

            & > li {
                & > ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 10px 0 0 0;
                    position: absolute;
                    display: none;
                    transform: translateX(-50%);
                    left: 50%;
                    gap: 20px;

                    & > span {
                        display: flex;
                        background: var(--light);
                        border-radius: 2px;

                        &:before {
                            content: '';
                            width: 14px;
                            position: absolute;
                            top: -5px;
                            height: 5px;
                            background: var(--light);
                            left: calc(50% - 7px);
                            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        }

                        & li button {
                            border: none;
                            background: none;
                            color: var(--dark);
                            font-family: var(--serif);
                            padding: 5px 10px;
                            font-size: var(--mBody);
                            white-space: nowrap;
                            cursor: pointer;
                        }

                        a {
                            display: block;
                            color: var(--dark);
                            font-family: var(--serif);
                            font-size: var(--mBody);
                            padding: 5px 10px;
                            white-space: nowrap;
                        }
                    }

                    &.staff > span:before {
                        left: auto;
                        right: 10px;
                    }
                }

                &:hover > ul {
                    display: flex;

                    &.staff {
                        left: auto;
                        right: 0;
                        transform: none;
                    }
                }
            }
        }
    }

}