/*******************************
    Settings
    - Used in settings webpage
********************************/
:root {
  --headerImage: url(../img/coast.jpg);
  /*https://www.pexels.com/photo/top-view-photo-of-rocky-shore-2307636*/
  --bgStaff-lux: url(https://64.media.tumblr.com/e529fdf50ea1d89f07dfca771f03b26c/8a9c1cf44400eb4c-de/s2048x3072/6e6315a3d09b4f7339daef33ec5df4551b683905.jpg);
  --bgStaff-quinn: url(https://files.jcink.net/uploads2/playedgod//av-1.jpg?1628549520);
  --bgStaff-meri: url(https://i.pinimg.com/originals/ac/41/28/ac4128a1badfaff7403a914eb712fd4c.gif);
  --textureBG: url(../img/texture.jpg);
  /*https://www.pexels.com/photo/aerial-view-of-ocean-waves-3614424/*/
  --lightTextureBG: url(../img/lighttexture.jpg);
  /*https://www.pexels.com/photo/aerial-shot-of-blue-water-3894157/*/
}

.dark {
  --dark: var(--white);
  --bgOffset: var(--offwhite);
  --light: var(--black);
  --altLight: var(--dkGrey);
  --mid: var(--midGrey);
  --staffBeforeBlend: screen;
}
.dark .g-1, .dark.g-1 {
  --accent: rgba(74, 104, 100, 1);
  --accent: rgba(74, 104, 100, 0.5);
}
.dark .g-2, .dark.g-2 {
  --accent: rgba(74, 104, 100, 1);
  --accent: rgba(74, 104, 100, 0.5);
}
.dark .g-3, .dark.g-3 {
  --accent: rgba(74, 104, 100, 1);
  --accent: rgba(74, 104, 100, 0.5);
}
.dark .g-4, .dark.g-4 {
  --accent: rgba(74, 104, 100, 1);
  --accent: rgba(74, 104, 100, 0.5);
}
.dark .g-5, .dark.g-5 {
  --accent: rgba(74, 104, 100, 1);
  --accent: rgba(74, 104, 100, 0.5);
}

.light {
  --dark: var(--black);
  --bgOffset: var(--offwhite);
  --light: var(--white);
  --altLight: var(--offWhite);
  --mid: var(--ltGrey);
  --staffBeforeBlend: saturation;
}
.light .g-1, .light.g-1 {
  --accent: rgba(152, 183, 178, 1);
  --accent-50: rgba(152, 183, 178, 0.5);
}
.light .g-2, .light.g-2 {
  --accent: rgba(152, 183, 178, 1);
  --accent-50: rgba(152, 183, 178, 0.5);
}
.light .g-3, .light.g-3 {
  --accent: rgba(152, 183, 178, 1);
  --accent-50: rgba(152, 183, 178, 0.5);
}
.light .g-4, .light.g-4 {
  --accent: rgba(152, 183, 178, 1);
  --accent-50: rgba(152, 183, 178, 0.5);
}
.light .g-5, .light.g-5 {
  --accent: rgba(152, 183, 178, 1);
  --accent-50: rgba(152, 183, 178, 0.5);
}

.c-1 {
  --categoryMessage: "it's all the same down in the capital";
}

.c-2 {
  --categoryMessage: "all the suits and cladded feet";
}

.c-3 {
  --categoryMessage: "sewer rats will shower the underground";
}

.c-4 {
  --categoryMessage: "in a race to make ends meet";
}

.c-5 {
  --categoryMessage: "am i mistaken or are we breaking under weight";
}

.c-6 {
  --categoryMessage: "from the long time that he played god";
}

.stats {
  --categoryMessage: "and he will play god" ;
}

/* Old Town & Subforums */
.f-36 {
  /*Old Town: https://www.pexels.com/photo/bird-s-eye-view-of-city-during-dawn-4039921/*/
  --forumBG: url(../img/oldtown.jpg);
}

.f-36 .subforums a:nth-child(2) {
  /* Casino: https://www.pexels.com/photo/people-casino-luck-game-6664128/ */
  --forumBG: url(../img/casino.jpg);
}

.f-36 .subforums a:nth-child(4) {
  /* Red Light: https://www.pexels.com/photo/white-motor-scooter-near-open-door-219095/*/
  --forumBG: url(../img/redlight.jpg);
}

.f-36 .subforums a:nth-child(6) {
  /* Dockyards: https://www.pexels.com/photo/photography-of-ship-799091/*/
  --forumBG: url(../img/docks.jpg);
}

/* Coastline & Subforums */
.f-35 {
  --forumBG: url(../img/coastline.jpg);
  /*Coastline: https://www.pexels.com/photo/lighthouse-by-sea-against-sky-247506/*/
}

.f-35 .subforums a:nth-child(2) {
  /* Entertainment: https://www.pexels.com/photo/group-of-people-in-a-street-market-2276796/*/
  --forumBG: url(../img/entertainment.jpg);
}

.f-35 .subforums a:nth-child(4) {
  /* Bayside: https://www.pexels.com/photo/vegetables-stall-868110/*/
  --forumBG: url(../img/bayside.jpg);
}

.f-35 .subforums a:nth-child(6) {
  /* Graveyard: https://www.pexels.com/photo/graffiti-painted-on-wall-in-abandoned-building-1029696/*/
  --forumBG: url(../img/graveyard.jpg);
}

/* Central Davenport & Subforums */
.f-37 {
  --forumBG: url(../img/central.jpg);
  /*Central Davenport: https://www.pexels.com/photo/cityscape-photo-286076/*/
}

.f-37 .subforums a:nth-child(2) {
  /* University: https://www.pexels.com/photo/green-leaves-tree-near-red-and-gray-concrete-structure-during-daytime-227405/*/
  --forumBG: url(../img/uni.jpg);
}

.f-37 .subforums a:nth-child(4) {
  /* Business: https://www.pexels.com/photo/view-of-city-buildings-near-river-4053729/*/
  --forumBG: url(../img/business.jpg);
}

.f-37 .subforums a:nth-child(6) {
  /* Boardwalk: https://www.pexels.com/photo/green-leafed-tree-beside-body-of-water-during-daytime-158063/*/
  --forumBG: url(../img/boardwalk.jpg);
}

/* River's Edge & Subforums */
.f-38 {
  --forumBG: url(../img/river.jpg);
  /*River's Edge: https://www.pexels.com/photo/river-near-city-buildings-under-cloudy-sky-1209978/*/
}

.f-38 .subforums a:nth-child(2) {
  /* Willow Creek: https://www.pexels.com/photo/assorted-color-wall-paint-house-photo-1370704/*/
  --forumBG: url(../img/willowcreek.jpg);
}

.f-38 .subforums a:nth-child(4) {
  /* Park: https://www.pexels.com/photo/worm-s-eyeview-of-tall-tree-under-a-gray-sky-618608/*/
  --forumBG: url(../img/park.jpg);
}

.f-38 .subforums a:nth-child(6) {
  /* Government: https://www.pexels.com/photo/architecture-building-buildings-business-273239/*/
  --forumBG: url(../img/gov.jpg);
}

/* Outskirts & Subforums */
.f-39 {
  --forumBG: url(../img/outskirts.jpg);
  /*Outskirts: https://www.pexels.com/photo/brown-hay-roll-near-trees-442597/*/
}

.f-39 .subforums a:nth-child(2) {
  /* Carnivale: https://www.pexels.com/photo/ferris-wheel-1047939/*/
  --forumBG: url(../img/carnivale.jpg);
}

.f-39 .subforums a:nth-child(4) {
  /* Witch's Hour: https://www.pexels.com/photo/wooden-house-in-a-forest-673788/*/
  --forumBG: url(../img/witchhour.jpg);
}

.f-39 .subforums a:nth-child(6) {
  /* Wilds: https://www.pexels.com/photo/remaining-walls-of-ruined-abandoned-building-4200749/*/
  --forumBG: url(../img/wilds.jpg);
}

/* Outside Davenport */
.f-13 {
  --forumBG: url(../img/outside.jpg);
  /*Outside Town: https://www.pexels.com/photo/padlock-on-grey-metal-cable-2214876/*/
}

.f-14 {
  --forumBG: url(../img/past.jpg);
  /*Past: https://www.pexels.com/photo/scenic-view-of-town-near-ocean-during-dawn-1266768/*/
}

.f-15 {
  --forumBG: url(../img/future.jpg);
  /*Future: https://www.pexels.com/photo/white-and-brown-concrete-buildings-near-body-of-water-3534080/*/
}

.f-16 {
  --forumBG: url(../img/au.jpg);
  /*AU: https://www.pexels.com/photo/round-mirror-with-white-frame-1861576/*/
}

/*******************************
    Variables
    - General variables
********************************/
:root {
  --xsBody: 8px;
  --sBody: 10px;
  --mBody: 12px;
  --lBody: 14px;
  --xlBody: 16px;
  --serif: "Averia Serif Libre";
  --body: "Montserrat";
  --headerOverlay: var(--black);
  --headerBlend: multiply;
  --headerOpacity: 0.7;
  --black: rgba(33, 33, 33, 1);
  --black-50: rgba(33, 33, 33, 0.5);
  --dkGrey: rgba(55, 55, 55, 1);
  --midGrey: rgba(85, 85, 85, 1);
  --midGrey-70: rgba(85, 85, 85, 0.7);
  --ltGrey: rgba(198, 198, 198, 1);
  --offWhite: rgba(217, 217, 217, 1);
  --white: rgba(240, 240, 240, 1);
  --textureOverlay: rgba(4, 53, 55, 0.6);
}

.lgFont {
  --xsBody: 10px;
  --sBody: 12px;
  --mBody: 14px;
  --lBody: 16px;
  --xlBody: 18px;
}

/*******************************
    Global
********************************/
* {
  position: relative;
  box-sizing: border-box;
  scrollbar-color: var(--white) transparent;
  scrollbar-width: thin;
}
*::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 3px;
}
*::-webkit-scrollbar {
  width: 6px;
}

a {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-size: var(--mBody);
  font-family: var(--body);
  font-weight: 400;
  color: var(--dark);
  background-image: var(--headerImage);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

.scroll {
  overflow: auto;
  padding-right: 10px;
}

.subforums-macro {
  display: none;
}

body:not(.g-4) .staffOnly,
body:not(.g-2) .guestOnly,
body.g-2 .memOnly,
body.light .darkOnly,
body.dark .lightOnly,
body:not(.lgFont) .largeOnly,
body.lgFont .smallOnly,
.active > .closeOnly,
:not(.active) > .openOnly {
  display: none;
}

@media only screen and (min-width: 480px) {
  .mobileOnly {
    display: none !important;
  }
}

@media only screen and (min-width: 1024px) {
  .mobileTablet {
    display: none !important;
  }
}

@media only screen and (max-width: 480px) {
  .tabletOnly {
    display: none !important;
  }
}
@media only screen and (min-width: 1024px) {
  .tabletOnly {
    display: none !important;
  }
}

@media only screen and (max-width: 1024px) {
  .desktopOnly {
    display: none !important;
  }
}

main > br {
  display: none;
}
main #delcookiesrow {
  background: var(--black);
  padding: 15px;
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 2px;
  color: var(--white);
  text-align: center;
  font-weight: 800;
}
main #delcookiesrow a {
  color: var(--white);
}
main + .tableborder {
  background: var(--black);
  padding: 0 15px 15px;
}
main + .tableborder .row4 .copyright {
  text-transform: uppercase;
  font-size: var(--xsBody) !important;
  letter-spacing: 2px;
  color: var(--white);
  line-height: 200% !important;
}
main + .tableborder .row4 .copyright a {
  color: var(--white);
}

/*******************************
    Navigation
********************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--white);
  display: grid;
  grid-template-columns: auto max-content;
  align-items: center;
  padding: 20px;
  z-index: 11;
  transition-duration: 0.5s;
}
nav.scrolled {
  background: var(--black);
  padding: 10px;
}
nav.scrolled .ucp > button {
  padding: 5px 15px;
}
nav a {
  color: var(--white);
}
nav #navstrip {
  font-size: var(--xsBody);
  font-family: var(--body);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
nav #navstrip > a:first-child {
  display: block;
  font-size: var(--xlBody);
  font-family: var(--serif);
  font-weight: 700;
  text-transform: none;
  margin-bottom: 5px;
}
nav #navstrip > a:first-child:only-child {
  margin-bottom: 0;
}
nav #navstrip > i:first-of-type {
  display: none;
}
nav #navstrip > i {
  display: inline-block;
  margin: 0 5px;
}
nav #navstrip > a {
  font-size: var(--xsBody);
  font-family: var(--body);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
nav .ucp {
  display: flex;
  gap: 20px;
  font-family: var(--serif);
  font-size: var(--xlBody);
  font-weight: 700;
  align-items: center;
}
nav .ucp.ucp-mobile {
  flex-direction: column;
  align-items: end;
}
nav .ucp--menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--light);
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 20px 20px;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  color: var(--dark);
  transform: translateX(100%);
  transition-duration: 0.75s;
}
nav .ucp--menu-mobile.active {
  transform: translateX(0);
}
nav .ucp--menu-mobile .scroll {
  height: calc(100vh - 52px);
  margin-top: 10px;
}
nav .ucp--menu-mobile .close {
  border: 0;
  background: var(--accent);
  color: var(--dark);
  font-size: var(--xsBody);
  padding: 6px 10px;
  border-radius: 2px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0 auto;
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  grid-gap: 7px;
  cursor: pointer;
}
nav .ucp--menu-mobile .name,
nav .ucp--menu-mobile .name a {
  font-size: 24px;
  text-align: center;
}
nav .ucp--menu-mobile .name {
  padding: 10px 20px;
}
nav .ucp--menu-mobile a {
  color: var(--dark);
  font-size: var(--xlBody);
  display: block;
  text-align: center;
  padding: 10px 20px;
}
nav .ucp--menu-mobile hr {
  border: 0;
  border-bottom: 1px solid var(--accent) !important;
}
nav .ucp--menu-mobile select {
  width: 100%;
  border: 0;
  background: var(--accent);
  padding: 10px 20px;
  font-family: var(--serif);
  font-size: var(--xlBody);
  border-radius: 2px;
}
nav .ucp--menu-mobile button:not(.close) {
  border: 0;
  font-family: var(--serif);
  font-size: var(--xlBody);
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  font-weight: 700;
  background: none;
  color: var(--dark);
}
nav .ucp > button {
  border: none;
  background: var(--light);
  color: var(--dark);
  font-family: var(--serif);
  font-size: var(--xlBody);
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.5s;
}
nav .ucp--menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
nav .ucp--menu > li {
  cursor: default;
}
nav .ucp--menu > li > ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 0 0;
  position: absolute;
  display: none;
  transform: translateX(-50%);
  left: 50%;
  gap: 20px;
  z-index: 11;
}
nav .ucp--menu > li > ul > span {
  display: flex;
  background: var(--light);
  border-radius: 2px;
}
nav .ucp--menu > li > ul > span:before {
  content: "";
  width: 14px;
  position: absolute;
  top: -5px;
  height: 5px;
  background: var(--light);
  left: calc(50% - 7px);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
nav .ucp--menu > li > ul > span li button {
  border: none;
  background: none;
  color: var(--dark);
  font-family: var(--serif);
  padding: 5px 10px;
  font-size: var(--mBody);
  white-space: nowrap;
  cursor: pointer;
}
nav .ucp--menu > li > ul > span a {
  display: block;
  color: var(--dark);
  font-family: var(--serif);
  font-size: var(--mBody);
  padding: 5px 10px;
  white-space: nowrap;
}
nav .ucp--menu > li > ul.staff > span:before {
  left: auto;
  right: 10px;
}
nav .ucp--menu > li:hover > ul {
  display: flex;
}
nav .ucp--menu > li:hover > ul.staff {
  left: auto;
  right: 0;
  transform: none;
}

/*******************************
    Header
********************************/
header {
  height: 100vh;
  display: grid;
  text-align: center;
  justify-items: center;
  grid-template-rows: 1fr max-content 1fr;
  color: var(--white);
  background-image: linear-gradient(to top, var(--black), transparent, transparent, transparent);
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--headerOverlay);
  mix-blend-mode: var(--headerBlend);
  opacity: var(--headerOpacity);
}
header p {
  align-self: end;
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 4px;
}
header a {
  color: var(--white);
}
header h1 {
  font-family: var(--serif);
  font-size: 4rem;
  letter-spacing: 5px;
  margin: 0;
}
header .skip {
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 4px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: max-content auto;
}
header .skip:after {
  content: "\f107";
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  font-size: var(--xlBody);
}

/*******************************
    Controls Popups
********************************/
.controls {
  position: fixed;
  right: 20px;
  width: calc(100% - 40px);
  background: var(--light);
  border-radius: 2px;
  transform: scaleY(0);
  transform-origin: top right;
  transition-duration: 0.8s;
  z-index: 10;
  opacity: 0;
  grid-template-columns: auto 250px;
}
.controls.active {
  display: grid;
  transform: scaleY(1);
  opacity: 1;
}
.controls:before {
  content: "";
  width: 14px;
  position: absolute;
  top: -5px;
  right: 10px;
  height: 5px;
  background: var(--accent);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.controls--user {
  background: var(--accent);
  padding: 20px;
  display: grid;
  grid-template-columns: auto max-content;
  gap: 5px;
  border-radius: 2px 2px 0 0;
  grid-column: span 2;
  height: 100px;
}
.controls--user-left {
  display: grid;
  grid-template-columns: 60px minmax(max-content, 250px);
  align-items: center;
  grid-gap: 20px;
  height: 60px;
}
.controls--user-left img {
  border-radius: 2px;
  width: 60px;
  height: 60px;
}
.controls--user-left select {
  width: 100%;
  background: var(--light);
  font-family: var(--serif);
  text-transform: capitalize;
  text-align: left;
  padding: 7px 15px;
  font-size: var(--lBody);
  border-radius: 2px;
  color: var(--dark);
  border: 0;
}
.controls--user-right {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  text-align: right;
  font-size: 20px;
}
.controls--user-right a {
  color: var(--dark);
}
.controls--links {
  background: var(--altLight);
  border-left: 1px solid var(--mid);
  border-bottom-right-radius: 2px;
}
.controls--links .scroll {
  margin: 10px;
  display: grid;
  gap: 5px;
  padding: 0;
}
.controls--links .scroll a {
  width: 100%;
  background: var(--accent);
  font-family: var(--serif);
  text-transform: capitalize;
  text-align: center;
  padding: 7px 15px;
  font-size: var(--lBody);
  border-radius: 2px;
  color: var(--black);
}
.controls--site {
  padding: 20px;
  display: grid;
  grid-template-columns: 275px 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}
.controls--site b {
  font-family: var(--serif);
  font-size: var(--xlBody);
  padding: 0 7px 2px;
  border-bottom: 1px solid var(--accent);
  border-left: 1px solid var(--accent);
}
.controls--site-intro {
  line-height: 200%;
  text-align: justify;
}
.controls--site-news p:not(:last-child) {
  margin-bottom: 20px;
  line-height: 200%;
  text-align: justify;
}
.controls--site-staff {
  grid-row: 1/3;
  grid-column: 2/3;
  display: grid;
  grid-gap: 20px;
}
@media only screen and (min-width: 1280px) {
  .controls--site-staff {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}
.controls--site-staff a {
  background-size: cover;
  border-radius: 2px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  background-position: center;
  color: var(--white);
  font-family: var(--serif);
  font-size: 30px;
}
.controls--site-staff a span {
  z-index: 2;
  text-shadow: 0px 0px 4px var(--black), 1px 1px 2px var(--black);
}
.controls--site-staff a:before, .controls--site-staff a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.controls--site-staff a:before {
  background: var(--light);
  mix-blend-mode: var(--staffBeforeBlend);
  opacity: 0.5;
}
.controls--site-staff a:after {
  background: var(--accent);
  mix-blend-mode: lighten;
  opacity: 0.85;
}
.controls--site-staff .staff-lux {
  background-image: var(--bgStaff-lux);
}
.controls--site-staff .staff-quinn {
  background-image: var(--bgStaff-quinn);
}
.controls--site-staff .staff-meri {
  background-image: var(--bgStaff-meri);
}

.controls-guest {
  position: fixed;
  right: 20px;
  background: var(--light);
  border-radius: 2px;
  transform: scaleY(0);
  transform-origin: top right;
  transition-duration: 0.8s;
  z-index: 10;
  opacity: 0;
  width: 500px;
}
.controls-guest.active {
  display: block;
  transform: scaleY(1);
  opacity: 1;
}
.controls-guest .controls--user {
  height: 65px;
}
.controls-guest .controls--user-left {
  height: auto;
}
.controls-guest .controls--user-right {
  grid-template-columns: repeat(2, 30px);
}

/*******************************
    Categories
********************************/
.category {
  color: var(--white);
}
.category h2 {
  margin: 0;
  padding: 100px 30px;
  text-align: center;
  font-family: var(--serif);
  font-size: 36px;
  text-transform: capitalize;
  color: var(--white);
}
.category h2:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--headerOverlay);
  mix-blend-mode: var(--headerBlend);
  opacity: var(--headerOpacity);
}
.category h2:after {
  content: var(--categoryMessage);
  display: block;
  font-family: var(--body);
  font-size: var(--xsBody);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  margin-top: 10px;
  z-index: 2;
  position: relative;
}
.category.c-1 h2, .category.c-5 h2, .category.c-6 h2 {
  border-top: 1px solid var(--midGrey-70);
}
.category.c-4 h2, .category.c-5 h2 {
  border-bottom: 1px solid var(--midGrey-70);
}
.category:not(.c-2):not(.c-3):not(.c-4):not(.c-5) .category--forums {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 800px) {
  .category:not(.c-2):not(.c-3):not(.c-4):not(.c-5) .category--forums {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  .category:not(.c-2):not(.c-3):not(.c-4):not(.c-5) .category--forums {
    grid-template-columns: repeat(3, 1fr);
  }
}
.category.c-2 .category--forums, .category.c-3 .category--forums {
  display: grid;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 800px) {
  .category.c-2 .category--forums, .category.c-3 .category--forums {
    grid-template-columns: repeat(2, 1fr);
  }
}

.forum {
  overflow: hidden;
  /*remove button & padding for ic category with no subforums/descriptions*/
}
.category:not(.c-5):not(.c-4) .forum {
  border-bottom: 1px solid var(--midGrey-70);
  display: grid;
  grid-template-rows: max-content auto;
}
.category:not(.c-5):not(.c-4) .forum .forum--subs,
.category:not(.c-5):not(.c-4) .forum .forum--subs .subforums {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.category:not(.c-5):not(.c-4) .forum .forum--subs a,
.category:not(.c-5):not(.c-4) .forum .forum--subs .subforums a {
  background: var(--light);
  color: var(--dark);
  padding: 10px 20px;
  font-size: var(--xlBody);
  font-family: var(--serif);
  text-transform: capitalize;
  border-radius: 2px;
}
.category:not(.c-5):not(.c-4) .forum:first-child {
  border-top: 1px solid var(--midGrey-70);
}
.c-4 .forum .subforums, .c-5 .forum .subforums {
  display: grid;
  grid-gap: 20px;
  height: 100%;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .c-4 .forum .subforums, .c-5 .forum .subforums {
    align-items: normal;
    grid-template-columns: repeat(3, 1fr);
  }
}
.c-4 .forum .subforums a.tooltip, .c-5 .forum .subforums a.tooltip {
  background-image: var(--forumBG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2px;
  overflow: hidden;
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  font-family: var(--serif);
  font-size: 20px;
  color: var(--white);
  font-weight: 700;
  z-index: 1;
  padding: 50px 20px;
}
.c-4 .forum .subforums a.tooltip:after, .c-5 .forum .subforums a.tooltip:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--headerOverlay);
  mix-blend-mode: var(--headerBlend);
  opacity: var(--headerOpacity);
  z-index: -1;
}
.forum.f-33, .forum.f-5 {
  border-left: 1px solid var(--midGrey-70);
  border-right: 1px solid var(--midGrey-70);
}
.forum.f-18 {
  border-top: 1px solid var(--midGrey-70);
  border-left: 1px solid var(--midGrey-70);
}
.c-2 .forum:nth-child(2n) {
  border-right: 1px solid var(--midGrey-70);
}
.c-6 .forum {
  border-top: 1px solid var(--midGrey-70);
}
.forum--main {
  padding: 50px;
}
.category:not(.c-4):not(.c-5) .forum--main {
  padding-bottom: 0;
}
.f-39 .forum--main {
  background-position: 50% 80% !important;
}
.f-35 .forum--main {
  background-position: 50% 20% !important;
}
.forum--main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--headerOverlay);
  mix-blend-mode: var(--headerBlend);
  opacity: var(--headerOpacity);
}
.forum--stats {
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 4px;
  font-weight: 400;
}
.forum--stats b {
  font-weight: 800;
}
.forum--name {
  font-family: var(--serif);
  font-size: 36px;
  margin: 10px 0 0;
}
.forum--name a {
  color: var(--white);
}
.forum--latest {
  display: grid;
  padding: 25px 0 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--xsBody);
  grid-gap: 5px;
}
.forum--latest a {
  color: var(--white);
}
.forum--latest i.fal {
  font-size: var(--lBody);
  line-height: var(--lBody);
}
.forum--latest > span {
  display: grid;
  grid-template-columns: 16px auto;
  grid-gap: 10px;
  align-items: center;
  height: 24px;
}
.forum--latest > span > a, .forum--latest > span > span {
  line-height: var(--xsBody);
}
.forum--latest i.fa-user + a:before {
  content: "Written by ";
}
.forum button {
  background: var(--light);
  color: var(--dark);
  border: 0;
  border-radius: 2px;
  font-family: var(--serif);
  padding: 10px 20px;
  font-size: var(--xlBody);
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 10px;
  cursor: pointer;
}
.forum button i.fas {
  font-size: var(--lBody);
}
.category:not(.c-4):not(.c-5) .forum button {
  display: none;
}
.forum--desc {
  padding: 0 50px;
  background: var(--altLight);
  color: var(--dark);
  height: 0;
  transition-duration: 0.75s;
  transform-origin: top;
}
.forum--desc.active {
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}
.c-4 .forum--desc, .c-5 .forum--desc {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;
}
@media only screen and (min-width: 800px) {
  .c-4 .forum--desc, .c-5 .forum--desc {
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .c-4 .forum--desc, .c-5 .forum--desc {
    grid-template-columns: 1fr 2fr;
  }
}
@media only screen and (min-width: 1280px) {
  .c-4 .forum--desc, .c-5 .forum--desc {
    align-items: normal;
  }
}
.category:not(.c-4):not(.c-5) .forum--desc {
  padding: 0 50px 50px;
  height: auto;
  background: none;
}
.category:not(.c-4):not(.c-5) .forum--desc:empty {
  padding-bottom: 25px;
}
.category:not(.c-4):not(.c-5) .forum--desc:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--headerOverlay);
  mix-blend-mode: var(--headerBlend);
  opacity: var(--headerOpacity);
}
.forum--text {
  font-size: var(--xlBody);
  font-family: var(--serif);
  text-align: justify;
  background: var(--light);
  padding: 15px 20px;
  border-radius: 2px;
}
.forum.f-6, .forum.f-34 {
  grid-column: 1/-1;
}
@media only screen and (min-width: 1280px) {
  .forum.f-6, .forum.f-34 {
    grid-column: auto;
  }
}
@media only screen and (min-width: 800px) {
  .forum.f-3, .forum.f-1, .forum.f-19 {
    grid-column: 1/-1;
  }
}
.c-4 .forum--main, .c-5 .forum--main {
  background-image: var(--forumBG);
  background-size: cover;
  background-position: center right;
}
.c-5 .forum button {
  display: none;
}
.c-5 .forum--main {
  padding-bottom: 15px;
}

/*******************************
    Board Stats
********************************/
.stats {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--white);
}
@media only screen and (min-width: 800px) {
  .stats {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1280px) {
  .stats {
    grid-template-columns: 2fr 1fr;
  }
}
.stats:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--headerOverlay);
  mix-blend-mode: var(--headerBlend);
  opacity: var(--headerOpacity);
}
.stats h2 {
  border-bottom: 1px solid var(--midGrey-70);
  margin: 0;
  padding: 100px 30px;
  text-align: center;
  font-family: var(--serif);
  font-size: 36px;
  text-transform: capitalize;
  color: var(--white);
  grid-column: 1/-1;
}
.stats h2:after {
  content: var(--categoryMessage);
  display: block;
  font-family: var(--body);
  font-size: var(--xsBody);
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  margin-top: 10px;
  z-index: 2;
  position: relative;
}
.stats--now {
  padding: 50px;
  border-bottom: 1px solid var(--midGrey-70);
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
}
@media only screen and (min-width: 800px) {
  .stats--now {
    border-right: 1px solid var(--midGrey-70);
    border-bottom: 0;
  }
}
.stats--now .scroll {
  max-height: 100px;
  line-height: 200%;
  margin-top: 30px;
  font-family: var(--serif);
  font-size: 16px;
  text-transform: capitalize;
}
.stats--now .scroll a {
  color: var(--white);
}
.stats--today {
  padding: 50px;
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
}
.stats--today .scroll {
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 200%;
  text-align: justify;
  max-height: 100px;
}
.stats--today .scroll a {
  color: var(--white);
}
.stats--recent {
  grid-column: 1/-1;
  border-top: 1px solid var(--midGrey-70);
  padding: 50px;
}
.stats--counts {
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 4px;
  font-weight: 400;
}
.stats--counts b {
  font-weight: 800;
}
.stats--counts a {
  color: var(--white);
}
.stats h3 {
  font-family: var(--serif);
  font-size: 26px;
  margin: 10px 0 0;
}
.stats--links {
  margin-top: 30px;
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.stats--links a {
  background: var(--light);
  color: var(--dark);
  padding: 10px 20px;
  font-size: var(--xlBody);
  font-family: var(--serif);
  text-transform: capitalize;
  border-radius: 2px;
}
.stats #recent-topics {
  font-size: 0;
  margin-top: 30px;
}
.stats #recent-topics .maintitle {
  display: none;
}
.stats #recent-topics tbody {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  max-height: 250px;
  overflow: auto;
}
@media only screen and (min-width: 800px) {
  .stats #recent-topics tbody {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .stats #recent-topics tbody {
    grid-template-columns: repeat(3, 1fr);
  }
}
.stats #recent-topics tr {
  display: grid;
}
.stats #recent-topics .recent-topics-info {
  width: 100%;
}
.stats #recent-topics .recent-topics-info a {
  font-size: var(--xsBody);
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 2px;
}
.stats #recent-topics .recent-topics-info a:first-child {
  font-size: 16px;
  font-family: var(--serif);
  text-transform: capitalize;
  letter-spacing: 0;
}
.stats #recent-topics .recent-topics-info a:nth-of-type(2) {
  display: block;
  margin: 5px 0 0;
}
.stats #recent-topics .recent-topics-info a:nth-of-type(2):before {
  content: "written by ";
}
.stats #recent-topics .recent-topics-info a:last-child {
  display: none;
}
.stats #recent-topics .recent-topics-date {
  width: 100%;
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 1px;
  font-style: italic;
}

/*******************************
    Topic List
********************************/
/*******************************
    Post Row
********************************/
/*******************************
    Member List
********************************/
/*******************************
    Profile
********************************/
/*******************************
    Webpages
********************************/
/*******************************
    Templates
********************************/
