/*******************************
    Categories
********************************/

.category {
    display: grid;
    gap: 20px;
    margin: 0 10px 30px;
    max-width: 1100px;

    @media only screen and (min-width: $md) {
        margin: 0 auto 50px;
        gap: 50px;
    }

    &.subforums:not(.f-54):not(.f-56):not(.f-57):not(.f-71):not(.f-72),
    &.c-1,
    &.c-2,
    &.c-3,
    &.c-5 {
        @media only screen and (min-width: $md) {
            grid-template-columns: 1fr 1fr;
    
            h2 {
                grid-column: 1 / -1;
            }
        }

        .forum {
            height: 100%;

            &--main,
            &--border {
                height: 100%;
            }
        }
    }

    &.f-72,
    &.f-71,
    &.f-57,
    &.f-56,
    &.f-54,
    &.c-4 {
        .forum {
            display: grid;
            grid-template-rows: 250px auto;

            &--main {
                order: 2;
                margin: -50px 15px 0 15px;
            }
            
            img,
            .forum--image {
                order: 1;
            }

            @media only screen and (min-width: $md) {
                grid-template-columns: 1fr 1.5fr;
                grid-template-rows: min-content;
                align-items: center;
    
                &--main {
                    order: 1;
                    width: calc(100% + 50px);
                    margin: 50px 0;
                }

                img,
                .forum--image {
                    order: 2;
                }
            }
        }
    }

    h2 {
        font-family: var(--font-accent);
        font-weight: 900;
        text-transform: uppercase;
        font-size: var(--lBody);
        text-align: center;
        color: var(--text-header-accent);
        display: grid;
        align-items: center;
        grid-gap: 20px;
        letter-spacing: 3px;
        margin: 20px -20px 0;

        &::before,
        &::after {
            content: '';
            height: 1px;
            width: 100%;
            background: var(--border-main);
            display: block;
        }

        @media only screen and (min-width: $md) {
            grid-template-columns: 1fr max-content 1fr;
            margin: 50px;
            letter-spacing: 5px;
            grid-gap: 30px;
            font-size: calc(20px + var(--sizeBoost));
        }
    }

    &.subforums:not(.f-10) .redirect {
        display: none !important;
    }
}

.forum {
    &--main {
        background: var(--bg-content);
        height: max-content;
        z-index: 2;
        padding: 15px;
        text-align: center;
    }

    &--border {
        padding: 30px;
        border: 1px solid var(--border-main);

        &  > a {
            font-family: var(--font-accent);
            font-weight: 500;
            font-size: calc(22px + var(--sizeBoost));
            color: var(--text-content-accent);
            align-self: end;
        }

        .new & {
            border-color: var(--text-content-accent);
        }
    }

    &--latest {
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 1px;
        line-height: 200%;
        margin: 10px 0 18px;

        & > a {
            font-size: var(--sBody);
            display: block;
            font-weight: 700;
            font-family: var(--font-accent);
        }

        span a {
            color: var(--text-body);
        }
    }

    &--stats {
        display: flex;
        gap: 30px;
        justify-content: center;
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 1px;

        b {
            color: var(--text-content-accent);
            font-weight: 900;
        }
    }

    &--links {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: var(--xsBody);

        br {
            display: none;
        }

        & > p {
            max-width: 350px;
        }

        .subforums {
            display: flex;
            gap: 5px 15px;
            flex-wrap: wrap;
            justify-content: center;
        }

        .subforums-macro {
            display: none;
        }

        a {
            color: var(--text-body);
            transition-duration: 0.5s;

            &:hover {
                color: var(--text-content-accent);
            }
        }

        &:empty {
            display: none;
        }
    }

    & > .forum--image,
    & > img {
        width: 100%;
        height: 100%;
        height: 0;
        min-height: 100%;
        object-fit: cover;
        filter: var(--filter-forum-image);
    }

    & > .forum--image img {
        width: 100%;
        height: 100%;
        height: 0;
        min-height: 100%;
        object-fit: cover;
        filter: var(--filter-forum-image);
    }

    &.f-1,
    &.f-5,
    &.f-44,
    &.f-10 {

        @media only screen and (min-width: $md) {
            grid-column: span 2;
        }

        .forum--border {
            display: grid;
            padding-top: 0;
            padding-bottom: 22.5px;

            @media only screen and (min-width: $lg) {
                grid-template-columns: calc(40% - 30px) calc(60% + 30px);

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 40%;
                    background: var(--bg-accent);
                    height: 100%;
                    opacity: 0.35;
                    border-radius: 0 50px 0 0;
                }
            }

            & > a {
                font-size: calc(30px + var(--sizeBoost));
                margin-top: 10px;

                @media only screen and (min-width: $lg) {
                    color: var(--text-body);
                    margin-top: 30px;
                }
            }
        }

        .forum--stats {
            margin-bottom: 25px;
        }

        .forum--links {
            gap: 10px;
            justify-content: start;
            height: max-content;
            top: 50%;
            transform: translateY(-50%);
            grid-column: auto;
            grid-row: auto;
            background: rgba(152,159,125,.35);
            margin: 15px -30px -30px -30px;
            padding: 15px;

            @media only screen and (min-width: $sm) {
                gap: 15px;
            }

            @media only screen and (min-width: $lg) {
                grid-row: 1 / 3;
                grid-column: 2 / 3;
                background: none;
                margin: 10px 0 0;
                padding: 0;
            }

            a {
                border: 1px solid var(--border-main);
                padding: 5px 15px;
                background: var(--bg-opaque);
                width: 100%;

                @media only screen and (min-width: $sm) {
                    width: calc(50% - 7.5px);
                }

                &:hover {
                    background: var(--bg-accent);
                    color: var(--text-on-accent);
                }
            }
        }
    }

    &.f-1,
    &.f-5,
    &.f-44 {
        .forum--latest {
            display: none;
        }
    }
    &.f-10 {
        @media only screen and (min-width: $lg) {
            .forum--border {
                & > a {
                    margin-top: 20px;
                }
            }
        }
        .forum--stats {
            margin-bottom: 20px;
        }
        .forum--links {
            @media only screen and (min-width: $lg) {
                grid-row: 1 / 4;
            }
            
            .subforums {
                width: 100%;
                gap: 15px;
            }
        }
    }
}