/*******************************
    Categories
********************************/

.category {
    display: grid;
    gap: 50px;
    margin: 0 auto 50px;
    max-width: 1100px;

    &.c-1 {
        grid-template-columns: 1fr 1fr;

        h2 {
            grid-column: 1 / -1;
        }

        .forum {
            height: 100%;

            &--main,
            &--border {
                height: 100%;
            }
        }
    }

    &.c-2 {
        .forum {
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            align-items: center;

            &--main {
                width: calc(100% + 50px);
                margin: 50px 0;
            }
        }
    }

    h2 {
        font-family: var(--font-accent-bold);
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: calc(20px + var(--sizeBoost));
        text-align: center;
        color: var(--text-header-accent);
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        grid-gap: 30px;
        margin: 50px;

        &::before,
        &::after {
            content: '';
            height: 1px;
            width: 100%;
            background: var(--border-main);
            display: block;
        }
    }
}

.forum {
    &--main {
        background: var(--bg-content);
        height: max-content;
        z-index: 2;
        padding: 15px;
        text-align: center;
    }

    &--border {
        padding: 30px;
        border: 1px solid var(--border-main);

        &  > a {
            font-family: var(--font-accent-bold);
            font-weight: 500;
            font-size: calc(22px + var(--sizeBoost));
            color: var(--text-content-accent);
        }

        .new & {
            border-color: var(--text-content-accent);
        }
    }

    &--latest {
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 1px;
        line-height: 200%;
        margin: 10px 0 18px;

        & > a {
            font-size: var(--sBody);
            display: block;
            font-weight: 700;
            font-family: var(--font-accent-bold);
        }

        span a {
            color: var(--text-body);
        }
    }

    &--stats {
        display: flex;
        gap: 30px;
        justify-content: center;
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 1px;

        b {
            color: var(--text-content-accent);
            font-weight: 900;
        }
    }

    &--links {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        font-family: var(--font-accent);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: var(--xsBody);

        .subforums {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            justify-content: center;
        }

        a {
            color: var(--text-body);
        }

        &:empty {
            display: none;
        }
    }

    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: var(--filter-forum-image);
    }
}