/*******************************
    Header
********************************/
header {
    margin: 53px 10px 0;
    max-width: 1100px;
    padding: 10px 10px 0;

    @media only screen and (min-width: $sm) {
        padding: 50px 50px 0;
        margin: 43px auto 0;
    }
}

header.splide {
    &#desktop-splide {
        display: none;

        .splide__slide.slide--info .splide__border {
            grid-template-columns: 325px auto;
        }

        @media only screen and (min-width: $md) {
            display: block;
        }
    }
    &#mobile-splide {
        @media only screen and (min-width: $md) {
            display: none;
        }
    }
    .splide__slide {
        background: var(--bg-content);
        padding: 15px;

        @media only screen and (min-width: $sm) {
            padding: 30px;
        }

        &.slide--title {
            .splide__border {
                display: grid;
                align-items: center;
            }
            h1 {
                font-family: var(--font-accent);
                font-weight: 700;
                font-size: clamp(20px, 6vw, 90px);
                letter-spacing: 0rem;
                text-transform: uppercase;
                margin: 0 0 0 auto;
                line-height: 100%;
                text-align: right;
                width: max-content;

                @media only screen and (min-width: $sm) {
                    font-size: clamp(30px, 8vw, 90px);
                    letter-spacing: 0.2rem;
                }
    
                span {
    
                    &.accent {
                        color: var(--text-content-accent);
                        font-size: clamp(40px, 11vw, 170px);
                        letter-spacing: 0.4rem;
                        display: block;
                        margin: 1vw -0.5rem 2.5rem 0;

                        @media only screen and (min-width: $sm) {
                            font-size: clamp(40px, 13vw, 170px);
                            letter-spacing: 0.6rem;
                        }

                        @media only screen and (min-width: $md) {
                            margin: 1vw -1rem 3.5rem 0;
                        }
                    }
                    &.description {
                        position: absolute;
                        bottom: 67%;
                        right: min(40vw, 440px);
                        text-transform: uppercase;
                        font-size: var(--xsBody);
                        letter-spacing: 1px;
                        font-weight: 600;
                        font-family: var(--font-accent);
                        width: max(13.5vw, 150px);
                        line-height: var(--mBody);
                        text-align: right;
                        display: none;

                        @media only screen and (min-width: $sm) {
                            display: initial;
                        }
                    }
                }
            }
        }

        &.slide--staff {
            .info--staff {
                height: 100%;
                grid-gap: 10px;
                display: grid;

                img {
                    width: calc(100% - 25px);
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                a {
                    background: var(--bg-accent);
                    color: var(--text-on-accent);
                    font-family: var(--font-accent);
                    font-weight: 700;
                    font-size: 30px;
                    text-transform: uppercase;
                    width: 50px;
                    height: 50px;
                    display: grid;
                    align-items: center;
                    justify-items: center;
                    line-height: 0;
                    padding-bottom: 3px;
                    top: calc(50% - 25px);
                    margin: 0 0 0 auto;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        width: 38px;
                        height: 38px;
                        border: 1px solid var(--text-on-accent);
                    }

                    &:hover {
                        color: var(--text-body);

                        &::before {
                            background: var(--bg-opaque);
                        }
                    }
                }
            }
        }

        &.slide--info {

            .splide__border {
                display: grid;
                grid-template-rows: max-content auto;
                grid-gap: 5px 15px;
            }

            .info {
                &--summary {
                    background: var(--bg-opaque-accent);
                    padding: 10px 15px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-size: var(--xsBody);
                    line-height: 200%;
                    letter-spacing: 1px;
                    text-align: justify;
                    height: 132px;

                    .scroll {
                        height: 112px;
                    }
                }
                &--staff {
                    grid-row: span 2;
                    grid-gap: 10px;
                    display: grid;

                    img {
                        width: calc(100% - 25px);
                        height: 100%;
                        object-fit: cover;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    a {
                        background: var(--bg-accent);
                        color: var(--text-on-accent);
                        font-family: var(--font-accent);
                        font-weight: 700;
                        font-size: 30px;
                        text-transform: uppercase;
                        width: 50px;
                        height: 50px;
                        display: grid;
                        align-items: center;
                        justify-items: center;
                        line-height: 0;
                        padding-bottom: 3px;
                        top: calc(50% - 25px);
                        margin: 0 0 0 auto;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 5px;
                            left: 5px;
                            width: 38px;
                            height: 38px;
                            border: 1px solid var(--text-on-accent);
                        }

                        &:hover {
                            color: var(--text-body);

                            &::before {
                                background: var(--bg-opaque);
                            }
                        }
                    }
                }
                &--news {
                    height: 113px;

                    u {
                        display: grid;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-family: var(--font-accent);
                        font-weight: 700;
                        color: var(--text-content-accent);
                        text-align: center;
                        grid-template-columns: 1fr max-content 1fr;
                        align-items: center;
                        grid-gap: 15px;
                        margin-bottom: 5px;
                        font-size: 12px;

                        &::before,
                        &::after {
                            content: '';
                            width: 100%;
                            height: 1px;
                            background: var(--border-main);
                        }
                    }
                    a {
                        display: block;
                        border: 1px solid var(--border-main);
                        padding: 5px 10px;
                        text-transform: uppercase;
                        font-size: var(--xsBody);
                        letter-spacing: 1px;
                        text-align: center;
                        color: var(--text-body);
                        font-family: var(--font-accent);
                        transition-duration: 0.5s;

                        &:not(:last-child) {
                            margin-bottom: 5px;
                        }

                        &:hover {
                            background: var(--bg-accent);
                            color: var(--text-on-accent);
                        }
                    }

                    .scroll {
                        max-height: 86px;
                    }
                }
            }
        }
    }
    .splide__border {
        border: 1px solid var(--border-main);
        padding: 6vw;
        height: 100%;
    }
    .splide__arrows {
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        bottom: -13px;
        width: calc(100% - -6px);
        left: -3px;

        @media only screen and (min-width: $sm) {
            bottom: 20px;
            width: calc(100% - 135px);
            left: 67.5px;
        }
    }
    .splide__arrow {
        border: 0;
        background: var(--text-content-accent);
        color: var(--white);
        border-radius: 50%;
        width: 26px;
        height: 26px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            fill: var(--text-on-accent);
        }

        &--prev {
            transform: rotate(180deg);
        }
    }
    .splide__pagination {
        position: absolute;
        bottom: 8px;
        z-index: 2;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 0;

        @media only screen and (min-width: $sm) {
            bottom: 23px;
        }

        & button {
            border: 0;
            background: var(--border-main);
            width: 15px;
            height: 15px;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
                background: var(--text-body);
            }

            &.is-active {
                background: var(--text-content-accent);
            }
        }
    }
}
body:not(#idx) header.splide {
    display: none;
}