/*******************************
    Header
********************************/
header {
    margin: 43px auto 0;
    max-width: 1100px;
    padding: 50px 0 0;
}

.splide {
    body:not(#idx) & {
        display: none;
    }
    &__slide {
        background: var(--bg-content);
        padding: 30px;

        &.slide--title {
            h1 {
                font-family: var(--font-accent-bold);
                font-weight: 700;
                font-size: clamp(30px, 8vw, 90px);
                text-transform: uppercase;
                margin: 0 0 0 auto;
                line-height: 100%;
                text-align: right;
                letter-spacing: 0.2rem;
                width: max-content;
    
                span {
    
                    &.accent {
                        color: var(--text-content-accent);
                        font-size: clamp(40px, 13vw, 170px);
                        display: block;
                        margin: 1vw 0 2.5rem;
                        letter-spacing: 0.6rem;

                        @media only screen and (min-width: $md) {
                            margin: 1vw 0 3.5rem;
                        }
                    }
                    &.description {
                        position: absolute;
                        bottom: 58%;
                        right: min(42vw, 440px);
                        text-transform: uppercase;
                        font-size: var(--xsBody);
                        letter-spacing: 1px;
                        font-weight: 600;
                        font-family: var(--font-accent-bold);
                        width: max(13.5vw, 150px);
                        line-height: var(--mBody);
                        text-align: right;
                    }
                }
            }
        }
    }
    &__border {
        border: 1px solid var(--border-main);
        padding: 6vw;
        height: 100%;
    }
    &__arrows {
        position: absolute;
        bottom: 20px;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 35px);
        left: 17.5px;
    }
    &__arrow {
        border: 0;
        background: var(--text-content-accent);
        color: var(--white);
        border-radius: 50%;
        width: 26px;
        height: 26px;
        padding: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            fill: var(--text-on-accent);
        }

        &--prev {
            transform: rotate(180deg);
        }
    }
    &__pagination {
        position: absolute;
        bottom: 23px;
        z-index: 2;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        gap: 10px;

        & button {
            border: 0;
            background: var(--border-main);
            width: 15px;
            height: 15px;
            border-radius: 15px;
            cursor: pointer;

            &:hover {
                background: var(--text-body);
            }

            &.is-active {
                background: var(--text-content-accent);
            }
        }
    }
}