/*******************************
    Navigation
********************************/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 10px 10px;
    background: var(--bg-content);
    display: grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    grid-gap: 30px;
    z-index: 10;
    box-shadow: 0 3px 3px var(--bg-body);

    &.nav--desktop {
        display: none;
    }
    &.nav--mobile {
        grid-template-columns: auto max-content;
    }

    @media only screen and (min-width: $md) {
        &.nav--desktop {
            display: grid;
        }
        &.nav--mobile {
            display: none;
        }
    }
}

#navstrip {
    font-size: var(--xsBody);
    text-transform: uppercase;
    letter-spacing: 1px;

    a {
        color: var(--text-body);

        &:first-child {
            display: block;
            font-family: var(--font-accent-bold);
            font-weight: 700;
            font-size: var(--mBody);
            text-transform: uppercase;
            color: var(--text-content-accent);

            & + i {
                display: none;
            }
        }

        &:only-child {
            padding-top: 3px;
        }
    }

    i {
        color: var(--text-content-accent);
        font-size: var(--mBody);
        top: 1px;
        padding: 0 4px;
    }
}


.nav {
    &--popout {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 6px 0 0 5px;

        & + .nav--popout {
            padding: 6px 5px 0 0;

            .sub-menu {
                left: auto;
                right: -350px;
                box-shadow: -3px 0 3px var(--border-main);
            }

            &.is-open {
                .sub-menu {
                    left: auto;
                    right: 0;
                }
            }
        }
        
        .main-menu {
            button {
                border: 0;
                background: none;
                color: var(--text-content-accent);
                font-size: 16px;
                width: 16px;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                cursor: pointer;
                z-index: 101;

                .fa-xmark {
                    display: none;
                }

                .nav--mobile & {
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                }
            }
        }

        .sub-menu {
            position: fixed;
            left: -350px;
            top: 0;
            width: 330px;
            max-width: 100vw;
            height: 100vh;
            background: var(--bg-content);
            box-shadow: 3px 0 3px var(--border-main);
            z-index: 100;
            padding: 50px 20px 20px;
            transition-duration: 0.5s;
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
                font-family: var(--font-accent-bold);
                text-transform: uppercase;
                font-size: var(--mBody);
                text-align: center;
                border: 1px solid var(--border-main);
                padding: 5px;
                letter-spacing: 1px;
                font-weight: 700;

                &:hover {
                    background: var(--accent-opaque);
                    border-color: var(--text-content-accent);
                    color: var(--text-body);
                }
            }
        }

        &.is-open {
            .main-menu  {
                button {
                    .fa-bars,
                    .fa-user-gear {
                        display: none;
                    }
                    .fa-xmark {
                        display: initial;
                    }
                }
            }

            .sub-menu {
                left: 0;
            }
        }
    }
    &--controls {
        display: flex;
        gap: 15px;
        font-size: var(--sBody);
        height: 100%;
        padding-top: 6px;
    
        button,
        a {
            align-self: center;
            padding: 5px 0;
        }
        button {
            border: none;
            background: none;
            color: var(--text-content-accent);
            font-size: var(--sBody);
            cursor: pointer;
            width: var(--sBody);

            .fa-xmark {
                display: none;
            }
    
            &.is-open {
                .fa-xmark {
                    display: initial;
                }
                .fa-arrow-right-arrow-left {
                    display: none;
                }
            }
        }

        .border-vertical {
            width: 1px;
            background: var(--border-main);
        }
    }
    &--setting {
        display: flex;
        align-items: center;
        align-self: center;
        gap: 5px;

        i {
            color: var(--text-content-accent);
        }

        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            outline: none;
            border: none;
            background: var(--bg-body);
            height: 5px;
            border-radius: 2.5px;
            width: 80px;
            cursor: pointer;
            padding: 0;

            @media screen and (-webkit-min-device-pixel-ratio:0) {
                overflow: hidden;
            }

            &::-moz-range-thumb {
                background: var(--bg-accent);
                width: 5px;
                height: 0;
                padding: 0;
                outline: none;
                border: none;
            }
            &::-moz-range-progress {
                background: var(--bg-accent);
                outline: none;
                border: 1px solid var(--bg-accent);
            }
            &::-moz-range-track {
                background: var(--bg-body);
                outline: none;
                border: none;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                background: var(--bg-accent);
                opacity: 1;
                width: 5px;
                height: 15px;
                padding: 0;
                outline: none;
                border: none;
                border-radius: 2.5px;
                margin-top: 0;
                box-shadow: -80px 0 0 80px  var(--bg-accent);
            }
            &::-webkit-slider-runnable-track {
                -webkit-appearance: none;
                outline: none;
                border: none;
            }
        }
    }
    &--mobile-settings {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
        padding: 0 10px 10px;
    }
    &--switch {
        position: absolute;
        bottom: calc((var(--sBody) + 36px + var(--sizeBoost)) * -1);
        background: var(--bg-content);
        left: -5px;
        overflow: hidden;
        height: 0;
        transition-duration: 0.5s;
        box-shadow: 3px 3px 3px var(--bg-body);

        .is-open & {
            overflow: visible;
            height: auto;
        }

        #subaccounts_menu select {
            background: var(--bg-body);
            border: 1px solid var(--border-main);
            font-size: var(--xsBody);
            text-transform: uppercase;
            letter-spacing: 1px;
            font-family: var(--font-accent), sans-serif;
            font-weight: 600;
            padding: 5px 10px;
            line-height: var(--xsBody);
            margin: 5px;
            width: 165px;

            option {
                font-size: var(--mBody);
            }
        }
    }
    &--mobile {
        #subaccounts_menu select {
            width: 100%;
            border: 1px solid var(--border-main);
            background: none;
            padding: 5px;
            text-align: center;
            letter-spacing: 1px;
            font-weight: 700;
            font-family: var(--font-accent-bold), sans-serif;
            text-transform: uppercase;
            font-size: var(--mBody);
            color: var(--text-content-accent);

            option {
                color: var(--text-body);
            }
        }
    }
}