/*******************************
    Templates
********************************/
tag-tw {
    width: 100%;
    max-width: 300px;
    background: var(--bg-accent);
    display: grid;
    font-size: var(--xsBody);
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 0 auto;

    &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: calc(100% - 22px);
        height: calc(100% - 22px);
        border: 1px solid var(--text-on-accent);
    }

    b {
        color: var(--text-on-accent) !important;
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid var(--text-on-accent);
    }

    span {
        padding: 10px;
        background: var(--bg-content);
        margin: 5px;
    }
}
.members,
.modal,
.webpage,
.profile,
.profile--freeform,
#post-preview .postcolor,
#topic-summary .post1 .postcolor,
.post--content .postcolor,
.webpage--content tag-tab {
    
    tag {
        &-xl,
        &-lg,
        &-md,
        &-sm,
        &-xs {
            & + br {
                display: none;
            }
        }
        /* Headers */
        &-xl,
        &-lg,
        &-md {
            font-family: var(--font-accent);
            text-transform: uppercase;
            font-weight: 700;
        }
        &-xl {
            display: block;
            font-size: calc(30px + var(--sizeBoost));
            margin: 0 auto 10px;
            max-width: max-content;
        }
        &-lg,
        &-md {
            display: grid;
            color: var(--text-content-accent);
            align-items: center;
            grid-gap: 15px;
            text-align: center;

            &::before,
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background: var(--border-main);
            }
        }
        &-lg {
            font-size: calc(18px + var(--sizeBoost));
            margin-bottom: 5px;

            @media only screen and (min-width: $xs) {
                grid-template-columns: minmax(20px, 1fr) minmax(0, max-content) minmax(20px, 1fr);
            }
        }
        &-md {
            font-size: var(--sBody);
            letter-spacing: 1px;
            margin-bottom: 3px;

            @media only screen and (max-width: $xs) {
                form label & {
                    grid-gap: 5px;
                    margin-bottom: 15px !important;
                }
            }

            @media only screen and (min-width: $xs) {
                grid-template-columns: 20px minmax(0, max-content) minmax(20px, 1fr);
            }
        }
        &-sm,
        &-xs {
            display: block;
            text-transform: uppercase;
            font-weight: 700;
            max-width: calc(300px + (var(--sizeBoost) * 20));
            margin: 0 auto;
        }
        &-sm {
            font-size: calc(var(--xsBody) + 0.5px);
            font-family: var(--font-accent);
            letter-spacing: 3px;
            line-height: 160%;
            margin-bottom: 4px;

            &[data-style="webpageaccent"],
            &[data-style="WEBAGEACCENT"],
            &[data-style="WebpageAccent"],
            &[data-style="webpageAccent"],
            &[data-style="Webpageaccent"] {
                margin: 15px 30px !important;
                font-size: var(--xsBody);
                max-width: none;
            }
        }
        &-xs {
            font-size: var(--xsBody);
            letter-spacing: 1px;
            color: var(--text-content-accent);
            line-height: 200%;

            &::before {
                content: '';
                width: 20px;
                height: 1px;
                margin-right: 10px;
                background: var(--border-main);
                display: inline-block;
                margin-bottom: calc((var(--xsBody) / 2) - 1.5px);
            }
        }

        &-lg {
            &[data-align="left"],
            &[data-align="LEFT"],
            &[data-align="Left"] {
                grid-template-columns: 20px minmax(0, max-content) minmax(20px, 1fr);
            }
            &[data-align="right"],
            &[data-align="RIGHT"],
            &[data-align="Right"] {
                grid-template-columns: minmax(20px, 1fr) minmax(0, max-content) 20px;
            }
        }

        &-md {
            &[data-align="center"],
            &[data-align="CENTER"],
            &[data-align="Center"] {
                grid-template-columns: minmax(20px, 1fr) minmax(0, max-content) minmax(20px, 1fr);
            }
            &[data-align="right"],
            &[data-align="RIGHT"],
            &[data-align="Right"] {
                grid-template-columns: minmax(20px, 1fr) minmax(0, max-content) 20px;
            }
        }

        &-xl,
        &-lg,
        &-md,
        &-sm,
        &-xs {
            &[data-align="left"],
            &[data-align="LEFT"],
            &[data-align="Left"] {
                margin-left: 0;
            }
            &[data-align="center"],
            &[data-align="CENTER"],
            &[data-align="Center"] {
                margin-left: auto;
                margin-right: auto;
            }
            &[data-align="right"],
            &[data-align="RIGHT"],
            &[data-align="Right"] {
                margin-right: 0;
            }

            &[data-color="body"],
            &[data-color="BODY"],
            &[data-color="Body"] {
                color: var(--text-body);
            }
            &[data-color="accent"],
            &[data-color="ACCENT"],
            &[data-color="Accent"] {
                color: var(--text-content-accent);
            }

            &:not(:first-child) {
                margin-top: 15px;
            }

            & + tag-xl,
            & + tag-lg,
            & + tag-md,
            & + tag-sm,
            & + tag-xs
            .profile--freeform & + br + tag-xl,
            .profile--freeform & + br + tag-lg,
            .profile--freeform & + br + tag-md,
            .profile--freeform & + br + tag-sm,
            .profile--freeform & + br + tag-xs {
                margin-top: 0;
            }
        }

        &-lg,
        &-md,
        &-xs {
            &[data-border="accent"],
            &[data-color="ACCENT"],
            &[data-color="Accent"] {
                &::before,
                &::after {
                    background-color: var(--bg-opaque-accent2);
                }
            }
        }

        /* Tabs */
        &-tabs {
            display: grid;
            height: 100%;
            grid-template-rows: 37px calc(100% - 52px);
            grid-gap: 15px;

            .profile--freeform & {
                width: calc(100% + 15px);
            }
            &[data-secondary] tag-tabset tag-tab {
                margin: 0;
                flex: 0 0 100%;
                padding: 0;
            }
        }
        &-labels {
            display: grid;
            font-family: var(--font-accent);
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;
            grid-template-columns: 33px calc(100% - 66px) 33px;
            line-height: var(--xsBody);
            overflow: hidden;
            scrollbar-width: thin;
            padding-bottom: 5px;
            border-bottom: 1px solid var(--border-main);
            padding-bottom: 15px;
            height: calc(36px + var(--sizeBoost));

            &::-webkit-scrollbar {
                width: 5px;
            }

            button {
                background: var(--bg-opaque-accent);
                border: 0;
                border-radius: 5px;
                color: var(--text-body);
                font-size: var(--xsBody);
                padding: 0 8px;
                width: max-content;
                cursor: pointer;

                &:last-of-type {
                    justify-self: end;
                }

                i {
                    color: var(--text-body) !important;
                    font-size: var(--xsBody) !important;
                }
            }
        }
        &-labelset {
            display: flex;
            gap: 10px;
            overflow: auto;
            padding: 0 10px;
            border: 1px solid var(--border-main);
            border-top: 0;
            border-bottom: 0;
            scrollbar-width: none;
            scroll-behavior: smooth;

            &::-webkit-scrollbar {
                display: none;
            }
        }
        &-label {
            border: 1px solid var(--border-main);
            padding: 5px;
            opacity: 0.75;
            cursor: pointer;
            white-space: nowrap;

            &.is-active {
                color: var(--text-on-accent) !important;
                opacity: 1;
                cursor: default;
                background: var(--bg-accent);
            }

            &:hover {
                border-color: var(--bg-opaque-accent);
                color: var(--text-content-accent);
                opacity: 1;
            }
        }
        &-tabset {
            display: flex;
            height: 100%;
            overflow: hidden;
        }
        &-tab {
            flex: 0 0 calc(100% - 20px);
            max-height: 100%;
            overflow: auto;
            padding-right: 15px;
            transition-duration: 0.5s;
            left: 0;
            margin: 0 10px;
            white-space: pre-line;

            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                background: var(--bg-accent);
                border-radius: 3px;
            }
        }

        /* emails */
        &-email {
            display: grid;
            grid-gap: 15px;
        }
        &-subject {
            font-family: var(--font-accent);
            font-size: var(--lBody);
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;

            &[data-align="center"],
            &[data-align="CENTER"],
            &[data-align="Center"] {
                text-align: center;
            }

            &[data-align="right"],
            &[data-align="RIGHT"],
            &[data-align="Right"] {
                text-align: right;
            }
        }
        &-contact {
            display: grid;
            text-transform: uppercase;
            font-weight: 700;
            font-size: var(--xsBody);
            line-height: 200%;
            letter-spacing: 1px;
            grid-template-columns: 20px auto;
            align-items: center;
            grid-gap: 0 15px;
            margin: 0 15px;

            b {
                font-family: var(--font-accent);
                align-self: end;
            }

            span {
                color: var(--text-content-accent);
                align-self: start;
            }

            &[data-photo="true"],
            &[data-photo="TRUE"],
            &[data-photo="True"] {
                grid-template-columns: 50px auto;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 5px solid var(--bg-accent);
                    grid-row: 1 / 3;
                    object-fit: cover;
                }

                &[data-align="right"],
                &[data-align="RIGHT"],
                &[data-align="Right"] {
                    text-align: right;
                    grid-template-columns: auto 50px;

                    img {
                        grid-column: 2 / 3;
                    }
                }
            }

            &[data-photo="false"],
            &[data-photo="FALSE"],
            &[data-photo="False"] {
                &::before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: var(--border-main);
                    grid-row: span 2;
                }

                &[data-align="right"],
                &[data-align="RIGHT"],
                &[data-align="Right"] {
                    text-align: right;
                    grid-template-columns: auto 20px;

                    &::before {
                        display: none;
                    }
                    &::after {
                        content: '';
                        width: 100%;
                        height: 1px;
                        background: var(--border-main);
                        grid-row: 1 / 3;
                        grid-column: 2 / 3;
                    }
                }
            }
        }
        &-dualcontact {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0 15px;

            @media only screen and (min-width: $md) {
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 15px;
            }

            tag-contact {
                &:last-child {
                    text-align: right;
                    grid-template-columns: auto 20px;
                }
                &[data-photo="true"],
                &[data-photo="TRUE"],
                &[data-photo="True"] {
                    &:last-child {
                        grid-template-columns: auto 50px;
        
                        img {
                            grid-column: 2 / 3;
                        }
                    }
                }
        
                &[data-photo="false"],
                &[data-photo="FALSE"],
                &[data-photo="False"] {
                    &:last-child {
                        &::before {
                            display: none;
                        }
                        &::after {
                            content: '';
                            width: 100%;
                            height: 1px;
                            background: var(--border-main);
                            grid-row: 1 / 3;
                            grid-column: 2 / 3;
                        }
                    }
                }
            }
        }
        &-content {
            border: 1px solid var(--border-main);
            padding: 25px 30px;
            white-space: pre-line;
        }

        /* phone */
        &-phone {
            margin: 0 auto;
            max-width: calc(300px + (var(--sizeBoost) * 20));
            display: grid;
            grid-template-columns: 50px auto;
            grid-gap: 15px;

            &[data-align="right"],
            &[data-align="RIGHT"],
            &[data-align="Right"] {
                grid-template-columns: auto 70px;

                tag-iconimage {
                    order: 2;
                }
                tag-messages {
                    order: 1;
                }
                tag-msg:first-child::before {
                    transform: rotate(-135deg);
                    right: -4px;
                    left: auto;
                }
            }
        }
        &-iconimage {
            width: 50px;
            height: 50px;
            display: block;
            border: 2px solid var(--bg-accent);
            border-radius: 50%;
            overflow: hidden;
            padding: 1px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                border: 4px solid var(--bg-accent);
            }
        }
        &-messages {
            display: grid;
            grid-gap: 5px;
        }
        &-msg {
            border: 1px solid var(--border-main);
            padding: 10px 16px;
            background: var(--bg-content);
            white-space: pre-line;

            &:first-of-type::before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-left: 1px solid var(--border-main);
                border-bottom: 1px solid var(--border-main);
                transform: rotate(45deg);
                top: 20px;
                left: -4px;
                background: var(--bg-content);
            }
        }
        &-action {
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;
            font-weight: 700;
            color: var(--text-content-accent);
            line-height: 160%;
            margin: 10px 0;
            white-space: pre-line;

            &::before {
                content: '';
                width: 20px;
                height: 1px;
                background: var(--border-main);
                float: left;
                margin-top: calc(var(--xsBody) + -1.5px);
                margin-right: 10px;
            }
        }

        /* timeline */
        &-timeline {
            display: grid;
            grid-template-columns: 70px auto;
            grid-gap: 30px 15px;
        }
        &-year {
            display: grid;
            font-size: calc(26px + var(--sizeBoost));
            font-weight: 900;
            color: var(--text-content-accent);
            grid-template-columns: minmax(20px, 1fr) minmax(0, max-content) minmax(20px, 1fr);
            grid-gap: 15px;
            align-items: center;
            grid-column: 1 / -1;
            margin-top: 15px;

            &::before,
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background: var(--border-main);
            }
        }
        &-date {
            background: var(--bg-accent);
            width: 70px;
            height: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0;
            border-radius: 50%;

            &::before {
                content: '';
                position: absolute;
                top: 5px;
                left: 5px;
                width: calc(100% - 12px);
                height: calc(100% - 12px);
                border: 1px solid var(--text-on-accent);
                border-radius: 50%;
            }

            b {
                color: var(--text-on-accent);
                font-size: var(--xsBody);
                text-transform: uppercase;
                font-family: var(--font-accent);
                font-weight: 700;
                letter-spacing: 1px;
            }

            span {
                color: var(--text-on-accent);
                font-size: var(--xlBody);
                margin-top: -9px;
                font-weight: 700;
            }
        }
        &-events {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &-event {
            border: 1px solid var(--border-main);
            display: block;
            padding: 10px 15px;
            background: var(--bg-content);
            white-space: pre-line;

            &:first-of-type {
                margin-top: 22px;

                &::before {
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-left: 1px solid var(--border-main);
                    border-bottom: 1px solid var(--border-main);
                    transform: rotate(45deg);
                    display: block;
                    position: absolute;
                    top: 10px;
                    left: -4px;
                    background: var(--bg-content);
                }
            }
        }

        /* playlist */
        &-playlist {
            display: grid;
            grid-template-columns: 60px 1fr;
            grid-gap: 15px;
            max-width: 325px;
            margin: 0 auto;

            &[data-align="right"],
            &[data-align="RIGHT"],
            &[data-align="Right"] {
                grid-template-columns: auto 70px;

                tag-listen {
                    order: 2;
                }
                tag-songs {
                    order: 1;
                }
                tag-song:first-child::before {
                    transform: rotate(-135deg);
                    right: -4px;
                    left: auto;
                }
            }

            &[data-scroll] {
                tag-songs {
                    max-height: 310px;
                    overflow: auto;
                    padding: 0 10px 0 5px;
                    margin-top: 20px;
                    scrollbar-width: thin;
                    scrollbar-color: var(--bg-accent) transparent;

                    tag-song:first-child {
                        margin-top: 0;
                    }
                }
            }
        }
        &-listen {
            background: var(--bg-accent);
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: block;
            overflow: hidden;
            padding: 5px;

            a {
                display: flex;
                width: 100%;
                height: 100%;
                background: none;
                border: none;
                padding: 0;
                margin: 0;
            }

            i {
                display: flex !important;
                border: 1px solid var(--text-on-accent);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                color: var(--text-on-accent);
                font-size: 20px;
                padding: 0 1px 1px 0;
            }
        }
        &-songs {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        &-song {
            display: flex;
            flex-direction: column;
            border: 1px solid var(--border-main);
            text-transform: uppercase;
            font-weight: 700;
            font-size: var(--xsBody);
            letter-spacing: 1px;
            line-height: 200%;
            padding: 10px 15px;
            background: var(--bg-content);

            &:first-of-type {
                margin-top: 20px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 5px;
                    left: -4px;
                    width: 6px;
                    height: 6px;
                    border-left: 1px solid var(--border-main);
                    border-bottom: 1px solid var(--border-main);
                    transform: rotate(45deg);
                    background: var(--bg-content);
                }
            }

            b {
                font-size: var(--mBody);
                font-family: var(--font-accent);
                color: var(--text-content-accent);
            }
        }

        /* grids */
        &-imagegrid {
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
            grid-gap: 15px;
            background: var(--bg-accent);
            margin: 0 auto;
            padding: 15px;

            &:not([data-width]) {
                max-width: 400px;
            }

            span {
                width: 100%;
                height: 0;
                border: 1px solid var(--border-main);
                background: var(--bg-content);

                img {
                    width: calc(100% - 12px);
                    height: calc(100% - 12px);
                    object-fit: cover;
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    right: 6px;
                    bottom: 6px;
                    border: 1px solid var(--border-main);
                }
            }

            &[data-columns="2"] {
                grid-template-columns: repeat(2, 1fr);
            }
            &[data-columns="3"] {
                grid-template-columns: repeat(3, 1fr);
            }
            &[data-columns="4"] {
                grid-template-columns: repeat(4, 1fr);
            }
            &[data-columns="5"] {
                grid-template-columns: repeat(5, 1fr);
            }

            &:not([data-ratio]) {
                span {
                    height: auto;

                    img {
                        position: relative;
                    }
                }
            }
            &[data-ratio="1:1"] {
                span {
                    padding-top: 100%;
                }
            }
            &[data-ratio="16:9"] {
                span {
                    padding-top: 56.25%;
                }
            }
            &[data-ratio="9:16"] {
                span {
                    padding-top: 177.78%;
                }
            }
            &[data-ratio="2:3"] {
                span {
                    padding-top: 150%;
                }
            }
            &[data-ratio="3:2"] {
                span {
                    padding-top: 66.67%;
                }
            }
            &[data-ratio="4:3"] {
                span {
                    padding-top: 75%;
                }
            }
            &[data-ratio="3:4"] {
                span {
                    padding-top: 133.33%;
                }
            }
            &[data-ratio="2:1"] {
                span {
                    padding-top: 50%;
                }
            }
            &[data-ratio="1:2"] {
                span {
                    padding-top: 200%;
                }
            }
            &[data-ratio="3:1"] {
                span {
                    padding-top: 33.33%;
                }
            }
            &[data-ratio="1:3"] {
                span {
                    padding-top: 300%;
                }
            }
        }
        &-contentgrid {
            display: grid;
            grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
            grid-gap: 15px 30px;
            margin: 0 auto;

            &[data-gap="large"] {
                grid-gap: 30px;
            }

            &:not(:last-child) {
                margin-bottom: 30px;
            }

            &[data-columns="2"] {
                grid-template-columns: repeat(1, 1fr);

                @media only screen and (min-width: $md) {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
            &[data-columns="3"] {
                grid-template-columns: repeat(1, 1fr);

                @media only screen and (min-width: $md) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media only screen and (min-width: $lg) {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
            &[data-columns="4"] {
                grid-template-columns: repeat(1, 1fr);

                @media only screen and (min-width: $md) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media only screen and (min-width: $lg) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media only screen and (min-width: $xl) {
                    grid-template-columns: repeat(4, 1fr);
                }
            }
            &[data-columns="5"] {
                grid-template-columns: repeat(1, 1fr);

                @media only screen and (min-width: $md) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @media only screen and (min-width: $lg) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @media only screen and (min-width: $xl) {
                    grid-template-columns: repeat(4, 1fr);
                }

                @media only screen and (min-width: $xxl) {
                    grid-template-columns: repeat(5, 1fr);
                }
            }
        }

        /* ships */
        &-ship {
            display: grid;
            grid-template-columns: 70px auto;
            grid-gap: 15px;
            align-items: center;

            &:not(:last-of-type) {
                margin-bottom: 15px;
            }

            &[data-align="right"],
            &[data-align="RIGHT"],
            &[data-align="Right"] {
                margin-right: 0;
                margin-left: auto;
            }
            &[data-align="centerleft"],
            &[data-align="CENTERLEFT"],
            &[data-align="centerLeft"],
            &[data-align="CenterLeft"],
            &[data-align="Centerleft"] {
                margin-left: auto;
                margin-right: auto;
            }
            &[data-align="centerright"],
            &[data-align="CENTERRIGHT"],
            &[data-align="CenterRight"],
            &[data-align="centerRight"],
            &[data-align="Centerright"] {
                margin-left: auto;
                margin-right: auto;
            }
            &[data-align="right"],
            &[data-align="RIGHT"],
            &[data-align="Right"],
            &[data-align="centerright"],
            &[data-align="CENTERRIGHT"],
            &[data-align="CenterRight"],
            &[data-align="centerRight"],
            &[data-align="Centerright"] {
                grid-template-columns: auto 70px;

                tag-shipimage,
                tag-shipicon {
                    order: 2;
                }
                tag-shipinfo {
                    order: 1;

                    &::before {
                        transform: rotate(-135deg);
                        right: -4px;
                        left: auto;
                    }
                }
            }

            &[data-type="request"],
            &[data-type="REQUEST"],
            &[data-type="Request"] {
                align-items: start;

                tag-shipinfo::before {
                    top: 32px;
                }
            }
        }
        &-shipimage,
        &-shipicon {
            display: flex;
            background: var(--bg-accent);
            width: 70px;
            height: 70px;
            padding: 3px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            color: var(--text-on-accent);
            font-size: 20px;

            a {
                display: flex;
                width: 100%;
                height: 100%;
                color: var(--text-on-accent);
                background: none;
                border: none;
                margin: 0;
                padding: 0;
            }
        }
        &-shipimage {
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: 1px solid var(--text-on-accent);
                padding: 5px;
            }
            a::after {
                position: absolute;
                width: 20px;
                height: 20px;
                background: var(--bg-accent);
                border-radius: 50%;
                border: 1px solid var(--text-on-accent);
                bottom: 0;
                right: 0;
                font-family: 'Font Awesome 6 Pro';
                font-size: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--text-on-accent);
            }
        }
        &-shipicon {
            padding: 5px;
            i {
                width: 100%;
                height: 100%;
                display: flex !important;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--text-on-accent);
                border-radius: 50%;
                color: var(--text-on-accent);
                font-size: 20px;
            }
        }
        &-shipinfo {
            border: 1px solid var(--border-main);
            padding: 10px 15px;
            background: var(--bg-content);
            white-space: pre-line;

            &::before {
                content: '';
                width: 6px;
                height: 6px;
                border-left: 1px solid var(--border-main);
                border-bottom: 1px solid var(--border-main);
                position: absolute;
                top: calc(50% - 2px);
                left: -4px;
                transform: rotate(45deg);
                background: var(--bg-content);
            }
        }

        /* quotes */
        &-quotewrap {
            display: flex;
            flex-direction: column;
        }
        &-author {
            display: grid;
            grid-template-columns: minmax(20px, 1fr) minmax(0, max-content) minmax(20px, 1fr);
            font-family: var(--font-accent);
            text-transform: uppercase;
            color: var(--text-content-accent);
            grid-gap: 10px;
            align-items: center;
            font-size: var(--xsBody);
            letter-spacing: 1px;

            &::before,
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background: var(--border-main);
            }
        }
        &-quote {
            display: block;
            text-align: justify;
            font-size: 24px;
            font-weight: 100;
            padding: 15px;
            white-space: pre-line;

            b {
                font-size: 24px;
                font-weight: 300;
            }
            i {
                font-size: 24px;
                font-weight: 100;
            }

            &[data-align="left"] {
                text-align: left;
            }
            &[data-align="center"] {
                text-align: center;
            }
            &[data-align="right"] {
                text-align: right;
            }
        }

        /* social media */
        &-social {
            display: grid;
            margin: 0 auto;
            max-width: 350px;
            border-left: 1px solid var(--border-main);
            padding: 15px;
            background: var(--bg-body);

            button {
                position: absolute;
                top: calc(319px / 2);
                display: flex;
                width: 24px;
                height: 24px;
                z-index: 2;
                background: var(--bg-content);
                border: 1px solid var(--border-main);
                border-radius: 50%;
                color: var(--text-content-accent);
                align-items: center;
                justify-content: center;
                cursor: pointer;
    
                i {
                    font-size: 10px;
                }
    
                &[data-direction="left"] {
                    left: 3px;
                }
    
                &[data-direction="right"] {
                    right: 3px;
                }
            }
        }
        &-socialimage {
            width: 100%;
            height: 319px;
            overflow: hidden;
            display: flex;
            gap: 0;
            border-radius: 5px;

            img {
                flex: 0 0 100%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                left: 0;
                transition-duration: 0.5s;
            }
        }
        &-socialname {
            font-size: var(--xlBody);
            font-family: var(--font-accent);
            text-transform: uppercase;
            font-weight: 700;
            display: grid;
            grid-template-columns: 20px minmax(0, max-content) minmax(20px, 1fr);
            align-items: center;
            grid-gap: 10px;
            margin-top: 15px;
            color: var(--text-header-accent);

            &::before,
            &::after {
                content: '';
                width: 100%;
                height: 1px;
                background: var(--border-main);
            }
        }
        &-socialshort {
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;
            font-weight: 700;
            line-height: var(--mBody);
            padding: 5px 10px;
        }
        &-looking {
            display: flex;
            gap: 5px;
            align-items: center;
            margin: 10px 0 0;
            border-top: 1px solid var(--border-main);
            padding: 10px;
            border-bottom: 1px solid var(--border-main);
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;
            font-weight: 700;
            line-height: var(--mBody);

            &[data-work="true"] .fa-briefcase,
            &[data-convo="true"] .fa-message-lines,
            &[data-friends="true"] .fa-users,
            &[data-fling="true"] .fa-bolt,
            &[data-love="true"] .fa-heart {
                background: var(--bg-accent);
                opacity: 1;
            }

            b {
                font-size: var(--xsBody);
                color: var(--text-body);
            }

            i {
                color: var(--text-on-accent);
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--text-body);
                border-radius: 50%;
                font-size: 10px;
                text-align: center;
                opacity: 0.35;
            }
        }
        &-socialblurb {
            display: block;
            text-align: justify;
            white-space: pre-line;
            padding: 10px;
        }
        &-socialfriends {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 15px;
            gap: 10px;

            a {
                display: flex;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                padding: 5px;
                margin: 0;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
        &-socialpost {
            font-size: 20px;
            font-weight: 100;
            line-height: 200%;
            white-space: pre-line;
        }
        &-highlight {
            font-weight: 600;
            color: var(--text-header-accent);
        }
        &-socialstatus {
            display: flex;
            gap: 15px;
            align-items: center;
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;

            i {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--bg-accent);
                border-radius: 50%;
                padding: 0;
                margin: 0;
                flex: 0 0 40px;
                color: var(--text-on-accent);
                font-size: 14px;

                &::after {
                    content: '';
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    top: 5px;
                    left: 5px;
                    border: 1px solid var(--text-on-accent);
                    border-radius: 50%;
                }
            }

            span {
                &:not(.social-statusimage) {
                    &::before {
                        content: 'currently ';
                        font-weight: 700;
                        font-family: var(--font-accent);
                        color: var(--text-header-accent);
                    }
                }
            }

            div,
            span {
                &:not(.social-statusimage) {
                    line-height: 200%;

                    b {
                        font-size: var(--xsBody);
                    }
                }
            }
            .social-statusimage {
                width: 60px;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--bg-accent);
                border-radius: 50%;
                padding: 0;
                margin: 0;
                flex: 0 0 60px;

                img {
                    width: calc(100% - 22px);
                    height: calc(100% - 22px);
                    border-radius: 50%;
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: calc(100% - 12px);
                    height: calc(100% - 12px);
                    top: 5px;
                    left: 5px;
                    border: 1px solid var(--text-on-accent);
                    border-radius: 50%;
                }
            }
        }

        /* basic */
        &-wrap {
            display: block;
            border: 15px solid var(--bg-accent);

            &::after {
                content: '';
                position: absolute;
                top: -10px;
                left: -10px;
                width: calc(100% + 18px);
                height: calc(100% + 18px);
                border: 1px solid var(--bg-content);
            }

            tag-basic {
                z-index: 2;
            }

            &[data-scroll="true"] .scroll {
                max-height: 450px;
            }

            tag-shipimage {
                z-index: 2;
                position: absolute;
                top: -45px;
                left: calc(50% - 35px);

                & + * {
                    margin-top: 35px !important;
                }

                & + tag-xl,
                & + tag-lg,
                & + tag-md,
                & + tag-sm,
                & + tag-xs {
                    width: calc(100% - 30px);
                }
            }
            &[data-padding="more"],
            &[data-padding="More"],
            &[data-padding="MORE"] {
                tag-basic {
                    padding: 25px 30px !important;
                }

                tag-shipimage + * {
                    margin-top: 50px !important;
                }
            }
            &[data-scroll="short"] .scroll {
                max-height: 225px;
                padding: 0 15px 0 0;
                margin: 15px;
            }
        }
        &-basic {
            white-space: pre-line;
            text-align: justify;
            display: block;
            padding: 15px 20px;

            & + a.user-tagged {
                z-index: 1;
                position: relative;
                display: block;
                margin: 0 auto 20px !important;
                max-width: max-content;
                line-height: 200%;

                &::before {
                    content: 'tagged for ';
                }
            }
        }


        &-tabs,
        &-labels,
        &-labelset,
        &-tabset,
        &-email,
        &-dualcontact,
        &-contact,
        &-phone,
        &-iconimage,
        &-messages,
        &-timeline,
        &-year,
        &-date,
        &-date b,
        &-date span,
        &-events,
        &-playlist,
        &-listen,
        &-listen a,
        &-listen a i,
        &-songs,
        &-imagegrid,
        &-imagegrid span,
        &-ship,
        &-shipimage,
        &-shipimage a,
        &-shipicon,
        &-shipicon a,
        &-shipicon a i,
        &-shipicon i {
            & > br {
                display: none;
            }
        }
        &-label,
        &-tab,
        &-subject,
        &-contact b,
        &-contact span,
        &-content,
        &-msg,
        &-event,
        &-song,
        &-shipinfo {
            & > br:first-child,
            & > br:last-child {
                display: none;
            }
        }
        &-ship {
            & + br {
                display: none;
            }
        }
    }

    .lux {
        //border adjustments
        border-color: var(--accent) !important;
        tag-label {
            &:hover {
                border-color: var(--dkAccent);
            }
        }
        tag-contact {
            &[data-photo="true"],
            &[data-photo="TRUE"],
            &[data-photo="True"] {
                img {
                    border-color: var(--accent);
                }
            }
        }
        tag-iconimage {
            border-color: var(--accent);
    
            img {
                border-color: var(--accent);
            }
        }
    
        //background adjustments
        tag-date,
        tag-listen,
        tag-imagegrid,
        tag-shipimage,
        tag-shipicon,
        tag-shipimage a::after,
        tag-socialstatus i,
        tag-socialstatus .social-statusimage,
        tag-labels button,
        tag-label.is-active,
        tag-tab::-webkit-scrollbar-thumb,
        tag-imagegrid {
            background: var(--accent);
        }
        tag-looking {
            &[data-work="true"] .fa-briefcase,
            &[data-convo="true"] .fa-message-lines,
            &[data-friends="true"] .fa-users,
            &[data-fling="true"] .fa-bolt,
            &[data-love="true"] .fa-heart {
                background: var(--accent);
            }
        }
        tag-lg,
        tag-md,
        tag-xs {
            &[data-color="accent"],
            &[data-color="ACCENT"],
            &[data-color="Accent"] {
                &::before,
                &::after {
                    background: var(--accent);
                }
            }
        }
    
        //text color adjustments
        tag-lg,
        tag-md,
        tag-xs,
        tag-label:hover,
        tag-contact span,
        tag-action,
        tag-year,
        tag-song b,
        tag-author,
        tag-social button {
            color: var(--accent);
        }
        tag-xl,
        tag-sm {
            &[data-color="accent"],
            &[data-color="ACCENT"],
            &[data-color="Accent"] {
                color: var(--accent);
            }
        }
        tag-socialname,
        tag-highlight,
        tag-socialstatus span:not(.social-statusimage)::before {
            color: var(--dkAccent);
        }
        tag-listen i {
            color: var(--bg-content) !important;
        }

        //other
        tag-songs {
            scrollbar-color: var(--accent) transparent !important;
        }
    }

}

//profile fixes with white-space: pre-line;
.profile {
    tag {
        &-xl,
        &-lg,
        &-md,
        &-sm,
        &-xs {
            &:not(:first-child) {
                margin-top: 0;
            }
        }
        &-tab {
            br {
                display: none;
            }
        }
    }
}

//remove white-space: pre-line from webpages so i don't have to redo them all
.webpage tag-tab {
    white-space: normal !important;
}

[data-scroll="true"],
[data-scroll="TRUE"],
[data-scroll="True"] {
    .scroll {
        max-height: 225px;
        padding: 0 15px 0 0 !important;
        margin: 15px;
        height: auto;

        & ~ br {
            display: none;
        }
    }
}

[data-scroll="short"],
[data-scroll="SHORT"],
[data-scroll="Short"] {
    .scroll {
        max-height: 125px;
        padding: 0 15px 0 0 !important;
        margin: 15px;
        height: auto;

        & ~ br {
            display: none;
        }
    }
}

[data-width="extrasmall"],
[data-width="EXTRASMALL"],
[data-width="ExtraSmall"],
[data-width="Extrasmall"],
[data-width="extraSmall"],
[data-width="xs"],
[data-width="XS"],
[data-width="Xs"],
[data-width="xS"] {
    max-width: calc(250px + (var(--sizeBoost) * 20));
    margin-left: auto;
    margin-right: auto;
}
[data-width="small"],
[data-width="SMALL"],
[data-width="Small"],
[data-width="sm"],
[data-width="SM"],
[data-width="Sm"],
[data-width="sM"] {
    max-width: calc(325px + (var(--sizeBoost) * 20));
    margin-left: auto;
    margin-right: auto;
}
[data-width="medium"],
[data-width="MEDIUM"],
[data-width="Medium"],
[data-width="med"],
[data-width="MED"],
[data-width="Med"],
[data-width="md"],
[data-width="MD"],
[data-width="Md"],
[data-width="mD"] {
    max-width: calc(400px + (var(--sizeBoost) * 20));
    margin-left: auto;
    margin-right: auto;
}
[data-width="large"],
[data-width="LARGE"],
[data-width="Large"],
[data-width="lg"],
[data-width="LG"],
[data-width="Lg"],
[data-width="lG"] {
    max-width: calc(475px + (var(--sizeBoost) * 20));
    margin-left: auto;
    margin-right: auto;
}
[data-width="extralarge"],
[data-width="EXTRALARGE"],
[data-width="ExtraLarge"],
[data-width="Extralarge"],
[data-width="extraLarge"],
[data-width="xl"],
[data-width="XL"],
[data-width="Xl"],
[data-width="xL"] {
    max-width: calc(550px + (var(--sizeBoost) * 20));
    margin-left: auto;
    margin-right: auto;
}
[data-width][data-align="left"],
[data-width][data-align="LEFT"],
[data-width][data-align="Left"] {
    margin-left: 0;
    margin-right: auto;
}
[data-width][data-align="center"],
[data-width][data-align="CENTER"],
[data-width][data-align="Center"] {
    margin-left: auto;
    margin-right: auto;
}
[data-width][data-align="right"],
[data-width][data-align="RIGHT"],
[data-width][data-align="Right"] {
    margin-left: auto;
    margin-right: 0;
}
[data-align="justify"],
[data-align="JUSTIFY"],
[data-align="Justify"] {
    text-align: justify;
}