/*******************************
    Templates
********************************/
tag {
    /* Headers */
    &-xl,
    &-lg,
    &-md {
        font-family: var(--font-accent-bold);
        text-transform: uppercase;
        font-weight: 700;
    }
    &-xl {
        display: block;
        font-size: calc(30px + var(--sizeBoost));
        margin: 0 auto 10px;
        max-width: max-content;
    }
    &-lg,
    &-md {
        display: grid;
        color: var(--text-content-accent);
        align-items: center;
        grid-gap: 15px;
        text-align: center;

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background: var(--border-main);
        }
    }
    &-lg {
        font-size: calc(18px + var(--sizeBoost));
        margin-bottom: 5px;

        @media only screen and (min-width: $xs) {
            grid-template-columns: minmax(20px, 1fr) minmax(0, max-content) minmax(20px, 1fr);
        }
    }
    &-md {
        font-size: var(--sBody);
        letter-spacing: 1px;
        margin-bottom: 3px;

        @media only screen and (min-width: $xs) {
            grid-template-columns: 20px max-content 1fr;
        }
    }
    &-sm,
    &-xs {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        max-width: calc(300px + (var(--sizeBoost) * 20));
        margin: 0 auto;
    }
    &-sm {
        font-size: calc(var(--xsBody) + 0.5px);
        font-family: var(--font-accent-bold);
        letter-spacing: 3px;
        line-height: 160%;
        margin-bottom: 4px;
    }
    &-xs {
        font-size: var(--xsBody);
        font-family: var(--font-accent);
        letter-spacing: 1px;
        color: var(--text-content-accent);
        line-height: 200%;

        &::before {
            content: '';
            width: 20px;
            height: 1px;
            margin-right: 10px;
            background: var(--border-main);
            display: inline-block;
            margin-bottom: calc((var(--xsBody) / 2) - 1.5px);
        }
    }

    &-xl,
    &-lg,
    &-md,
    &-sm,
    &-xs {
        &[data-align="left"] {
            margin-left: 0;
        }
        &[data-align="center"] {
            margin-left: auto;
            margin-right: auto;
        }
        &[data-align="right"] {
            margin-right: 0;
        }

        &[data-color="body"] {
            color: var(--text-body);
        }
        &[data-color="accent"] {
            color: var(--text-content-accent);
        }

        &:not(:first-child) {
            margin-top: 15px;
        }

        & + tag-xl,
        & + tag-lg,
        & + tag-md,
        & + tag-sm,
        & + tag-xs
        .profile--freeform & + br + tag-xl,
        .profile--freeform & + br + tag-lg,
        .profile--freeform & + br + tag-md,
        .profile--freeform & + br + tag-sm,
        .profile--freeform & + br + tag-xs {
            margin-top: 0;
        }
    }

    &-lg,
    &-md,
    &-xs {
        &[data-border="accent"] {
            &::before,
            &::after {
                background-color: var(--bg-opaque-accent2);
            }
        }
    }

    /* Tabs */
    &-tabs {
        display: grid;
        height: 100%;
        grid-template-rows: 37px calc(100% - 52px);
        grid-gap: 15px;
    }
    &-labels {
        display: grid;
        font-family: var(--font-accent-bold);
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 1px;
        grid-template-columns: 33px calc(100% - 66px) 33px;
        line-height: var(--xsBody);
        overflow: hidden;
        scrollbar-width: thin;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--border-main);
        padding-bottom: 15px;

        button {
            background: var(--bg-opaque-accent);
            border: 0;
            border-radius: 5px;
            color: var(--text-body);
            font-size: var(--xsBody);
            padding: 0 8px;
            width: max-content;
            cursor: pointer;

            &:last-child {
                justify-self: end;
            }
        }
    }
    &-labelset {
        display: flex;
        gap: 10px;
        overflow: auto;
        padding: 0 10px;
        border: 1px solid var(--border-main);
        border-top: 0;
        border-bottom: 0;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
    &-label {
        border: 1px solid var(--border-main);
        padding: 5px;
        opacity: 0.75;
        cursor: pointer;

        &.is-active {
            color: var(--text-on-accent) !important;
            opacity: 1;
            cursor: default;
            background: var(--bg-accent);
        }

        &:hover {
            border-color: var(--bg-opaque-accent);
            color: var(--text-content-accent);
            opacity: 1;
        }
    }
    &-tabset {
        display: flex;
        height: 100%;
        overflow: hidden;
    }
    &-tab {
        flex: 0 0 calc(100% - 20px);
        max-height: 100%;
        overflow: auto;
        padding-right: 15px;
        transition-duration: 0.5s;
        left: 0;
        margin: 0 10px;
    }
}