/*******************************
    Templates
********************************/
tag {
    &-xl,
    &-lg,
    &-md {
        font-family: var(--font-accent-bold);
        text-transform: uppercase;
        font-weight: 700;
    }
    &-xl {
        display: block;
        font-size: calc(30px + var(--sizeBoost));
        margin: 0 auto 10px;
        max-width: max-content;
    }
    &-lg,
    &-md {
        display: grid;
        color: var(--text-content-accent);
        align-items: center;
        grid-gap: 15px;
        text-align: center;

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background: var(--border-main);
        }
    }
    &-lg {
        font-size: calc(18px + var(--sizeBoost));
        margin-bottom: 5px;

        @media only screen and (min-width: $xs) {
            grid-template-columns: minmax(20px, 1fr) minmax(0, max-content) minmax(20px, 1fr);
        }
    }
    &-md {
        font-size: var(--sBody);
        letter-spacing: 1px;
        margin-bottom: 3px;

        @media only screen and (min-width: $xs) {
            grid-template-columns: 20px max-content 1fr;
        }
    }
    &-sm,
    &-xs {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
        max-width: calc(300px + (var(--sizeBoost) * 20));
        margin: 0 auto;
    }
    &-sm {
        font-size: calc(var(--xsBody) + 0.5px);
        font-family: var(--font-accent-bold);
        letter-spacing: 3px;
        line-height: 160%;
        margin-bottom: 4px;
    }
    &-xs {
        font-size: var(--xsBody);
        font-family: var(--font-accent);
        letter-spacing: 1px;
        color: var(--text-content-accent);
        line-height: 200%;

        &::before {
            content: '';
            width: 20px;
            height: 1px;
            margin-right: 10px;
            background: var(--border-main);
            display: inline-block;
            margin-bottom: calc((var(--xsBody) / 2) - 1.5px);
        }
    }

    &-xl,
    &-lg,
    &-md,
    &-sm,
    &-xs {
        &[data-align="left"] {
            margin-left: 0;
        }
        &[data-align="center"] {
            margin-left: auto;
            margin-right: auto;
        }
        &[data-align="right"] {
            margin-right: 0;
        }

        &[data-color="body"] {
            color: var(--text-body);
        }
        &[data-color="accent"] {
            color: var(--text-content-accent);
        }

        &:not(:first-child) {
            margin-top: 15px;
        }

        & + tag-xl,
        & + tag-lg,
        & + tag-md,
        & + tag-sm,
        & + tag-xs
        .profile--freeform & + br + tag-xl,
        .profile--freeform & + br + tag-lg,
        .profile--freeform & + br + tag-md,
        .profile--freeform & + br + tag-sm,
        .profile--freeform & + br + tag-xs {
            margin-top: 0;
        }
    }

    &-lg,
    &-md,
    &-xs {
        &[data-border="accent"] {
            &::before,
            &::after {
                background-color: var(--bg-opaque-accent2);
            }
        }
    }
}