/*******************************
    Topic List
********************************/
.topiclist {
    display: grid;
    gap: 20px;
    margin: 0 10px 30px;
    max-width: 1100px;

    @media only screen and (min-width: $md) {
        grid-template-columns: 1fr 1fr;
        margin: 0 auto 50px;
        gap: 50px;
    }

    .topic {
        height: 100%;

        &--border {
            height: 100%;
        }
    }

    h2 {
        font-family: var(--font-accent);
        font-weight: 900;
        text-transform: uppercase;
        font-size: var(--lBody);
        text-align: center;
        color: var(--text-header-accent);
        display: grid;
        align-items: center;
        grid-gap: 20px;
        letter-spacing: 3px;
        margin: 20px -20px 0;

        &::before,
        &::after {
            content: '';
            height: 1px;
            width: 100%;
            background: var(--border-main);
            display: block;
        }

        @media only screen and (min-width: $md) {
            grid-template-columns: 1fr max-content 1fr;
            margin: 50px 50px 0;
            letter-spacing: 5px;
            grid-gap: 30px;
            font-size: calc(20px + var(--sizeBoost));
            grid-column: 1 / -1;
        }
    }
    h3 {
        grid-column: 1 / -1;
        font-family: var(--font-accent);
        text-transform: uppercase;
        font-size: var(--mBody);
        letter-spacing: 1px;
        display: grid;
        grid-template-columns: 20px minmax(0, max-content) minmax(20px, auto);
        color: var(--text-header-accent);
        align-items: center;
        gap: 10px;
        margin: 0 50px;

        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            background: var(--border-main);
        }
    }

    &--info {
        background: var(--bg-content);
        max-width: 1100px;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        font-size: var(--xsBody);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;

        input[type="submit"],
        input[type="button"] {
            text-transform: uppercase;
            font-family: var(--font-accent);
            font-weight: 700;
            font-size: var(--xsBody);
            letter-spacing: 1px;
            color: var(--text-content-accent);
        }
    }
}

.topic {
    background: var(--bg-content);
    height: max-content;
    z-index: 2;
    padding: 15px;
    text-align: center;

    &--border {
        height: 100%;
        padding: 30px;
        border: 1px solid var(--border-main);

        &  > a {
            font-family: var(--font-accent);
            font-size: calc(16px + var(--sizeBoost));
            color: var(--text-content-accent);
            display: block;
            line-height: 120%;
            text-transform: uppercase;
            font-weight: 700;
            max-width: 375px;
            margin: 0 auto;
        }

        .new & {
            border-color: var(--text-content-accent);
        }

        label {
            position: absolute;
            top: -8px;
            left: -8px;
            width: 16px;
            height: 16px;

            input {
                display: none;

                & + div {
                    background: var(--bg-content);
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    font-size: 8px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: transparent;
                    border: 1px solid var(--border-main);
                    cursor: pointer;
                }

                &:checked + div {
                    background: var(--bg-accent);
                    color: var(--text-on-accent);
                }
            }
        }

        .desc {
            display: block;
            margin-top: 5px;
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;
            font-weight: 600;
        }

        .small {
            display: flex;
            text-transform: uppercase;
            font-size: 0;
            letter-spacing: 1px;
            font-weight: 700;
            margin: 15px 0 0 -11px;
            justify-content: center;
            gap: 5px;
            
            a {
                font-size: var(--xsBody);
                background: var(--bg-accent);
                color: var(--text-on-accent);
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 16px;
                height: 16px;
                border-radius: 3px;
                padding: 3px;
            }
        }
    }

    &--latest,
    &--started,
    &--stats {
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 1px;
        font-weight: 700;
        margin-top: 15px;
        line-height: 200%;
    }

    &--stats {
        display: flex;
        gap: 30px;
        justify-content: center;

        b {
            color: var(--text-content-accent);
            font-weight: 900;
        }
    }
}

#SF {
    main {
        & > a:first-child + script + table {
            margin-top: 93px;
        }
    }
}
#ST {
    main {
        & > a:first-child + script + a + table {
            margin-top: 93px;
        }
    }
}
#SF,
#ST {
    main {
        & > table,
        & > form > table {
            display: block;
            max-width: 1100px;
            margin: 0 auto;

            & > tbody {
                display: block;

                & > tr {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    gap: 15px 30px;

                    & > td {
                        max-width: max-content;

                        &:last-child {
                            display: flex;
                            gap: 5px;
                        }
                    }
                }
            }
        }

        .wrapmini {

            & + div[align="right"] {
                font-size: var(--xsBody);
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 600;
                
                input[type="text"] {
                    margin-right: 3px;
                    top: 1px;
                }
                input[type="submit"],
                input[type="button"] {
                    text-transform: uppercase;
                    font-family: var(--font-accent);
                    font-weight: 700;
                    font-size: var(--xsBody);
                    letter-spacing: 1px;
                    color: var(--text-content-accent);
                }
            }
        }
    }
}