/*******************************
    Settings
    - Used in settings webpage
********************************/
:root {
    --headerImage: url(../img/coast.jpg); /*https://www.pexels.com/photo/top-view-photo-of-rocky-shore-2307636*/
}
.dark {
    --dark: var(--white);
    --bgOffset: var(--offwhite);
    --light: var(--black);
}
.light {
    --dark: var(--black);
    --bgOffset: var(--offwhite);
    --light: var(--white);
}
.g-1 {
    //validating
    --accent: rgba(152, 183, 178, 1);
}
.g-2 {
    //guest
    --accent: rgba(152, 183, 178, 1);
}
.g-3 {
    //member
    --accent: rgba(152, 183, 178, 1);
}
.g-4 {
    //admin
    --accent: rgba(152, 183, 178, 1);
}
.g-5 {
    //banned
    --accent: rgba(152, 183, 178, 1);
}