.claim {
    grid-gap: 20px;

    &--item {
        background: var(--content);
        padding: 20px;
        display: flex;
        flex-direction: column;
        font-size: var(--xsBody);
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 200%;
        border-left: 10px solid var(--ltaccent);

        b {
            font-family: var(--headerFont);
            font-size: var(--xlBody);
            text-transform: lowercase;
            letter-spacing: 0;
            margin-bottom: 4px;
        }
    }
}