#sort {
    display: grid;
    grid-gap: 20px;
    
    label {
        display: grid;
    }
    .form-item {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        & > strong,
        & > i {
            flex: 0 0 100%;
        }
    }
}