/*******************************
    Member List
********************************/
/*******************************
    Webpages
********************************/
.ml {
    
    &--header {
        margin-bottom: 0 !important;

        h1 {
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .header--deco {
            padding: 50px;
        }
    }

    &--wrapper {
        min-height: 100vh;
        left: 50px;
        width: calc(100% - 50px);
        display: grid;
        grid-template-rows: max-content auto;

        @media only screen and (min-width: $md) {
            width: calc(100% - 100px);
        }

        @media only screen and (min-width: $lg) {
            grid-template-columns: 250px auto;
        }
    }

    &--main-menu {
        background: var(--webMenu);
        border-left: 1px solid var(--light);
        border-right: 1px solid var(--light);
        position: sticky;
        z-index: 9;

        @media only screen and (min-width: $lg) {
            min-height: 80vh;
        }

        &.scrolled {
            border-left-color: var(--webMenu);
            border-right-color: var(--webMenu);
        }

        input {
            background: var(--accent);
            color: var(--accentColor);
            font-family: var(--headerFont);
            text-transform: lowercase;
            padding: 15px;
            border-radius: 4px;
            font-size: var(--mBody);
            margin-right: 5px;
            display: inline-block;
            
            &:focus {
                background: var(--ltaccent);
                outline: none;
            }
        }

        .ml--main-menu-links button {
            background: var(--dkGrey) !important;
            color: var(--headerText) !important;
            font-family: var(--headerFont);
            text-transform: lowercase;
            padding: 15px;
            border-radius: 4px;
            text-align: center;
            font-size: var(--mBody);
            margin-right: 5px;
            display: inline-block;
            cursor: pointer;

            &.active,
            &:hover {
                background: var(--accent) !important;
                color: var(--accentColor) !important;
            }
        }

        &-links {
            padding: 0 10px;
            white-space: nowrap;
            font-size: 0;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;

            @media only screen and (min-width: $lg) {
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            .pagination {
                display: flex;
                margin-right: 5px;
                padding: 3px 0;

                &_pagetxt {
                    display: none;
                }

                &_current {
                    display: block;
                    margin-right: 5px;

                    b {
                        background: var(--accent);
                        color: var(--accentColor);
                        font-size: var(--xlBody);
                        padding: 5px 10px;
                    }
                }

                &_page {
                    font-size: var(--lBody);
                    font-family: var(--headerFont);
                    background: var(--dkGrey);
                    border-radius: 3px;
                    padding: 5px 10px;
                    color: var(--headerText);
                    margin-right: 5px;

                    &:hover {
                        background: var(--accent);
                        color: var(--accentColor);
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &--sticky {
        padding: 15px;
        position: sticky;
        display: grid;
        grid-template-columns: 30px auto 30px;
        align-items: center;

        button {
            background: transparent;
            border: none;
            height: max-content;
            cursor: pointer;
            color: var(--headerText);

            &.go-left {
                padding: 10px 10px 10px 0;
                border-right: 1px solid var(--light);
            }

            &.go-right {
                padding: 10px 0 10px 10px;
                border-left: 1px solid var(--light);
            }
        }

        @media only screen and (min-width: $lg) {
            grid-template-columns: 100%;

            & > button {
                display: none;
            }
        }
    }

    &--menu-sticky {
        position: sticky;
        z-index: 10;
    }
    &--pop-menu,
    &--sub-menu {
        background: var(--accent);
        display: grid;
        grid-template-columns: 30px auto 30px;
        padding: 10px;

        button {
            background: transparent;
            border: none;
            height: max-content;
            cursor: pointer;

            &.go-left {
                padding: 10px 10px 10px 0;
                border-right: 1px solid var(--accentColor);
            }

            &.go-right {
                padding: 10px 0 10px 10px;
                border-left: 1px solid var(--accentColor);
            }
        }

        &-links {
            padding: 0 10px;
            white-space: nowrap;
            font-size: 0;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;

            button {
                display: inline-block;
                background: var(--ltaccent);
                border-radius: 4px;
                padding: 10px;
                font-size: var(--mBody);
                text-transform: lowercase;
                font-family: var(--headerFont);
                margin: 0 10px 0 0;
                color: var(--accentColor);

                &:not(:last-child) {
                    margin-right: 5px;
                }
    
                &::after {
                    display: inline-block;
                    width: 0;
                    overflow: hidden;
                    font-family: 'Font Awesome 6 Pro';
                    font-weight: 300;
                    bottom: -3px;
                    position: relative;
                    line-height: 100%;
                }
    
                &.active,
                &:hover {
                    &::after {
                        width: 20px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &--pop-menu {
        display: none;
        background: var(--ltaccent);

        label {
            display: inline-block;
            background: var(--accent);
            border-radius: 4px;
            padding: 10px;
            font-size: var(--mBody);
            text-transform: lowercase;
            font-family: var(--headerFont);
            margin: 0 10px 0 0;
            cursor: pointer;

            &.is-checked {
                background: var(--mdGrey);
                color: var(--offWhite);
            }

            input {
                display: none;
            }

            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        &.active {
            display: grid;
        }
    }

    &--members {
        padding: 20px;
    }

    &--member {
        margin-bottom: 20px;
        width: 100%;
    }

}

.mem {
    display: grid;
    height: 310px;
    grid-template-rows: 150px 150px;
    grid-gap: 10px;

    @media only screen and (min-width: $md) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px;
        height: 150px;
    }

    &--top {
        display: grid;
        grid-template-columns: 105px auto;
        grid-template-rows: 1fr max-content max-content max-content 1fr;
        grid-gap: 5px 20px;
        height: 150px;
        background: var(--content);

        img {
            width: 105px;
            height: 150px;
            object-fit: cover;
            grid-row: span 5;
            border-right: 10px solid var(--accent);
        }

        a {
            align-self: end;
            font-family: var(--headerFont);
            font-size: var(--xlBody);
            text-transform: lowercase;
            letter-spacing: 0;
            font-weight: 700;
            padding-top: 20px;
        }

        span {
            text-transform: uppercase;
            font-size: var(--xsBody);
            letter-spacing: 1px;

            &:last-child {
                padding-bottom: 20px;
            }
        }
    }

    &--overview {
        background: var(--content);
        height: 150px;
        padding: 20px;
        font-size: var(--mBody);
        line-height: 200%;
        text-align: justify;

        .scroll {
            max-height: 110px;
            & > a:last-child {
                font-weight: bold;
                display: block;
                text-align: right;
    
                &::before {
                    content: '';
                    position: absolute;
                    background: linear-gradient(to bottom, transparent, var(--content));
                    width: 100%;
                    left: 0;
                    height: 40px;
                    top: -40px;
                }
    
                &::after {
                    display: inline-block;
                    width: 0;
                    overflow: hidden;
                    font-family: "Font Awesome 6 Pro";
                    font-weight: 300;
                    bottom: -3px;
                    position: relative;
                    line-height: 100%;
                }
    
                &:hover {
                    &::after {
                        width: 20px;
                    }
                }
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        h7,
        h8,
        br {
            display: none;
        }
    }
}