/*******************************
    Member List
********************************/
/*******************************
    Webpages
********************************/
.ml {
    
    &--header {
        margin-bottom: 0 !important;

        h1 {
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .header--deco {
            padding: 50px;
        }
    }

    &--wrapper {
        min-height: 100vh;
        left: 50px;
        width: calc(100% - 50px);
        display: grid;
        grid-template-rows: max-content auto;

        @media only screen and (min-width: $md) {
            width: calc(100% - 100px);
        }

        @media only screen and (min-width: $lg) {
            grid-template-columns: 250px auto;
        }
    }

    &--main-menu {
        background: var(--webMenu);
        border-left: 1px solid var(--light);
        border-right: 1px solid var(--light);
        position: sticky;
        z-index: 9;

        @media only screen and (min-width: $lg) {
            min-height: 80vh;
        }

        &.scrolled {
            border-left-color: var(--webMenu);
            border-right-color: var(--webMenu);
        }

        input {
            background: var(--accent);
            color: var(--accentColor);
            font-family: var(--headerFont);
            text-transform: lowercase;
            padding: 15px;
            border-radius: 4px;
            font-size: var(--mBody);
            margin-right: 5px;
            display: inline-block;
            
            &:focus {
                background: var(--ltaccent);
                outline: none;
            }
        }

        .ml--main-menu-links button {
            background: var(--dkGrey) !important;
            color: var(--headerText) !important;
            font-family: var(--headerFont);
            text-transform: lowercase;
            padding: 15px;
            border-radius: 4px;
            text-align: center;
            font-size: var(--mBody);
            margin-right: 5px;
            display: inline-block;
            cursor: pointer;

            &.active,
            &:hover {
                background: var(--accent) !important;
                color: var(--accentColor) !important;
            }
        }

        &-links {
            padding: 0 10px;
            white-space: nowrap;
            font-size: 0;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;

            @media only screen and (min-width: $lg) {
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }

    &--sticky {
        padding: 15px;
        position: sticky;
        display: grid;
        grid-template-columns: 30px auto 30px;
        align-items: center;

        button {
            background: transparent;
            border: none;
            height: max-content;
            cursor: pointer;
            color: var(--headerText);

            &.go-left {
                padding: 10px 10px 10px 0;
                border-right: 1px solid var(--light);
            }

            &.go-right {
                padding: 10px 0 10px 10px;
                border-left: 1px solid var(--light);
            }
        }

        @media only screen and (min-width: $lg) {
            grid-template-columns: 100%;

            & > button {
                display: none;
            }
        }
    }

    &--menu-sticky {
        position: sticky;
        z-index: 10;
    }
    &--pop-menu,
    &--sub-menu {
        background: var(--accent);
        display: grid;
        grid-template-columns: 30px auto 30px;
        padding: 10px;

        button {
            background: transparent;
            border: none;
            height: max-content;
            cursor: pointer;

            &.go-left {
                padding: 10px 10px 10px 0;
                border-right: 1px solid var(--accentColor);
            }

            &.go-right {
                padding: 10px 0 10px 10px;
                border-left: 1px solid var(--accentColor);
            }
        }

        &-links {
            padding: 0 10px;
            white-space: nowrap;
            font-size: 0;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;

            button {
                display: inline-block;
                background: var(--ltaccent);
                border-radius: 4px;
                padding: 10px;
                font-size: var(--mBody);
                text-transform: lowercase;
                font-family: var(--headerFont);
                margin: 0 10px 0 0;
                color: var(--accentColor);

                &:not(:last-child) {
                    margin-right: 5px;
                }
    
                &::after {
                    display: inline-block;
                    width: 0;
                    overflow: hidden;
                    font-family: 'Font Awesome 6 Pro';
                    font-weight: 300;
                    bottom: -3px;
                    position: relative;
                    line-height: 100%;
                }
    
                &.active,
                &:hover {
                    &::after {
                        width: 20px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &--pop-menu {
        display: none;
        background: var(--ltaccent);

        label {
            display: inline-block;
            background: var(--accent);
            border-radius: 4px;
            padding: 10px;
            font-size: var(--mBody);
            text-transform: lowercase;
            font-family: var(--headerFont);
            margin: 0 10px 0 0;
            cursor: pointer;

            &.is-checked {
                background: var(--mdGrey);
                color: var(--offWhite);
            }

            input {
                display: none;
            }

            &:not(:last-child) {
                margin-right: 5px;
            }
        }

        &.active {
            display: grid;
        }
    }

}