/*******************************
    Navigation
********************************/
.main-nav {
    position: fixed;
    top: 0;
    left: calc(var(--sidebarWidth) * -1);
    width: calc(var(--sidebarWidth) + 50px);
    height: 100vh;
    display: grid;
    grid-template-columns: var(--sidebarWidth) 50px;
    background: var(--dkGrey);
    transition-duration: 0.5s;
    z-index: 10;

    .nav-open & {
        left: 0;
    }

    &--trigger-bar {
        width: 100%;
        height: 100%;
        background: var(--dark);
        transition-duration: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav-open & {
            background: var(--accent);
        }

        button {
            width: 50px;
            background: transparent;
            border: none;
            color: var(--headerText);
            font-size: var(--xsBody);
            text-transform: uppercase;
            letter-spacing: 1px;
            display: grid;
            grid-gap: 9px;
            padding: 10px 0;
            cursor: pointer;
            margin-top: 18px;

            &:hover {
                .bars::after {
                    width: 22px;
                }
            }

            .bars {
                align-self: end;
                height: 10px;

                &::before,
                &::after {
                    content: "";
                    height: 1px;
                    background: var(--headerText);
                    display: block;
                    position: absolute;
                    left: calc(27px / 2);
                    transition-duration: 0.5s;
                }

                &::before {
                    top: 0;
                    width: 22px;
                }

                &::after {
                    bottom: 0;
                    width: 17px;
                }
            }

            .nav-open & {
                color: var(--accentColor);

                .bars {
                    &::before,
                    &::after {
                        top: 5px;
                        left: calc(32px / 2);
                        width: 17px;
                        background: var(--accentColor);
                    }
                    &::before {
                        transform: rotate(45deg);
                    }
                    &::after {
                        transform: rotate(-45deg);
                    }
                }

                &:hover {
                    .bars::before,
                    .bars::after {
                        width: 20px;
                        left: calc(29px / 2);
                    }
                }
            }
        }
    }
}

.alt-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 100vh;
    background: var(--dark);
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .nav-open & {
        right: calc((var(--sidebarWidth) + 50px) * -1);
    }
}

.breadcrumb-nav {
    position: fixed;
    top: 0;
    left: 50px;
    width: calc(100% - 100px);
    z-index: 10;
    transition-duration: 0.5s;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: var(--headerFont);
    color: var(--headerText);
    font-size: var(--xsBody);

    &.scrolled {
        background: var(--dark);
    }

    .nav-open & {
        left: calc(var(--sidebarWidth) + 50px);
    }

    #navstrip {
        a {
            color: var(--headerText);
        }
    }
}

.nav--controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    transition-duration: 0.5s;

    a {
        display: grid;
        align-items: center;
        justify-items: center;
        width: 50px;
        height: 40px;
        color: var(--headerText);
        font-size: var(--mBody);
        opacity: 0.8;

        .fa-circle {
            font-size: var(--xsBody);
        }

        &:hover {
            opacity: 1;
        }
    }

    hr {
        width: 30px;
        height: 1px;
        border: none;
        background: var(--light);
        margin: 10px auto;
        opacity: 0.5;
    }
}