/*******************************
    Webpages
********************************/
.webpage {

    &--header {
        margin-bottom: 0;

        h1 {
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .header--deco {
            padding: 50px;
        }
    }

    &--wrapper {
        min-height: 100vh;
        left: 50px;
        width: calc(100% - 50px);
        display: grid;
        grid-template-columns: 250px auto;
    
        @media only screen and (min-width: $md) {
            width: calc(100% - 100px);
        }
    }

    &--main-menu {
        background: rgba(40, 40, 40, 0.95);
        border-left: 1px solid var(--light);

        a {
            background: var(--dkGrey);
            color: var(--headerText);
            font-family: var(--headerFont);
            text-transform: lowercase;
            padding: 15px;
            border-radius: 4px;
            text-align: center;
            font-size: var(--mBody);

            &::after {
                display: inline-block;
                width: 0;
                overflow: hidden;
                font-family: 'Font Awesome 6 Pro';
                font-weight: 300;
                bottom: -3px;
                position: relative;
                line-height: 100%;
            }

            &.active,
            &:hover {
                background: var(--accent);
                color: var(--accentColor);

                &::after {
                    width: 20px;
                    margin-left: 10px;
                }
            }
        }
    }

    &--sticky {
        display: flex;
        flex-direction: column;
        padding: 15px;
        gap: 5px;
        position: sticky;
    }

    &--pop-menu,
    &--sub-menu {
        position: sticky;
        background: var(--accent);
        z-index: 10;
        display: grid;
        grid-template-columns: 30px auto 30px;
        padding: 10px;

        button {
            background: transparent;
            border: none;
            height: max-content;
            cursor: pointer;

            &.go-left {
                padding: 10px 10px 10px 0;
                border-right: 1px solid var(--accentColor);
            }

            &.go-right {
                padding: 10px 0 10px 10px;
                border-left: 1px solid var(--accentColor);
            }
        }

        &-links {
            padding: 0 10px;
            white-space: nowrap;
            font-size: 0;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;

            button,
            a {
                display: inline-block;
                background: var(--ltaccent);
                border-radius: 4px;
                padding: 10px;
                font-size: var(--mBody);
                text-transform: lowercase;
                font-family: var(--headerFont);
                margin: 0 10px 0 0;

                &:not(:last-child) {
                    margin-right: 5px;
                }
    
                &::after {
                    display: inline-block;
                    width: 0;
                    overflow: hidden;
                    font-family: 'Font Awesome 6 Pro';
                    font-weight: 300;
                    bottom: -3px;
                    position: relative;
                    line-height: 100%;
                }
    
                &.active,
                &:hover {
                    &::after {
                        width: 20px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &--pop-menu {
        display: none;
        background: var(--ltaccent);

        a {
            display: inline-block;
            background: var(--accent);
            border-radius: 4px;
            padding: 10px;
            font-size: var(--mBody);
            text-transform: lowercase;
            font-family: var(--headerFont);
            margin: 0 10px 0 0;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &::after {
                display: inline-block;
                width: 0;
                overflow: hidden;
                font-family: 'Font Awesome 6 Pro';
                font-weight: 300;
                bottom: -3px;
                position: relative;
                line-height: 100%;
            }

            &.active,
            &:hover {
                &::after {
                    width: 20px;
                    margin-left: 10px;
                }
            }
        }

        &.active {
            display: grid;
        }
    }

    &--section {
        display: none;

        &.active {
            display: block;
        }
    }

    &--tab {
        display: none;
        padding: 20px;

        &.active {
            display: block;
        }
    }

}