/*******************************
    Webpages
********************************/
.webpage {

    &--header {
        margin-bottom: 0 !important;

        h1 {
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        .header--deco {
            padding: 50px;
        }
    }

    &--wrapper {
        min-height: 100vh;
        left: 50px;
        width: calc(100% - 50px);
        display: grid;
        grid-template-rows: max-content auto;

        @media only screen and (min-width: $md) {
            width: calc(100% - 100px);
        }

        @media only screen and (min-width: $lg) {
            grid-template-columns: 250px auto;
        }
    }

    &--main-menu {
        background: var(--webMenu);
        border-left: 1px solid var(--light);
        border-right: 1px solid var(--light);
        position: sticky;
        z-index: 9;

        &.scrolled {
            border-left-color: var(--webMenu);
            border-right-color: var(--webMenu);
        }

        a {
            background: var(--dkGrey);
            color: var(--headerText);
            font-family: var(--headerFont);
            text-transform: lowercase;
            padding: 15px;
            border-radius: 4px;
            text-align: center;
            font-size: var(--mBody);
            margin-right: 5px;
            display: inline-block;

            &::after {
                display: inline-block;
                width: 0;
                overflow: hidden;
                font-family: 'Font Awesome 6 Pro';
                font-weight: 300;
                bottom: -3px;
                position: relative;
                line-height: 100%;
            }

            &.active,
            &:hover {
                background: var(--accent);
                color: var(--accentColor);

                &::after {
                    width: 20px;
                    margin-left: 10px;
                }
            }
        }

        &-links {
            padding: 0 10px;
            white-space: nowrap;
            font-size: 0;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;

            @media only screen and (min-width: $lg) {
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }

    &--sticky {
        padding: 15px;
        position: sticky;
        display: grid;
        grid-template-columns: 30px auto 30px;
        align-items: center;

        button {
            background: transparent;
            border: none;
            height: max-content;
            cursor: pointer;
            color: var(--headerText);

            &.go-left {
                padding: 10px 10px 10px 0;
                border-right: 1px solid var(--light);
            }

            &.go-right {
                padding: 10px 0 10px 10px;
                border-left: 1px solid var(--light);
            }
        }

        @media only screen and (min-width: $lg) {
            grid-template-columns: 100%;

            button {
                display: none;
            }
        }
    }

    &--menu-sticky {
        position: sticky;
        z-index: 10;
    }
    &--pop-menu,
    &--sub-menu {
        background: var(--accent);
        display: grid;
        grid-template-columns: 30px auto 30px;
        padding: 10px;

        button {
            background: transparent;
            border: none;
            height: max-content;
            cursor: pointer;

            &.go-left {
                padding: 10px 10px 10px 0;
                border-right: 1px solid var(--accentColor);
            }

            &.go-right {
                padding: 10px 0 10px 10px;
                border-left: 1px solid var(--accentColor);
            }
        }

        &-links {
            padding: 0 10px;
            white-space: nowrap;
            font-size: 0;
            overflow-x: auto;
            scrollbar-width: none;
            scroll-behavior: smooth;

            button,
            a {
                display: inline-block;
                background: var(--ltaccent);
                border-radius: 4px;
                padding: 10px;
                font-size: var(--mBody);
                text-transform: lowercase;
                font-family: var(--headerFont);
                margin: 0 10px 0 0;
                color: var(--accentColor);

                &:not(:last-child) {
                    margin-right: 5px;
                }
    
                &::after {
                    display: inline-block;
                    width: 0;
                    overflow: hidden;
                    font-family: 'Font Awesome 6 Pro';
                    font-weight: 300;
                    bottom: -3px;
                    position: relative;
                    line-height: 100%;
                }
    
                &.active,
                &:hover {
                    &::after {
                        width: 20px;
                        margin-left: 10px;
                    }
                }
            }
        }
    }

    &--pop-menu {
        display: none;
        background: var(--ltaccent);

        a {
            display: inline-block;
            background: var(--accent);
            border-radius: 4px;
            padding: 10px;
            font-size: var(--mBody);
            text-transform: lowercase;
            font-family: var(--headerFont);
            margin: 0 10px 0 0;

            &:not(:last-child) {
                margin-right: 5px;
            }

            &::after {
                display: inline-block;
                width: 0;
                overflow: hidden;
                font-family: 'Font Awesome 6 Pro';
                font-weight: 300;
                bottom: -3px;
                position: relative;
                line-height: 100%;
            }

            &.active,
            &:hover {
                &::after {
                    width: 20px;
                    margin-left: 10px;
                }
            }
        }

        &.active {
            display: grid;
        }
    }

    &--section {
        display: none;

        &.active {
            display: block;
        }
    }

    &--tab {
        display: none;
        padding: clamp(20px, 4vw, 45px) clamp(20px, 6vw, 60px);
        font-size: var(--lBody);
        line-height: 200%;

        &.active {
            display: block;
        }

        p {
            text-align: justify;
        }

        hr {
            margin: clamp(20px, 4vw, 45px) auto clamp(25px, 4vw, 50px);
        }

        canonbranch {
            display: block;
            margin: 10px 0 10px 25px;
            border-left: 2px solid var(--lmGrey);
            padding: 10px 0 5px 15px;

            &.closed-branch {
                display: none;
            }
        }

        canonbranch > b,
        canonbranch > a b,
        & > b,
        & > a b {
            margin: 0 30px 10px 0;
            line-height: calc(var(--mBody) * 2);

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: -25px;
                width: 15px;
                height: 1px;
                background: var(--lmGrey);
                display: block;
            }
        }

        canonbranch > a b,
        & > a b {
            background: var(--ltaccent);
            color: var(--accentColor);
        }

        #canons & {
            line-height: calc((var(--mBody) * 2) + 4px);
        }
    }

    &--canon-expand-all,
    &--canon-collapse-all {
        border: 0;
        background: var(--dark);
        color: var(--headerText);
        padding: 6px 8px;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 600;
        margin: 20px 0 0;
        font-size: var(--xsBody);
        letter-spacing: 1px;
        cursor: pointer;
        display: inline-block;
    }

    &--canon-expansion {
        border: 0;
        background: var(--dark);
        color: var(--headerText);
        padding: 6px 8px;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: 600;
        margin: 20px 0 0;
        font-size: var(--xsBody);
        letter-spacing: 1px;
        cursor: pointer;
        display: block;

        &.closed-branch {
            margin-bottom: 30px;
        }

        &:not(.closed-branch) .webpage--canon-expand,
        &.closed-branch .webpage--canon-collapse {
            display: none;
        }
    }

}

//Headers
.webpage--tab,
.claim--tab {
    h3 {
        text-align: center;
        font-family: var(--accentFont);
        text-transform: capitalize;
        font-size: 26px;
        display: grid;
        align-items: center;
        justify-items: center;
        line-height: 26px;
        grid-gap: 30px;
        grid-template-columns: 50px auto 50px;
        margin: 40px auto;

        &:hover hr::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            background: var(--ltaccent);
        }

        hr {
            width: 100%;
            min-width: 50px;
            max-width: 300px;
            margin-right: 0;
            top: -3px;

            &::before {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 1px solid var(--lmGrey);
                top: -8px;
                position: relative;
                background: var(--background);
                clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
                left: -16px;
            }

            &:last-child {
                transform: rotate(180deg);
                margin-right: auto;
                margin-left: 0;

                &::before {
                    top: -9px;
                }
            }
        }

        & + h4 {
            margin-top: -20px;
        }
    }
    h4 {
        text-align: center;
        font-family: var(--headerFont);
        text-transform: capitalize;
        font-size: var(--xlBody);
        display: grid;
        align-items: center;
        justify-items: center;
        line-height: 26px;
        grid-gap: 30px;
        grid-template-columns: 50px auto 50px;
        margin: 40px auto;
        font-weight: 600;

        hr {
            width: 100%;
            min-width: 50px;
            margin-right: 0;

            &:hover hr::before {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            &::before {
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border: 1px solid var(--lmGrey);
                top: -6px;
                position: relative;
                background: var(--background);
                clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
                left: -12px;
            }

            &:last-child {
                transform: rotate(180deg);
                margin-right: auto;
                margin-left: 0;

                &::before {
                    top: -7px;
                }
            }
        }
    }
}