/*******************************
    Global
********************************/

* {
    position: relative;
    box-sizing: border-box;
    transition-duration: 0.5s;
}
a {
    text-decoration: none;
    color: var(--fontLinks);

    &:hover {
        color: var(--accent);
    }
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
button {
    all: unset;
    cursor: pointer;

    &:hover {
        color: var(--accent);
    }
}
#UserCP table,
#UserCP tr,
#UserCP td,
#Msg table,
#Msg tr,
#Msg td,
#recent-topics table,
#recent-topics tr,
#recent-topics td {
	all: unset;
}
body {
    padding: 0;
    margin: 0;
    background-color: var(--bgMain);
    font-family: var(--body);
    font-size: var(--mBody);
    letter-spacing: 0.5px;
    color: var(--fontMain);
    overflow-x: hidden;
}
.extraBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bgImage);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.25;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bgOverlay);
    }

    &::before {
        mix-blend-mode: color;
    }
    &::after {
        opacity: 0.8;
    }
}
.scroll {
    padding-right: 15px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--accent) transparent;
}
.scroll::-webkit-scrollbar {
    width: 6px;
}
.scroll::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 5px;
}
.scroll::-webkit-scrollbar-track {
    background: transparent;
}
.hide,
.newstext,
#logostrip,
#submenu,
#userlinks,
.subforums-macro,
.topic-title-space,
.wrapmini,
#submenu + div {
	display: none !important;
}
main {
    margin: 0 20px 50px;
    width: calc(100% - 70px);

    @media only screen and (min-width: $md) {
        margin: 0 50px 50px;
        width: calc(100% - 130px);
    }

    .push & {
        margin-left: max(-50%, -600px);
    }

    #Profile & {
        margin: 0 0 50px;
    }
}

#ST,
#SF {
    main {
        & > table {
            & > tbody {
                & > tr {
                    display: grid;
                    grid-template-columns: 1fr;
                    gap: 30px;
                    margin-bottom: 30px;

                    @media only screen and (min-width: $md) {
                        grid-template-columns: 1fr max-content;
                    }

                    & > td {
                        width: 100% !important;

                        &:not(:first-child) {
                            display: flex;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}
.macro--button {
    font-size: var(--mBody);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0 15px 5px;
    border-bottom: 1px solid var(--accent);

    &:hover {
        padding: 0 18px 5px;
        letter-spacing: 4px;
    }
}

.pagination {
    display: flex;
    gap: 5px;
    font-size: 0;

    &_pagetxt {
        display: none;
    }
    &_current,
    &_page,
    &_last {
        display: inline-block;
        background: var(--accent);
        color: var(--bgMain);
        font-weight: 300;
        font-size: var(--mBody);
        padding: 5px 10px 6px;
        border-radius: 3px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
.goto-firstunread {
    display: block;
    margin: 0 5px;
    background: var(--accent);
    color: var(--bgMain);
    font-weight: 300;
    font-size: var(--mBody);
    padding: 5px 10px;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 2px;
    max-width: max-content;

    a {
        color: var(--bgMain);
    }
}
.activeuserstrip {
    text-align: right;
    border-right: 2px solid var(--accent);
    padding: 10px 15px !important;
    text-transform: uppercase;
    font-size: var(--xsBody);
    letter-spacing: 2px;
    
    & + .row2 {
        text-align: right;
        border-right: 2px solid var(--accent);
        padding: 0 15px !important;
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 2px;
    }
}