/*******************************
    Variables
********************************/

:root {
    --header: 'Six Caps', sans-serif;
    --body: 'Montserrat', sans-serif;

    --xlBody: 16px;
    --lBody: 14px;
    --mBody: 12px;
    --sBody: 10px;
    --xsBody: 8px;

    --pureBlack: rgba(0, 0, 0, 1);

    --dkBlack: rgba(30, 30, 30, 1);
    --dkBlack-80: rgba(30, 30, 30, 0.8);

    --black: rgba(40, 40, 40, 1);

    --black: rgba(50, 50, 50, 1);

    --dkGrey: rgba(65, 65, 65, 1);

    --midGrey: rgba(80, 80, 80, 1);
    --midGrey-0: rgba(80, 80, 80, 0);

    --ltGrey: rgba(200, 200, 200, 1);

    --white: rgba(235, 235, 235, 1);
    --white-80: rgba(235, 235, 235, 0.8);

    --accent: rgba(196, 122, 100, 1);

    --bgImage: url(https://files.jcink.net/uploads2/luxtradition/leafPattern.jpg);

    --imageFilter: grayscale(1) brightness(0.5) opacity(0.7) contrast(0.5);
    --imageFilterHover: grayscale(1) brightness(0.8) opacity(0.7) contrast(0.8);
}
.lrgFont {
    --xlBody: 18px;
    --lBody: 16px;
    --mBody: 14px;
    --sBody: 12px;
    --xsBody: 10px;
}
.dark {
    --bgMain: var(--black);
    --bgOverlay: var(--pureBlack);
    --bgNav: var(--dkGrey);
    --bgContent: var(--dkBlack);
    --bgContent-80: var(--dkBlack-80);
    --bgContentAlt: var(--dkGrey);
    --bgButtonHover: var(--dkGrey);
    --fontLinks: var(--white);
    --fontHeader: var(--white);
    --fontMain: var(--ltGrey);
    --fontOverlay: var(--accent);
    --borderMain-0: var(--midGrey-0);
    --borderMain: var(--midGrey);
    --borderButton: var(--midGrey);
    --imageEffect: difference;
    --imageFilter2: grayscale(1) brightness(0.5) opacity(0.7) contrast(1);
    --imageFilter2Hover: grayscale(0.2) brightness(0.5) opacity(0.7) contrast(1);
}
.light {
    --bgMain: var(--ltGrey);
    --bgOverlay: var(--white);
    --bgNav: var(--white);
    --bgContent: var(--white);
    --bgContent-80: var(--white-80);
    --bgButtonHover: var(--white);
    --bgContentAlt: var(--ltGrey);
    --fontLinks: var(--black);
    --fontHeader: var(--dkGrey);
    --fontMain: var(--midGrey);
    --fontOverlay: var(--black);
    --borderMain-0: var(--midGrey-0);
    --borderMain: var(--midGrey);
    --imageEffect: hard-light;
    --imageFilter2: grayscale(1) brightness(1) opacity(0.5) contrast(1);
    --imageFilter2Hover: grayscale(0.2) brightness(1) opacity(0.5) contrast(1);
}

.g-5 {
    --accent: rgba(160, 160, 160, 1);
}
.g-6 {
    --accent: rgba(208, 175, 112, 1);
}
.g-7 {
    --accent: rgba(154, 179, 111, 1);
}
.g-8 {
    --accent: rgba(116, 179, 164, 1);
}
.g-9 {
    --accent: rgba(165, 145, 196, 1);
}
.g-10 {
    --accent: rgba(193, 137, 169, 1);
}