/*******************************
    Variables
********************************/
:root {
  --header: "Six Caps", sans-serif;
  --body: "Montserrat", sans-serif;
  --xlBody: 16px;
  --lBody: 14px;
  --mBody: 12px;
  --sBody: 10px;
  --xsBody: 8px;
  --pureBlack: rgba(0, 0, 0, 1);
  --dkBlack: rgba(30, 30, 30, 1);
  --black: rgba(40, 40, 40, 1);
  --black: rgba(50, 50, 50, 1);
  --dkGrey: rgba(65, 65, 65, 1);
  --midGrey: rgba(80, 80, 80, 1);
  --midGrey-0: rgba(80, 80, 80, 0);
  --ltGrey: rgba(200, 200, 200, 1);
  --white: rgba(235, 235, 235, 1);
  --accent: rgba(196, 122, 100, 1);
  --bgImage: url(https://files.jcink.net/uploads2/luxtradition/leafPattern.jpg);
  --imageFilter: grayscale(1) brightness(0.5) opacity(0.7) contrast(0.5);
  --imageFilterHover: grayscale(1) brightness(0.8) opacity(0.7) contrast(0.8);
}

.lrgFont {
  --xlBody: 18px;
  --lBody: 16px;
  --mBody: 14px;
  --sBody: 12px;
  --xsBody: 10px;
}

.dark {
  --bgMain: var(--black);
  --bgOverlay: var(--pureBlack);
  --bgNav: var(--dkGrey);
  --bgContent: var(--dkBlack);
  --bgContentAlt: var(--dkGrey);
  --bgButtonHover: var(--dkGrey);
  --fontLinks: var(--white);
  --fontHeader: var(--white);
  --fontMain: var(--ltGrey);
  --fontOverlay: var(--accent);
  --borderMain-0: var(--midGrey-0);
  --borderMain: var(--midGrey);
  --borderButton: var(--midGrey);
  --imageEffect: difference;
  --imageFilter2: grayscale(1) brightness(0.5) opacity(0.7) contrast(1);
  --imageFilter2Hover: grayscale(0.2) brightness(0.5) opacity(0.7) contrast(1);
}

.light {
  --bgMain: var(--ltGrey);
  --bgOverlay: var(--white);
  --bgNav: var(--white);
  --bgContent: var(--white);
  --bgButtonHover: var(--white);
  --bgContentAlt: var(--ltGrey);
  --fontLinks: var(--black);
  --fontHeader: var(--dkGrey);
  --fontMain: var(--midGrey);
  --fontOverlay: var(--black);
  --borderMain-0: var(--midGrey-0);
  --borderMain: var(--midGrey);
  --imageEffect: hard-light;
  --imageFilter2: grayscale(1) brightness(1) opacity(0.5) contrast(1);
  --imageFilter2Hover: grayscale(0.2) brightness(1) opacity(0.5) contrast(1);
}

/*******************************
    Global
********************************/
* {
  position: relative;
  box-sizing: border-box;
  transition-duration: 0.5s;
}

a {
  text-decoration: none;
  color: var(--fontLinks);
}
a:hover {
  color: var(--accent);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  all: unset;
  cursor: pointer;
}
button:hover {
  color: var(--accent);
}

#UserCP table,
#UserCP tr,
#UserCP td,
#Msg table,
#Msg tr,
#Msg td,
#recent-topics table,
#recent-topics tr,
#recent-topics td {
  all: unset;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bgMain);
  font-family: var(--body);
  font-size: var(--mBody);
  letter-spacing: 0.5px;
  color: var(--fontMain);
}

.extraBG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bgImage);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.25;
}
.overlay::before, .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bgOverlay);
}
.overlay::before {
  mix-blend-mode: color;
}
.overlay::after {
  opacity: 0.8;
}

.scroll {
  padding-right: 15px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

.scroll::-webkit-scrollbar {
  width: 6px;
}

.scroll::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 5px;
}

.scroll::-webkit-scrollbar-track {
  background: transparent;
}

.hide,
.newstext,
#logostrip,
#submenu,
#userlinks,
.subforums-macro,
.topic-title-space,
.wrapmini {
  display: none !important;
}

main {
  margin: 0 50px 50px;
}

/*******************************
    Navigation
********************************/
.nav {
  position: fixed;
  background: var(--bgMain);
  z-index: 10;
}
.nav--top {
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: var(--xsBody);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 10px;
  border-bottom: 1px solid var(--borderMain-0);
}
.nav--top.scrolled {
  background: var(--bgNav);
  border-color: var(--borderMain);
}
.push .nav--top {
  margin-left: clamp(-600px, -100vw, -200px);
}
.push .nav--top .nav--top-ucp {
  margin-left: clamp(200px, 100vw, 600px);
}
.nav--top-ucp {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
.nav--top-ucp--name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav--top-ucp--name::after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: var(--accent);
}
.nav--top-ucp i {
  font-size: var(--sBody);
}
.g-2 .nav--top-ucp--switcher {
  display: none;
}
.nav--top-ucp--switcher.open {
  display: grid;
  grid-template-columns: 200px max-content;
  grid-gap: 10px;
}
.nav--top-ucp--switcher select {
  background: var(--bgMain);
  border: 1px solid var(--borderMain);
  border-radius: 3px;
  padding: 6px 10px;
  color: var(--fontMain);
  text-transform: uppercase;
  font-family: var(--body);
  font-size: var(--xsBody);
  letter-spacing: 2px;
  margin-right: 10px;
  width: 200px;
}
.nav--top-ucp--switcher option {
  font-size: var(--sBody);
}
.nav--top-ucp a {
  display: none;
}
.g-4 .nav--top-ucp a.staffOnly {
  display: initial;
}
.g-4 .nav--top-ucp a.staffOnly.nav--top-ucp--name {
  display: flex;
}
.g-2 .nav--top-ucp a.guestOnly {
  display: initial;
}
.g-2 .nav--top-ucp a.guestOnly.nav--top-ucp--name {
  display: flex;
}
body:not(.g-2) .nav--top-ucp a.memOnly {
  display: initial;
}
body:not(.g-2) .nav--top-ucp a.memOnly.nav--top-ucp--name {
  display: flex;
}
.nav--top-right {
  display: flex;
  gap: 20px;
  font-size: var(--mBody);
}
.nav--popout {
  top: 0;
  right: -600px;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  border-left: 1px solid var(--borderMain);
  background: var(--bgOverlay);
  display: grid;
  grid-template-rows: 250px calc(100vh - 250px);
}
.push .nav--popout {
  right: 0;
}
.nav--popout .overlay {
  opacity: 0.5;
}
.nav--popout--image {
  border-bottom: 1px solid var(--borderMain);
}
.nav--popout--image img {
  width: 100%;
  height: 100%;
  filter: var(--imageFilter2);
}
.nav--popout--image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav--popout--image-overlay.nav--code--show {
  font-family: var(--header);
  font-size: 30px;
  letter-spacing: 10px;
}
.nav--popout--image-overlay.nav--code--show a {
  color: var(--fontOverlay);
  cursor: pointer;
}
.nav--popout--image-overlay.nav--code--hide {
  text-align: right;
}
.nav--popout--image-overlay.nav--code--hide a {
  color: var(--fontOverlay);
  font-size: var(--xsBody);
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 0 10px;
  font-weight: 600;
  cursor: pointer;
}
.nav--popout--image-overlay.nav--code--hide pre {
  display: block;
  width: 100%;
  max-width: 500px;
  background: var(--bgMain);
  border-radius: 3px;
  padding: 10px;
  white-space: pre-wrap;
  text-align: left;
  font-size: var(--xsBody);
}
.nav--popout--image-overlay.nav--code--hide pre code {
  display: block;
  max-height: 50px;
}
.nav--popout--links {
  padding: 10%;
}
.nav--popout--links > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 29px);
  grid-gap: 40px 10%;
}
.lrgFont .nav--popout--links > div {
  grid-template-rows: repeat(auto-fit, 31.5px);
}
.nav--popout--links > div.scroll {
  padding: 0;
  max-height: calc(100vh - 250px - 17vh);
}
.nav--popout--links > div a {
  border-left: 2px solid var(--accent);
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: var(--sBody);
  letter-spacing: 5px;
  font-weight: 300;
}
.nav--popout--links > div a:hover {
  color: var(--fontLinks);
  letter-spacing: 7px;
}
.nav--breadcrumb {
  bottom: 0;
  right: 0;
  writing-mode: vertical-lr;
  padding: 10px;
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 2px;
  font-weight: bold;
  width: 30px;
  height: calc(100% - 40px);
  text-align: right;
}
.nav--breadcrumb span {
  margin: 10px 0;
  color: var(--accent);
  font-weight: bold;
}
.push .nav--breadcrumb {
  right: clamp(200px, 100vw, 600px);
}
.nav--breadcrumb #navstrip {
  text-align: right;
}

/*******************************
    Header
********************************/
header {
  display: grid;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
  width: 100%;
}
.push header {
  margin-left: -200px;
}

.header {
  display: grid;
}
.header a:hover {
  color: var(--fontHeader);
}
.header h1 {
  color: var(--fontHeader);
  font-family: var(--header);
  font-size: clamp(80px, 20vw, 130px);
  text-transform: uppercase;
  letter-spacing: 20px;
  margin: 0;
  transform: scaleY(90%);
  line-height: clamp(80px, 20vw, 130px);
  width: max-content;
  max-width: 100%;
  padding-right: 40px;
}
.header h1 span {
  color: var(--accent);
  display: block;
}
@media only screen and (min-width: 1000px) {
  .header h1 span {
    display: inline;
  }
}
.header h1:before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -12px;
  left: -20px;
  background: linear-gradient(to left, var(--fontHeader), transparent);
  transition-duration: 0.75s;
}
.header h1:hover::before {
  width: 100%;
}
.header > p {
  text-transform: uppercase;
  font-weight: 300;
  padding: 8px 20px;
  border-left: 2px solid var(--accent);
  align-self: end;
  letter-spacing: 3px;
  width: max-content;
  max-width: 100%;
}
.header--info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 180px);
  grid-gap: 50px;
  margin-top: 20px;
}
@media only screen and (min-width: 720px) {
  .header--info {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  .header--info {
    grid-template-columns: repeat(3, 1fr);
  }
}
.header--text-block {
  line-height: 200%;
}
.header--text-block b {
  color: var(--accent);
  font-size: var(--sBody);
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 900;
}
.header--text-block p {
  max-height: 142px;
  text-align: justify;
}
.header--image-block {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-items: center;
}
.header--image-block img {
  height: 100%;
  max-height: 180px;
  border-radius: 3px;
  filter: var(--imageFilter);
  mix-blend-mode: var(--imageEffect);
}
.header--image-block img:hover {
  filter: var(--imageFilterHover);
}

/*******************************
    Categories
********************************/
.category h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  border-left: 2px solid var(--accent);
  padding: 8px 20px;
  margin: 0;
}
.category--forums {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  padding: 20px;
}
@media only screen and (min-width: 720px) {
  .category--forums {
    padding: 50px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  .category--forums {
    grid-template-columns: repeat(3, 1fr);
  }
}
.category--forums .forum {
  display: grid;
  grid-template-rows: max-content 1fr;
}
.category--forums .forum:hover img {
  filter: var(--imageFilter2Hover);
}
.category--forums .forum:hover .forum--latest, .category--forums .forum:hover .forum--bottom {
  color: var(--fontMain);
}
.category--forums .forum--image {
  background: var(--bgContent);
  border-radius: 3px;
  overflow: hidden;
}
.category--forums .forum--image span {
  display: block;
  width: 100%;
  padding-top: min(100%, 375px);
}
.category--forums .forum--image span img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  filter: var(--imageFilter2);
  object-position: center;
}
.category--forums .forum--content {
  display: grid;
  align-items: center;
  background: var(--bgContent);
  padding: 20px;
  margin: -20px 20px 20px;
  border-radius: 3px;
}
.category--forums .forum--content h3 {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
  font-size: 20px;
}
.category--forums .forum--content h3 span {
  color: var(--accent);
}
.category--forums .forum--content h3:hover {
  color: var(--white);
}
.category--forums .forum--stats {
  display: flex;
  gap: 15px;
  margin-top: 5px;
  font-size: var(--xsBody);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.category--forums .forum--stats b {
  color: var(--accent);
}
.category--forums .forum--latest {
  margin: 20px 0;
  line-height: 180%;
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 2px;
}
@media only screen and (min-width: 720px) {
  .category--forums .forum--latest {
    height: 57.6px;
  }
}
.category--forums .forum--latest a {
  display: block;
  max-width: max-content;
}
.category--forums .forum--latest a:first-child {
  color: var(--accent);
  font-weight: 700;
}
.category--forums .forum--latest a:nth-child(2):before {
  content: "by ";
}
.category--forums .forum--bottom {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-gap: 10px;
  align-items: end;
}
.category--forums .forum--bottom--marker {
  border-bottom: 1px solid var(--accent);
  text-transform: uppercase;
  padding: 0 5px 3px;
  font-weight: 300;
  letter-spacing: 1px;
}
.category--forums .forum--bottom--marker:hover {
  letter-spacing: 1.5px;
  padding: 0 8px 3px;
}
.category--forums .forum--bottom button {
  background: var(--bgMain);
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: var(--sBody);
}
.category--forums .forum--bottom button:hover {
  background: var(--bgButtonHover);
  color: var(--fontLinks);
}
.category--forums .forum--desc br {
  display: none;
}
.category--forums .forum--desc, .category--forums .forum--none {
  height: 57.6px;
  margin: 20px 0;
  line-height: 160%;
}
.category--forums .forum--text {
  text-align: justify;
}
.category--forums .forum--subs {
  height: 57.6px;
  margin: 20px 0;
  font-size: 0;
  padding: 3px 0;
}
.category--forums .forum--subs a {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: var(--xsBody);
  background: var(--accent);
  padding: 3px 8px;
  border-radius: 2px;
  margin: 0 5px 5px 0;
  line-height: var(--accent);
  color: var(--bgMain);
}
.category--forums .forum--links {
  display: none;
}
@media only screen and (min-width: 720px) {
  .category--forums .forum:last-child:nth-child(2n+1) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 375px;
  }
  .category--forums .forum:last-child:nth-child(2n+1) img {
    height: 375px;
  }
  .category--forums .forum:last-child:nth-child(2n+1) {
    grid-column: 1/3;
  }
  .category--forums .forum:last-child:nth-child(2n+1) .forum--content {
    margin: 40px 20px 20px -50px;
    align-self: start;
  }
}
@media only screen and (min-width: 1280px) {
  .category--forums .forum:last-child:nth-child(2n+1) {
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  }
  .category--forums .forum:last-child:nth-child(2n+1) img {
    height: 100%;
  }
  .category--forums .forum:last-child:nth-child(2n+1) {
    grid-column: span 1;
  }
  .category--forums .forum:last-child:nth-child(2n+1) .forum--content {
    margin: -20px 20px 20px;
    align-self: start;
  }
  .category--forums .forum:last-child:nth-child(3n+1), .category--forums .forum:nth-last-child(2):nth-child(3n+1), .category--forums .forum:last-child:nth-child(3n+2) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 200%;
    height: 475px;
  }
  .category--forums .forum:last-child:nth-child(3n+1) img, .category--forums .forum:nth-last-child(2):nth-child(3n+1) img, .category--forums .forum:last-child:nth-child(3n+2) img {
    height: 475px;
  }
  .category--forums .forum:last-child:nth-child(3n+1) {
    grid-column: 1/2;
  }
  .category--forums .forum:last-child:nth-child(3n+1) .forum--content {
    margin: 40px 20px 20px -50px;
    align-self: start;
  }
  .category--forums .forum:nth-last-child(2):nth-child(3n+1) {
    grid-column: 1/2;
  }
  .category--forums .forum:nth-last-child(2):nth-child(3n+1) .forum--content {
    margin: -20px 20px 20px -50px;
    align-self: start;
  }
  .category--forums .forum:last-child:nth-child(3n+2) {
    grid-column: 2/3;
  }
  .category--forums .forum:last-child:nth-child(3n+2) .forum--content {
    order: 1;
    z-index: 2;
    margin: 20px -50px -20px 20px;
    align-self: end;
  }
  .category--forums .forum:last-child:nth-child(3n+2) .forum--image {
    order: 2;
  }
}
.category--topics {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  grid-gap: 20px;
}
@media only screen and (min-width: 720px) {
  .category--topics {
    padding: 50px;
  }
}

/*******************************
    Board Stats
********************************/
.stats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 415px;
}
@media only screen and (min-width: 1000px) {
  .stats {
    grid-template-columns: 2fr 1fr;
  }
}
.stats--main {
  background: var(--bgContent);
  padding: 20px 20px calc(20px + 3vw) 20px;
  border-radius: 3px;
}
@media only screen and (min-width: 1000px) {
  .stats--main {
    padding: 20px calc(20px + 3vw) 20px 20px;
  }
}
.stats--main h3 {
  font-family: var(--header);
  transform: scaleX(140%);
  transform-origin: left;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
  font-size: 40px;
  color: var(--fontHeader);
}
.stats--main h3 span {
  color: var(--accent);
}
.stats--stats {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 5px 0 20px;
  font-size: var(--xsBody);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.stats--stats b {
  color: var(--accent);
}
.stats--online {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}
.stats--now {
  font-size: 20px;
  line-height: 200%;
}
.stats--now .scroll {
  height: 185px;
}
@media only screen and (min-width: 1000px) {
  .stats--now .scroll {
    height: 232px;
  }
}
.stats--now a {
  color: var(--fontMain);
}
.stats--today {
  text-align: justify;
  line-height: 200%;
}
.stats--today .scroll {
  height: 185px;
}
@media only screen and (min-width: 1000px) {
  .stats--today .scroll {
    height: 232px;
  }
}
.stats--today a {
  color: var(--fontMain);
}
.stats--buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: end;
}
.stats--buttons button,
.stats--buttons a {
  display: block;
  background: var(--bgMain);
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: var(--lBody);
}
.stats--buttons .fa-user-clock {
  padding-left: 2px;
}
.stats--side {
  background: var(--bgContentAlt);
  margin: -3vw 3vw 0 3vw;
  border-radius: 3px;
  z-index: 2;
  padding: 15px;
}
@media only screen and (min-width: 1000px) {
  .stats--side {
    margin: 3vw 0 3vw -3vw;
  }
}
.stats--side .scroll {
  height: calc(385px - 6vw);
}
.stats--side .scroll #recent-topics .maintitle {
  display: none;
}
.stats--side .scroll #recent-topics tbody {
  display: block;
}
.stats--side .scroll #recent-topics .recent-topics-info {
  display: grid;
  grid-template-columns: max-content 0 auto 0;
  align-items: end;
  font-size: 0;
}
.stats--side .scroll #recent-topics .recent-topics-info a:first-child {
  display: block;
  font-family: var(--header);
  font-size: 30px;
  letter-spacing: 1.5px;
  transform: scaleY(80%) scaleX(120%);
  transform-origin: left;
  max-width: 200px;
  margin-bottom: -13px;
  background: var(--bgContentAlt);
  z-index: 2;
  padding-right: 8px;
}
.stats--side .scroll #recent-topics .recent-topics-info a:first-child strong {
  font-weight: normal;
}
.stats--side .scroll #recent-topics .recent-topics-info a:nth-child(2) {
  font-size: var(--xsBody);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}
.stats--side .scroll #recent-topics .recent-topics-info a:nth-child(2):before {
  content: "";
  border-bottom: 1px solid var(--accent);
  margin: 0 10px;
}
.stats--side .scroll #recent-topics .recent-topics-date {
  display: block;
  font-size: var(--xsBody);
  text-transform: uppercase;
  font-style: italic;
  text-align: right;
  margin: 3px 0 15px 0;
}

/*******************************
    Topic List
********************************/
.topic {
  display: grid;
  grid-template-columns: 1fr;
}
.topic:not(:first-child) {
  margin-top: 40px;
}
.topic:nth-child(2n) {
  grid-template-columns: 1fr;
}
.topic:nth-child(2n) .topic--image {
  justify-self: end;
  order: 1;
}
.topic:nth-child(2n) .topic--image label {
  left: auto;
  right: 10px;
}
.topic:nth-child(2n) .topic--main {
  order: 2;
  margin: -20px 0 20px 0;
}
@media only screen and (min-width: 720px) {
  .topic:not(:first-child) {
    margin-top: -20px;
  }
  .topic:nth-child(2n) {
    margin-top: -180px;
  }
}
@media only screen and (min-width: 1000px) {
  .topic {
    grid-template-columns: 200px 1fr;
  }
  .topic:nth-child(2n) {
    grid-template-columns: 1fr 200px;
    margin-top: -20px;
  }
  .topic:nth-child(2n) .topic--image {
    order: 2;
    justify-self: auto;
  }
  .topic:nth-child(2n) .topic--main {
    order: 1;
    margin: 40px -20px 40px 0;
  }
}
.topic--image {
  display: none;
  border-radius: 3px;
  overflow: hidden;
  height: 200px;
  width: 200px;
  max-width: calc(50% - 30px);
  margin: 0 20px;
  z-index: 3;
  order: 2;
}
@media only screen and (min-width: 720px) {
  .topic--image {
    display: block;
  }
}
@media only screen and (min-width: 1000px) {
  .topic--image {
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
    order: 1;
    max-width: none;
  }
}
.topic--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: var(--imageFilter2);
}
.topic--image label {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.topic--image label input {
  display: none;
}
.topic--image label input + div {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  background: var(--bgContent);
  color: transparent;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  cursor: pointer;
}
.topic--image label input + div:hover {
  background: var(--accent);
}
.topic--image label input:checked + div {
  background: var(--accent);
  color: var(--bgContent);
}
.topic--main {
  background: var(--bgContent);
  order: 1;
  margin: 20px 0 -20px 0;
  border-radius: 3px;
  z-index: 2;
  padding: 20px;
  font-size: var(--xsBody);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  grid-gap: 20px;
}
@media only screen and (min-width: 1000px) {
  .topic--main {
    grid-template-columns: 1fr 250px;
    align-items: center;
    margin: 40px 0 40px -20px;
    order: 2;
  }
}
.topic--body {
  display: grid;
  grid-gap: 5px;
  height: max-content;
}
@media only screen and (min-width: 720px) {
  .topic--body {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 1000px) {
  .topic--body {
    padding-top: 0;
    padding-left: 20px;
  }
}
.topic--body > a {
  font-size: var(--xlBody);
  font-weight: 700;
}
.topic--stats {
  display: flex;
  gap: 15px;
  font-size: var(--xsBody);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.topic--stats b,
.topic--stats a {
  color: var(--accent);
}
.topic--pages a {
  color: var(--accent);
  font-weight: bold;
}
.topic--posters {
  display: grid;
  grid-gap: 20px;
}
.topic--starter, .topic--latest {
  padding: 10px;
}
.topic--starter a, .topic--latest a {
  display: block;
  margin-bottom: 5px;
  font-size: var(--mBody);
  font-weight: 300;
  letter-spacing: 1px;
}
.topic--starter {
  border-left: 1px solid var(--accent);
}
.topic--starter a:before {
  content: "started by ";
}
.topic--latest {
  border-right: 1px solid var(--accent);
  text-align: right;
}
.topic--latest a:before {
  content: "last post by ";
}

/*******************************
    Post Row
********************************/
/*******************************
    Member List
********************************/
/*******************************
    Profile
********************************/
/*******************************
    Webpages
********************************/
/*******************************
    Templates
********************************/

/*# sourceMappingURL=styles.css.map */
