/*******************************
    Variables
********************************/
:root {
  --font-accent: "Palanquin";
  --font-accent-bold: "Palanquin Dark";
  --font-body: "Roboto";
  --xsBody: 8px;
  --sBody: 10px;
  --mBody: 12px;
  --lBody: 14px;
  --xlBody: 16px;
  --white: #f7f7f7;
  --offwhite: #ececec;
  --ltgrey: #c1c1c1;
  --dkGrey: #646464;
  --accent: #989f7d;
  --bg-body: var(--offwhite);
  --bg-content: var(--white);
  --border-main: var(--ltgrey);
  --text-body: var(--dkGrey);
}

.smlFont {
  --xsBody: 8px;
  --sBody: 10px;
  --mBody: 12px;
  --lBody: 14px;
  --xlBody: 16px;
}

.lrgFont {
  --xsBody: 10px;
  --sBody: 12px;
  --mBody: 14px;
  --lBody: 16px;
  --xlBody: 18px;
}

/*******************************
    Global
********************************/
* {
  position: relative;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--accent);
}

body {
  padding: 0;
  margin: 0;
  background: var(--bg-body);
  font-family: var(--font-body);
  font-weight: 300;
  font-size: var(--mBody);
  color: var(--text-body);
}

main {
  margin: 50px;
}

/*******************************
    Navigation
********************************/
/*******************************
    Header
********************************/
/*******************************
    Categories
********************************/
.category {
  display: grid;
  gap: 50px;
  margin: 0 auto 50px;
  max-width: 1100px;
}
.category.c-1 {
  grid-template-columns: 1fr 1fr;
}
.category.c-1 h2 {
  grid-column: 1/-1;
}
.category.c-1 .forum {
  height: 100%;
}
.category.c-1 .forum--main, .category.c-1 .forum--border {
  height: 100%;
}
.category.c-2 .forum {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}
.category.c-2 .forum--main {
  width: calc(100% + 50px);
  margin: 50px 0;
}
.category h2 {
  font-family: var(--font-accent);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  text-align: center;
  color: var(--accent);
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  grid-gap: 30px;
  margin: 50px;
}
.category h2::before, .category h2::after {
  content: "";
  height: 1px;
  width: 100%;
  background: var(--ltgrey);
  display: block;
}

.forum--main {
  background: var(--bg-content);
  height: max-content;
  z-index: 2;
  padding: 15px;
  text-align: center;
}
.forum--border {
  padding: 30px;
  border: 1px solid var(--border-main);
}
.forum--border > a {
  font-family: var(--font-accent-bold);
  font-weight: 500;
  font-size: 22px;
  color: var(--accent);
}
.forum--latest {
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 1px;
  line-height: 200%;
  margin: 10px 0 18px;
}
.forum--latest > a {
  font-size: var(--sBody);
  display: block;
  font-weight: 500;
}
.forum--latest span a {
  color: var(--text-body);
}
.forum--stats {
  display: flex;
  gap: 30px;
  justify-content: center;
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 1px;
}
.forum--stats b {
  color: var(--accent);
  font-weight: 900;
}
.forum--links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  font-family: var(--font-accent);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: var(--xsBody);
}
.forum--links a {
  color: var(--dkGrey);
}
.forum--links:empty {
  display: none;
}
.forum > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*******************************
    Board Stats
********************************/
/*******************************
    Topic List
********************************/
/*******************************
    Post Row
********************************/
/*******************************
    Profile
********************************/
/*******************************
    Member List
********************************/
/*******************************
    Webpages
********************************/
/*******************************
    Templates
********************************/
/*******************************
    Jcink Defaults
********************************/
