/*******************************
    Board Stats
********************************/
.stats {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 415px;

    @media only screen and (min-width: $md) {
        grid-template-columns: 2fr 1fr;
    }

    &--main {
        background: var(--bgContent);
        padding: 20px 20px calc(20px + 3vw) 20px;
        border-radius: 3px;

        @media only screen and (min-width: $md) {
            padding: 20px calc(20px + 3vw) 20px 20px;
        }

        h3 {
            font-family: var(--header);
            transform: scaleX(140%);
            transform-origin: left;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 2px;
            font-size: 40px;
            color: var(--fontHeader);

            span {
                color: var(--accent);
            }
        }
    }
    &--stats {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin: 5px 0 20px;
        font-size: var(--xsBody);
        text-transform: uppercase;
        letter-spacing: 1px;

        b {
            color: var(--accent);
        }
    }

    &--online {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 300;
    }

    &--now {
        font-size: 20px;
        line-height: 200%;

        .scroll {
            height: 185px;

            @media only screen and (min-width: $md) {
                height: 232px;
            }
        }

        a {
            color: var(--fontMain);
        }
    }

    &--today {
        text-align: justify;
        line-height: 200%;

        .scroll {
            height: 185px;

            @media only screen and (min-width: $md) {
                height: 232px;
            }
        }

        a {
            color: var(--fontMain);
        }
    }

    &--buttons {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        justify-content: end;

        button,
        a {
            display: block;
            background: var(--bgMain);
            width: 37px;
            height: 37px;
            border-radius: 50%;
            display: grid;
            align-items: center;
            justify-items: center;
            text-align: center;
            font-size: var(--lBody);
        }

        .fa-user-clock {
            padding-left: 2px;
        }
    }

    &--side {
        background: var(--bgContentAlt);
        margin: -3vw 3vw 0 3vw;
        border-radius: 3px;
        z-index: 2;
        padding: 15px;

        @media only screen and (min-width: $md) {
            margin: 3vw 0 3vw -3vw;
        }

        .scroll {
            height: calc(385px - 6vw);

            #recent-topics {
                .maintitle {
                    display: none;
                }

                tbody {
                    display: block;
                }

                .recent-topics-info {
                    display: grid;
                    grid-template-columns: max-content 0 auto 0;
                    align-items: end;
                    font-size: 0;

                    a:first-child {
                        display: block;
                        font-family: var(--header);
                        font-size: 30px;
                        letter-spacing: 1.5px;
                        transform: scaleY(80%) scaleX(120%);
                        transform-origin: left;
                        max-width: 200px;
                        margin-bottom: -13px;
                        background: var(--bgContentAlt);
                        z-index: 2;
                        padding-right: 8px;
                        
                        strong {
                            font-weight: normal;
                        }
                    }

                    a:nth-child(2) {
                        font-size: var(--xsBody);
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        display: grid;
                        grid-template-columns: 1fr max-content;
                        align-items: center;

                        &:before {
                            content: '';
                            border-bottom: 1px solid var(--accent);
                            margin: 0 10px;
                        }
                    }
                }

                .recent-topics-date {
                    display: block;
                    font-size: var(--xsBody);
                    text-transform: uppercase;
                    font-style: italic;
                    text-align: right;
                    margin: 3px 0 15px 0;
                }
            }
        }
    }
}