/*******************************
    Topic List
********************************/
.topic {
    display: grid;
    grid-template-columns: 1fr;

    &:not(:first-child) {
        margin-top: 40px;
    }

    &:nth-child(2n) {
        grid-template-columns: 1fr;

        .topic--image {
            justify-self: end;
            order: 1;

            & label {
                left: auto;
                right: 10px;
            }
        }
        .topic--main {
            order: 2;
            margin: -20px 0 20px 0;
        }
    }

    @media only screen and (min-width: $sm) {
        &:not(:first-child) {
            margin-top: -20px;
        }
    
        &:nth-child(2n) {
            margin-top: -180px;
        }
    }

    @media only screen and (min-width: $md) {
        grid-template-columns: 200px 1fr;

        &:nth-child(2n) {
            grid-template-columns: 1fr 200px;
            margin-top: -20px;

            .topic--image {
                order: 2;
                justify-self: auto;
            }
            .topic--main {
                order: 1;
                margin: 40px -20px 40px 0;
            }
        }
    }

    &--image {
        display: none;
        border-radius: 3px;
        overflow: hidden;
        height: 200px;
        width: 200px;
        max-width: calc(50% - 30px);
        margin: 0 20px;
        z-index: 3;
        order: 2;

        @media only screen and (min-width: $sm) {
            display: block;
        }

        @media only screen and (min-width: $md) {
            height: 100%;
            width: 100%;
            margin: 0;
            z-index: 1;
            order: 1;
            max-width: none;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: var(--imageFilter2);
        }

        label {
            position: absolute;
            bottom: 10px;
            left: 10px;

            input {
                display: none;

                & + div {
                    width: 24px;
                    height: 24px;
                    border-radius: 3px;
                    background: var(--bgContent);
                    color: transparent;
                    display: grid;
                    align-items: center;
                    justify-items: center;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        background: var(--accent);
                    }
                }

                &:checked + div {
                    background: var(--accent);
                    color: var(--bgContent);
                }
            }
        }
    }

    &--main {
        background: var(--bgContent);
        order: 1;
        margin: 20px 0 -20px 0;
        border-radius: 3px;
        z-index: 2;
        padding: 20px;
        font-size: var(--xsBody);
        text-transform: uppercase;
        letter-spacing: 1px;
        display: grid;
        grid-gap: 20px;

        @media only screen and (min-width: $md) {
            grid-template-columns: 1fr 250px;
            align-items: center;
            margin: 40px 0 40px -20px;
            order: 2;
        }
    }

    &--body {
        display: grid;
        grid-gap: 5px;
        height: max-content;

        @media only screen and (min-width: $sm) {
            padding-top: 20px;
        }

        @media only screen and (min-width: $md) {
            padding-top: 0;
            padding-left: 20px;
        }

        & > a {
            font-size: var(--xlBody);
            font-weight: 700;
        }
    }

    &--stats {
        display: flex;
        gap: 15px;
        font-size: var(--xsBody);
        letter-spacing: 1px;
        text-transform: uppercase;

        b,
        a {
            color: var(--accent);
        }
    }

    &--pages {
        font-size: 0;
        margin-top: 5px;

        a {
            background: var(--accent);
            font-size: var(--mBody);
            padding: 3px 2px 3px 7px;
            border-radius: 3px;
            margin-right: 5px;
            color: var(--bgContent);
            font-weight: 500;
        }
    }

    &--posters {
        display: grid;
        grid-gap: 20px;
    }

    &--starter,
    &--latest {
        padding: 10px;

        a {
            display: block;
            margin-bottom: 5px;
            font-size: var(--mBody);
            font-weight: 300;
            letter-spacing: 1px;
        }
    }

    &--starter {
        border-left: 1px solid var(--accent);

        a:before {
            content: 'started by ';
        }
    }

    &--latest {
        border-right: 1px solid var(--accent);
        text-align: right;

        a:before {
            content: 'last post by ';
        }
    }
}