/******* Settings ********/
:root {
  --sidebarWidth: 300px;
}
@media only screen and (max-width: 375px) {
  :root {
    --sidebarWidth: 250px;
  }
}

/*******************************
    Variables
********************************/
:root {
  --accentFont: "linotype-didot", serif;
  --headerFont: "source code pro", monospace;
  --bodyFont: "montserrat", sans-serif;
  --black: rgba(12, 12, 12, 1);
  --offBlack: rgba(18, 18, 18, 1);
  --dkGrey: rgba(26, 26, 26, 1);
  --mdGrey: rgba(40, 40, 40, 1);
  --lmGrey: rgba(150, 150, 150, 1);
  --ltGrey: rgba(134, 134, 134, 1);
  --xltGrey: rgba(170, 170, 170, 1);
  --offWhite: rgba(215, 215, 215, 1);
  --white: rgba(235, 235, 235, 1);
}

.smlFont {
  --xsBody: 8px;
  --sBody: 10px;
  --mBody: 12px;
  --lBody: 14px;
  --xlBody: 16px;
}

.lrgFont {
  --xsBody: 10px;
  --sBody: 12px;
  --mBody: 14px;
  --lBody: 16px;
  --xlBody: 18px;
}

.light {
  --background: var(--offWhite);
  --content: var(--white);
  --dark: var(--mdGrey);
  --headerText: var(--offWhite);
  --text: var(--mdGrey);
  --light: var(--ltGrey);
  --overlayText: var(--mdGrey);
  --opacityShift: 1;
  --subHoverText: var(--mdGrey);
  --menuLink: var(--mdGrey);
  --menuBG: var(--dkGrey);
  --imageFilter: grayscale(1) contrast(0.7) brightness(1.3);
  --accentColor: var(--black);
  --accent: rgba(87, 188, 210, 1);
  --ltaccent: rgba(87, 188, 210, 1);
  /**************************
  Validating, Guests
  **************************/
  /**************************
  Unsorted
  **************************/
  /**************************
  Admin
  **************************/
  /**************************
  Banned, Inactive, Hiatus
  **************************/
  /**************************
  Adults
  **************************/
  /**************************
  Gryffindor
  **************************/
  /**************************
  Hogwarts Staff
  **************************/
  /**************************
  Hufflepuff
  **************************/
  /**************************
  Press
  **************************/
  /**************************
  Ministry
  **************************/
  /**************************
  Quidditch
  **************************/
  /**************************
  Ravenclaw
  **************************/
  /**************************
  Healers
  **************************/
  /**************************
  Slytherin
  **************************/
  /**************************
  Returners
  **************************/
  /**************************
  Entertainment
  **************************/
  /**************************
  Members
  **************************/
}
.light .g-1,
.light .g-2, .light.g-1, .light.g-2 {
  --accentColor: var(--black);
  --accent: rgba(196, 177, 125, 1);
  --ltaccent: rgba(225, 210, 166, 1);
  --opacityShift: 1;
}
.light .g-3, .light.g-3 {
  --accentColor: var(--black);
  --accent: rgba(189, 133, 92, 1);
  --ltaccent: rgba(215, 159, 118, 1);
  --opacityShift: 1;
}
.light .g-4, .light.g-4 {
  --accentColor: var(--black);
  --accent: rgba(110, 130, 155, 1);
  --ltaccent: rgba(142, 161, 185, 1);
  --opacityShift: 1;
}
.light .g-5,
.light .g-10,
.light .g-19, .light.g-5, .light.g-10, .light.g-19 {
  --accentColor: var(--black);
  --accent: rgba(196, 196, 196, 1);
  --ltaccent: rgba(220, 220, 220, 1);
  --opacityShift: 1;
}
.light adults,
.light .adults,
.light .g-6, .light.g-6 {
  --accentColor: var(--white);
  --accent: rgba(179, 73, 85, 1);
  --ltaccent: rgba(200, 107, 118, 1);
  --opacityShift: 1;
}
.light gryffindor,
.light .gryffindor,
.light .g-7, .light.g-7 {
  --accentColor: var(--white);
  --accent: rgba(147, 42, 47, 1);
  --ltaccent: rgba(176, 58, 63, 1);
  --opacityShift: 1;
}
.light hogwarts,
.light .hogwarts,
.light .g-8, .light.g-8 {
  --accentColor: var(--white);
  --accent: rgba(97, 86, 153, 1);
  --ltaccent: rgba(123, 113, 170, 1);
  --opacityShift: 0.7;
}
.light hufflepuff,
.light .hufflepuff,
.light .g-9, .light.g-9 {
  --accentColor: var(--black);
  --accent: rgba(183, 148, 117, 1);
  --ltaccent: rgba(213, 177, 146, 1);
  --opacityShift: 1;
}
.light press,
.light .press,
.light .g-11, .light.g-11 {
  --accentColor: var(--black);
  --accent: rgba(176, 134, 84, 1);
  --ltaccent: rgba(200, 160, 112, 1);
  --opacityShift: 1;
}
.light ministry,
.light .ministry,
.light .g-12, .light.g-12 {
  --accentColor: var(--white);
  --accent: rgba(78, 134, 126, 1);
  --ltaccent: rgba(101, 157, 149, 1);
  --opacityShift: 1;
}
.light quidditch,
.light .quidditch,
.light .g-13, .light.g-13 {
  --accentColor: var(--black);
  --accent: rgba(146, 130, 157, 1);
  --ltaccent: rgba(166, 148, 179, 1);
  --opacityShift: 1;
}
.light ravenclaw,
.light .ravenclaw,
.light .g-14, .light.g-14 {
  --accentColor: var(--white);
  --accent: rgba(65, 91, 142, 1);
  --ltaccent: rgba(86, 113, 166, 1);
  --opacityShift: 1;
}
.light healers,
.light .healers,
.light .g-15, .light.g-15 {
  --accentColor: var(--white);
  --accent: rgba(88, 123, 83, 1);
  --ltaccent: rgba(102, 142, 96, 1);
  --opacityShift: 1;
}
.light slytherin,
.light .slytherin,
.light .g-16, .light.g-16 {
  --accentColor: var(--white);
  --accent: rgba(45, 91, 61, 1);
  --ltaccent: rgba(60, 113, 78, 1);
  --opacityShift: 1;
}
.light returners,
.light .returners,
.light .g-17, .light.g-17 {
  --accentColor: var(--white);
  --accent: rgba(90, 137, 151, 1);
  --ltaccent: rgba(105, 154, 168, 1);
  --opacityShift: 1;
}
.light entertainment,
.light .entertainment,
.light .g-18, .light.g-18 {
  --accentColor: var(--black);
  --accent: rgba(82, 154, 162, 1);
  --ltaccent: rgba(108, 181, 189, 1);
  --opacityShift: 1;
}
.light .g-20, .light.g-20 {
  --accentColor: var(--black);
  --accent: rgba(97, 177, 202, 1);
  --ltaccent: rgba(130, 201, 223, 1);
  --opacityShift: 1;
}

.dark {
  --background: var(--mdGrey);
  --content: var(--offBlack);
  --dark: var(--offBlack);
  --headerText: var(--lmGrey);
  --text: var(--xltGrey);
  --light: var(--mdGrey);
  --overlayText: var(--offWhite);
  --opacityShift: 0.8;
  --subHoverText: var(--ltaccent);
  --menuLink: var(--mdGrey);
  --menuBG: var(--dkGrey);
  --imageFilter: grayscale(1) brightness(0.7) contrast(1.3);
  --accentColor: var(--black);
  --accent: rgba(87, 188, 210, 1);
  --ltaccent: rgba(87, 188, 210, 1);
  /**************************
  Validating, Guests
  **************************/
  /**************************
  Unsorted
  **************************/
  /**************************
  Admin
  **************************/
  /**************************
  Banned, Inactive, Hiatus
  **************************/
  /**************************
  Adults
  **************************/
  /**************************
  Gryffindor
  **************************/
  /**************************
  Hogwarts Staff
  **************************/
  /**************************
  Hufflepuff
  **************************/
  /**************************
  Press
  **************************/
  /**************************
  Ministry
  **************************/
  /**************************
  Quidditch
  **************************/
  /**************************
  Ravenclaw
  **************************/
  /**************************
  Healers
  **************************/
  /**************************
  Slytherin
  **************************/
  /**************************
  Returners
  **************************/
  /**************************
  Entertainment
  **************************/
  /**************************
  Members
  **************************/
}
.dark .g-1,
.dark .g-2, .dark.g-1, .dark.g-2 {
  --accentColor: var(--black);
  --ltaccent: rgba(196, 177, 125, 1);
  --accent: rgba(225, 210, 166, 1);
  --opacityShift: 0.8;
}
.dark .g-3, .dark.g-3 {
  --accentColor: var(--black);
  --ltaccent: rgba(189, 133, 92, 1);
  --accent: rgba(215, 159, 118, 1);
  --opacityShift: 0.8;
}
.dark .g-4, .dark.g-4 {
  --accentColor: var(--black);
  --ltaccent: rgba(110, 130, 155, 1);
  --accent: rgba(97, 116, 140, 1);
  --opacityShift: 0.8;
}
.dark .g-5,
.dark .g-10,
.dark .g-19, .dark.g-5, .dark.g-10, .dark.g-19 {
  --accentColor: var(--black);
  --ltaccent: rgba(196, 196, 196, 1);
  --accent: rgba(220, 220, 220, 1);
  --opacityShift: 0.8;
}
.dark adults,
.dark .adults,
.dark .g-6, .dark.g-6 {
  --accentColor: var(--white);
  --ltaccent: rgba(179, 73, 85, 1);
  --accent: rgba(200, 107, 118, 1);
  --opacityShift: 0.8;
}
.dark gryffindor,
.dark .gryffindor,
.dark .g-7, .dark.g-7 {
  --accentColor: var(--white);
  --ltaccent: rgba(147, 42, 47, 1);
  --accent: rgba(176, 58, 63, 1);
  --opacityShift: 0.8;
}
.dark hogwarts,
.dark .hogwarts,
.dark .g-8, .dark.g-8 {
  --accentColor: var(--white);
  --ltaccent: rgba(97, 86, 153, 1);
  --accent: rgba(123, 113, 170, 1);
  --opacityShift: 0.8;
}
.dark hufflepuff,
.dark .hufflepuff,
.dark .g-9, .dark.g-9 {
  --accentColor: var(--black);
  --ltaccent: rgba(183, 148, 117, 1);
  --accent: rgba(213, 177, 146, 1);
  --opacityShift: 0.8;
}
.dark press,
.dark .press,
.dark .g-11, .dark.g-11 {
  --accentColor: var(--black);
  --ltaccent: rgba(176, 134, 84, 1);
  --accent: rgba(200, 160, 112, 1);
  --opacityShift: 0.8;
}
.dark ministry,
.dark .ministry,
.dark .g-12, .dark.g-12 {
  --accentColor: var(--white);
  --ltaccent: rgba(78, 134, 126, 1);
  --accent: rgba(101, 157, 149, 1);
  --opacityShift: 0.8;
}
.dark quidditch,
.dark .quidditch,
.dark .g-13, .dark.g-13 {
  --accentColor: var(--black);
  --ltaccent: rgba(146, 130, 157, 1);
  --accent: rgba(166, 148, 179, 1);
  --opacityShift: 0.8;
}
.dark ravenclaw,
.dark .ravenclaw,
.dark .g-14, .dark.g-14 {
  --accentColor: var(--white);
  --ltaccent: rgba(65, 91, 142, 1);
  --accent: rgba(86, 113, 166, 1);
  --opacityShift: 0.8;
}
.dark healers,
.dark .healers,
.dark .g-15, .dark.g-15 {
  --accentColor: var(--white);
  --ltaccent: rgba(88, 123, 83, 1);
  --accent: rgba(102, 142, 96, 1);
  --opacityShift: 0.8;
}
.dark slytherin,
.dark .slytherin,
.dark .g-16, .dark.g-16 {
  --accentColor: var(--white);
  --ltaccent: rgba(45, 91, 61, 1);
  --accent: rgba(60, 113, 78, 1);
  --opacityShift: 0.8;
}
.dark returners,
.dark .returners,
.dark .g-17, .dark.g-17 {
  --accentColor: var(--white);
  --ltaccent: rgba(90, 137, 151, 1);
  --accent: rgba(105, 154, 168, 1);
  --opacityShift: 0.8;
}
.dark entertainment,
.dark .entertainment,
.dark .g-18, .dark.g-18 {
  --accentColor: var(--black);
  --ltaccent: rgba(82, 154, 162, 1);
  --accent: rgba(108, 181, 189, 1);
  --opacityShift: 0.8;
}
.dark .g-20, .dark.g-20 {
  --accentColor: var(--black);
  --ltaccent: rgba(97, 177, 202, 1);
  --accent: rgba(130, 201, 223, 1);
  --opacityShift: 0.8;
}

/*******************************
    Font Imports
********************************/
@font-face {
  font-family: "troye serif";
  src: url("../fonts/troyeserif.woff2") format("woff2"), url("../fonts/troyeserif.woff") format("woff"), url("../fonts/troyeserif.ttf") format("truetype"), url("../fonts/troyeserif.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/*******************************
    Global
********************************/
* {
  position: relative;
  box-sizing: border-box;
}
*:not(textarea), *::before, *::after {
  transition-duration: 0.5s;
}

html {
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
  color: var(--text);
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 0;
  margin: 0;
  font-family: var(--bodyFont);
  background: var(--background);
  color: var(--text);
  overflow-x: hidden;
}
body.g-2 .memOnly {
  display: none;
}
body:not(.g-2) .guestOnly {
  display: none;
}
body:not(.g-4) .staffOnly {
  display: none;
}

hr {
  width: 60%;
  height: 1px;
  border: none;
  background: var(--light);
  margin: 10px auto;
  opacity: 0.5;
}

main {
  min-height: 100vh;
  padding: 0 20px;
  left: 50px;
  width: calc(100% - 50px);
}
@media only screen and (min-width: 480px) {
  main {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 768px) {
  main {
    width: calc(100% - 100px);
  }
}
@media only screen and (min-width: 1024px) {
  main {
    padding: 0 80px;
  }
}
#Profile main {
  padding: 0;
  width: 100%;
  left: 0;
}

.anchorLink {
  height: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
.anchorLink[name=tobottom] {
  top: auto;
  bottom: 0;
}

.grid {
  display: grid;
}
.grid.twoCol {
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 768px) {
  .grid.twoCol {
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid.threeCol {
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 768px) {
  .grid.threeCol {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .grid.threeCol {
    grid-template-columns: repeat(3, 1fr);
  }
}
.grid.fourCol {
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 768px) {
  .grid.fourCol {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .grid.fourCol {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  .grid.fourCol {
    grid-template-columns: repeat(4, 1fr);
  }
}
.grid .fullWidth {
  grid-column: 1/-1;
}
@media only screen and (min-width: 768px) {
  .grid .twoWide {
    grid-column: span 2;
  }
}

.justify {
  text-align: justify;
}

luxblock {
  max-width: 850px;
  display: block;
  margin: 0 auto;
}

.fa-solid,
.fa-regular,
.fa-light,
.fa-thin {
  font-style: normal !important;
  font-family: "Font Awesome 6 Pro" !important;
}

.fa-brand {
  font-style: normal !important;
  font-family: "Font Awesome 6 Brands" !important;
}

.fa-solid {
  font-weight: 700 !important;
}

.fa-regular {
  font-weight: 500 !important;
}

.fa-light {
  font-weight: 300 !important;
}

.fa-thin {
  font-weight: 100 !important;
}

.scroll {
  overflow: auto;
  padding-right: 10px;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

.dark .lightOnly,
.light .darkOnly,
.lrgFont .smallOnly,
.smlFont .largeOnly {
  display: none;
}

@media only screen and (max-width: 768px) {
  .notMobile {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .mobileOnly {
    display: none !important;
  }
}
.hide {
  display: none !important;
}

/*******************************
    Navigation
********************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 10;
}

.main-nav {
  position: absolute;
  top: 0;
  left: calc(var(--sidebarWidth) * -1);
  width: calc(var(--sidebarWidth) + 50px);
  height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebarWidth) 50px;
  background: var(--dkGrey);
  z-index: 11;
}
.nav-open .main-nav {
  left: 0;
}
.main-nav--trigger-bar {
  width: 100%;
  height: 100%;
  background: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-open .main-nav--trigger-bar {
  background: var(--accent);
}
.main-nav--trigger-bar button {
  width: 50px;
  background: transparent;
  border: none;
  color: var(--headerText);
  font-size: var(--xsBody);
  text-transform: uppercase;
  letter-spacing: 1px;
  display: grid;
  grid-gap: 9px;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 18px;
}
.main-nav--trigger-bar button:hover .bars::after {
  width: 22px;
}
.main-nav--trigger-bar button .bars {
  align-self: end;
  height: 10px;
}
.main-nav--trigger-bar button .bars::before, .main-nav--trigger-bar button .bars::after {
  content: "";
  height: 1px;
  background: var(--headerText);
  display: block;
  position: absolute;
  left: calc(27px / 2);
}
.main-nav--trigger-bar button .bars::before {
  top: 0;
  width: 22px;
}
.main-nav--trigger-bar button .bars::after {
  bottom: 0;
  width: 17px;
}
.nav-open .main-nav--trigger-bar button {
  color: var(--accentColor);
}
.nav-open .main-nav--trigger-bar button .bars::before, .nav-open .main-nav--trigger-bar button .bars::after {
  top: 5px;
  left: calc(32px / 2);
  width: 17px;
  background: var(--accentColor);
}
.nav-open .main-nav--trigger-bar button .bars::before {
  transform: rotate(45deg);
}
.nav-open .main-nav--trigger-bar button .bars::after {
  transform: rotate(-45deg);
}
.nav-open .main-nav--trigger-bar button:hover .bars::before,
.nav-open .main-nav--trigger-bar button:hover .bars::after {
  width: 20px;
  left: calc(29px / 2);
}
.main-nav--code {
  margin: 15px;
}
.main-nav--code .copyQuick {
  border: none;
  color: var(--accentColor);
  text-transform: uppercase;
  font-size: var(--sBody);
  letter-spacing: 2px;
  font-family: var(--headerFont);
  font-weight: 700;
  margin: 0;
  line-height: 100%;
  background: var(--accent);
  padding: 5px 10px;
  border-radius: 4px;
}
.main-nav--code pre {
  background: var(--menuLink);
  width: 100%;
  height: 70px;
  padding: 10px;
}
.main-nav--code pre textarea {
  border: 0;
  background: transparent;
  width: 100%;
  color: var(--headerText);
  font-family: var(--headerFont);
  font-size: var(--sBody);
  height: 100%;
}
.main-nav--code pre textarea:focus {
  outline: none;
}
.main-nav--code pre textarea::selection {
  background: var(--accent);
  color: var(--accentColor);
}
.main-nav--links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 15px 15px;
  scrollbar-color: var(--accent) var(--mdGrey);
}
.main-nav--links a {
  display: block;
  background: var(--mdGrey);
  color: var(--headerText);
  font-family: var(--headerFont);
  text-transform: lowercase;
  text-align: center;
  padding: 15px;
  font-size: var(--mBody);
  font-weight: 600;
  letter-spacing: 1px;
}
.main-nav--links a::after {
  content: "\f178";
  display: inline-block;
  width: 0;
  overflow: hidden;
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
  bottom: -3px;
  position: relative;
  line-height: 100%;
}
.main-nav--links a:hover {
  background: var(--accent);
  color: var(--accentColor);
}
.main-nav--links a:hover::after {
  width: 20px;
  margin-left: 10px;
}

.alt-nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100vh;
  background: var(--dark);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.breadcrumb-nav {
  position: absolute;
  top: 0;
  left: 50px;
  width: calc(100% - 50px);
  padding: 5px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--headerFont);
  color: var(--headerText);
  font-size: var(--xsBody);
}
.breadcrumb-nav.scrolled {
  background: var(--dark);
}
.breadcrumb-nav #navstrip a {
  color: var(--headerText);
}
.breadcrumb-nav #navstrip a:first-child {
  font-size: var(--lBody);
  text-transform: lowercase;
  letter-spacing: 0;
  font-weight: 700;
  display: block;
  margin-bottom: 3px;
}
.breadcrumb-nav #navstrip a:first-child + i {
  display: none;
}
@media only screen and (min-width: 768px) {
  .breadcrumb-nav {
    width: calc(100% - 100px);
  }
}

.nav--controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.nav--controls button,
.nav--controls a {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 50px;
  height: 40px;
  color: var(--headerText);
  font-size: var(--mBody);
  opacity: 0.8;
}
.nav--controls button .fa-circle,
.nav--controls a .fa-circle {
  font-size: var(--xsBody);
}
.nav--controls button:hover,
.nav--controls a:hover {
  opacity: 1;
}
.nav--controls button {
  background: none;
  border: none;
  cursor: pointer;
}
.nav--controls button .smallOnly {
  font-size: var(--lBody);
}
.nav--controls button .largeOnly {
  font-size: var(--sBody);
}
.nav-open .main-nav--trigger-bar .nav--controls a {
  color: var(--accentColor);
}
.nav-open .main-nav--trigger-bar .nav--controls hr {
  background: var(--accentColor);
}

/*******************************
    Header
********************************/
#Profile header {
  display: none;
}

.header {
  background: var(--dark);
  padding: 50px 0 0 50px;
  left: 0;
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 0;
    padding: 50px 50px 0;
  }
}
.header h1 {
  font-family: var(--accentFont);
  font-weight: 700;
  margin: 0;
  text-align: center;
  font-size: clamp(30px, 5vw, 45px);
  color: var(--headerText);
}
#idx .header h1 {
  font-size: clamp(60px, 6vw, 80px);
}
#Profile .header h1 {
  font-size: clamp(50px, 6vw, 70px);
}
.header p {
  color: var(--headerText);
  text-align: center;
  font-family: var(--headerFont);
  margin: 0;
  text-transform: lowercase;
}
body:not(#idx):not(#Profile) .header p {
  font-size: var(--lBody);
}
.header--deco {
  border: 1px solid var(--light);
  border-bottom: none;
  padding: 50px;
}
@media only screen and (min-width: 768px) {
  .header--deco {
    padding: 50px 50px 180px;
  }
}
#idx .header--deco {
  padding: 130px 50px 150px;
}
@media only screen and (min-width: 768px) {
  #idx .header--deco {
    padding: 130px 50px 230px;
  }
}
#Profile .header--deco {
  padding: 130px 50px 150px;
}
.header--deco::before, .header--deco::after {
  content: "";
  position: absolute;
  top: -42px;
  border: 1px solid var(--light);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--dark);
}
.header--deco::before {
  left: -42px;
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
}
.header--deco::after {
  right: -42px;
  clip-path: polygon(0 50%, 50% 50%, 50% 100%, 0 100%);
}
@media only screen and (max-width: 768px) {
  .header--deco::after {
    display: none;
  }
}
.header--info {
  grid-template-columns: 100%;
  grid-column-gap: 2.5vw;
  max-width: 1000px;
  margin: -100px auto 50px;
  left: 0;
  width: max-content;
  grid-row-gap: 50px;
  display: none;
}
@media only screen and (min-width: 768px) {
  .header--info {
    display: grid;
    grid-template-columns: 280px 280px;
    width: max-content;
  }
}
@media only screen and (min-width: 1024px) {
  .header--info {
    grid-template-columns: 280px 1fr 280px;
    width: calc(100% - 150px);
  }
}
.header--calendar, .header--intro, .header--staff {
  background: var(--ltaccent);
  color: var(--accentColor);
  padding: 15px 20px;
  font-size: var(--mBody);
  line-height: 200%;
  text-align: justify;
}
.header--calendar > b:first-child, .header--intro > b:first-child, .header--staff > b:first-child {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--ltaccent);
  padding: 0 8px 0 10px;
  transform: translateY(-100%);
  font-family: var(--headerFont);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--sBody);
}
.header--calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  grid-gap: 5px;
  order: 1;
}
.header--calendar .calendar-day {
  font-weight: 700;
  font-size: var(--xsBody);
  font-family: var(--headerFont);
}
.header--calendar span:not(.calendar-day) {
  font-size: var(--sBody);
  aspect-ratio: 1;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 50%;
}
.header--calendar span.event {
  background: var(--accent);
}
.header--intro {
  display: grid;
  align-items: center;
  font-size: calc(var(--mBody) + 1px);
}
@media only screen and (min-width: 768px) {
  .header--intro {
    grid-column: span 2;
    order: -1;
  }
}
@media only screen and (min-width: 1024px) {
  .header--intro {
    grid-column: auto;
    order: 2;
  }
}
.header--intro p {
  margin: 0;
}
.header--staff {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  grid-gap: 10px;
  order: 3;
}
.header--staff a {
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  font-size: 40px;
  background: var(--accent);
  color: var(--white);
  border-radius: 4px;
}
.header--staff a:hover {
  background: var(--ltaccent);
}

/*******************************
    Categories
********************************/
.category {
  margin-bottom: 80px;
}
.category h2 {
  margin: 0 auto 85px;
  max-width: max-content;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 16px;
  text-align: center;
  left: 7px;
}
@media only screen and (min-width: 768px) {
  .category h2 {
    letter-spacing: 20px;
    font-size: 34px;
    font-weight: 100;
    left: 12px;
  }
}
.category--rows {
  display: grid;
  grid-gap: 35px 19px;
  grid-template-columns: repeat(1, 1fr);
}
@media only screen and (min-width: 768px) {
  .category--rows {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .category--rows {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .category.c-10 .category--rows {
    grid-template-columns: repeat(2, 1fr);
  }
}

.forum {
  background: var(--content);
  padding: 30px;
  font-size: var(--mBody);
}
.forum--stats {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background: var(--content);
  padding: 0 8px 0 10px;
  font-family: var(--headerFont);
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--xsBody);
  letter-spacing: 2px;
  line-height: 200%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.forum h3 {
  margin: 0 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  max-width: max-content;
  padding: 0 40px 0 5px;
  line-height: 100%;
  letter-spacing: 1px;
  font-family: var(--headerFont);
}
.forum h3::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 9px;
  background: var(--ltaccent);
  opacity: var(--opacityShift);
}
.forum h3:hover::before {
  width: calc(100% + 20px);
}
.forum h3 a {
  color: var(--overlayText);
}
@media only screen and (min-width: 768px) {
  .forum h3 {
    font-size: 26px;
    letter-spacing: 2px;
  }
  .forum h3::before {
    height: 12px;
  }
}
.forum--latest {
  display: grid;
  margin: 30px 5px 20px;
  line-height: 160%;
}
.forum--latest > a {
  font-size: var(--lBody);
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: lowercase;
}
.forum--poster {
  text-transform: uppercase;
  font-size: calc(var(--xsBody) + 1px);
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 2px;
  opacity: 0.7;
}
.forum--date {
  font-family: var(--headerFont);
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 2px;
  opacity: 0.7;
}
.forum--subforums {
  margin: 0 5px;
  font-size: 0;
}
.forum--subforums a {
  background: var(--ltaccent);
  color: var(--accentColor);
  font-family: var(--headerFont);
  padding: 10px 16px;
  text-transform: lowercase;
  font-weight: 600;
  letter-spacing: 0px;
  font-size: var(--mBody);
  margin: 0 5px 5px 0;
  display: inline;
  line-height: calc(var(--mBody) + 28px);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  opacity: var(--opacityShift);
}
.forum--subforums a::after {
  content: "\f178";
  display: inline-block;
  width: 0;
  overflow: hidden;
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
  bottom: -3px;
  position: relative;
  line-height: 100%;
  color: var(--ltaccent);
}
.forum--subforums a:hover {
  background: transparent;
  color: var(--subHoverText);
}
.forum--subforums a:hover::after {
  width: 20px;
  margin-left: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .forum.f-7, .forum.f-182, .forum.f-96, .forum.f-17, .forum.f-14, .forum.f-128, .forum.f-135, .forum.f-26 {
    grid-column: span 2;
  }
  .forum.f-96 {
    order: -1;
  }
  .forum.f-182 {
    order: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .forum.f-7, .forum.f-17, .forum.f-182, .forum.f-14 {
    grid-column: span 2;
  }
  .forum.f-17 {
    order: -1;
  }
}

/*******************************
    Board Stats
********************************/
/*******************************
    Topic List
********************************/
/*******************************
    Post Row
********************************/
/*******************************
    Member List
********************************/
/*******************************
    Profile
********************************/
#Profile #navstrip i:last-of-type,
#Profile #navstrip .addName {
  opacity: 0;
}
#Profile .scrolled #navstrip i:last-of-type,
#Profile .scrolled #navstrip .addName {
  opacity: 1;
}

.profile.acc-Character .memOnly, .profile.acc-Member .charOnly {
  display: none;
}
.profile.app-Traditional .basicOnly {
  display: none;
}
.profile:not(.app-Traditional) .fullOnly {
  display: none;
}
.profile.app-Basic .notBasic {
  display: none;
}
.profile--header {
  margin-bottom: 0;
}
.profile--header img {
  margin: 0 auto 35px;
  display: block;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  object-fit: cover;
  filter: var(--imageFilter);
}
.profile--header h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
}
.profile--header-links {
  color: var(--headerText);
  text-align: center;
  font-family: var(--headerFont);
  margin: 0;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.profile--header-links a {
  padding: 8px 15px;
  color: var(--headerText);
}
.profile--header-links a::after {
  content: "\f178";
  display: inline-block;
  width: 0;
  overflow: hidden;
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
  bottom: -3px;
  position: relative;
  line-height: 100%;
  color: var(--ltaccent);
}
.profile--header-links a:hover {
  background: var(--ltaccent);
  color: var(--accentColor);
}
.profile--header-links a:hover::after {
  width: 20px;
  margin-left: 10px;
  color: var(--accentColor);
}
.acc-Member .profile--header-links a:not(.memOnly):not(.memAlso), .profile--header-links a[href="<i>No Information</i>"], .profile--header-links a[href=""] {
  display: none;
}
.profile--menu {
  position: sticky;
  margin: 0 0 0 50px;
  background: var(--ltaccent);
  padding: 15px 20px;
  font-family: var(--headerFont);
  text-transform: lowercase;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  font-size: var(--lBody);
  z-index: 9;
}
@media only screen and (min-width: 768px) {
  .profile--menu {
    margin: 0 50px;
  }
}
.profile--menu a {
  color: var(--accentColor);
}
.acc-Member .profile--menu a:not(.memOnly):not(.memAlso) {
  display: none;
}
.profile--body {
  min-height: 100vh;
  padding: 0 20px;
  left: 50px;
  width: calc(100% - 50px);
}
@media only screen and (min-width: 480px) {
  .profile--body {
    padding: 0 40px;
  }
}
@media only screen and (min-width: 768px) {
  .profile--body {
    width: calc(100% - 100px);
  }
}
@media only screen and (min-width: 1024px) {
  .profile--body {
    padding: 0 80px;
  }
}
.profile--warnings {
  background: var(--content);
  padding: 30px 40px;
  text-align: center;
  font-size: var(--lBody);
  text-transform: lowercase;
  margin: 40px auto 0;
  max-width: max-content;
  line-height: 200%;
}
@media only screen and (min-width: 768px) {
  .profile--warnings {
    margin: 85px auto 0;
  }
}
.profile--warnings strong {
  font-family: var(--headerFont);
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  margin: 0 auto 20px;
}
.acc-Member .profile--warnings {
  display: none;
}
.profile--section h2 {
  margin: 40px auto;
  max-width: max-content;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 16px;
  text-align: center;
  left: 7px;
}
@media only screen and (min-width: 768px) {
  .profile--section h2 {
    letter-spacing: 20px;
    font-size: 34px;
    font-weight: 100;
    margin: 85px auto;
    left: 12px;
  }
}
.acc-Member .profile--section h2.charOnly {
  display: none;
}
.acc-Character .profile--section h2.memOnly {
  display: none;
}
.acc-Member .profile--section:not(.memOnly):not(.memAlso) {
  display: none;
}
.acc-Character .profile--section.memAlso, .profile--section:last-child {
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .acc-Character .profile--section.memAlso, .profile--section:last-child {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1024px) {
  .acc-Character .profile--section.memAlso, .profile--section:last-child {
    margin-bottom: 80px;
  }
}
.profile--box {
  background: var(--content);
  padding: 40px;
  grid-gap: 40px;
  line-height: 200%;
}
.profile--box .scroll {
  display: block;
  max-height: 400px;
  padding-right: 20px;
}
.profile--item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: var(--lBody);
}
.profile--item strong {
  font-family: var(--headerFont);
  font-size: var(--xlBody);
  max-width: max-content;
  padding: 0 20px 0 5px;
  line-height: 100%;
}
.profile--item strong::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 7px;
  background: var(--ltaccent);
  opacity: var(--opacityShift);
}
.profile--item .scroll {
  max-height: 250px;
}
.profile--item .scroll.tallScroll {
  max-height: 300px;
}
.profile--item .scroll.smlScroll {
  max-height: 100px;
}
.profile--item .scroll.awards {
  display: flex !important;
  flex-wrap: wrap;
  gap: 10px;
}
.profile--item .scroll.awards img {
  width: 15px;
  height: 16px;
  object-fit: contain;
}
.profile--sub {
  background: var(--content);
  display: grid;
  grid-gap: 5px;
  padding: 20px 20px 25px;
}
.profile--sub-image {
  width: 100px;
  height: 100px;
  grid-row: span 2;
}
.profile--sub b {
  align-self: end;
  font-family: var(--headerFont);
}
.profile--sub a {
  max-width: max-content;
  background: var(--ltaccent);
  height: max-content;
  font-size: var(--xsBody);
  text-transform: uppercase;
  color: var(--accentColor);
  padding: 5px 10px;
  letter-spacing: 2px;
  border-radius: 4px;
}
.profile--sub a::after {
  content: "\f178";
  display: inline-block;
  width: 0;
  overflow: hidden;
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
  bottom: -1px;
  position: relative;
  line-height: 100%;
  color: var(--ltaccent);
}
.profile--sub a:hover {
  background: var(--ltaccent);
  color: var(--accentColor);
}
.profile--sub a:hover::after {
  width: 20px;
  margin: 0 -10px 0 10px;
  color: var(--accentColor);
}

#profile--subs {
  grid-gap: 20px;
}

.tracker {
  grid-gap: 20px;
  grid-template-rows: repeat(auto-fit, minmax(0, max-content));
  left: 0;
}
.tracker--labels {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto 20px;
}
@media only screen and (min-width: 768px) {
  .tracker--labels {
    margin: -55px auto 20px;
  }
}
.tracker--labels button {
  background: var(--ltaccent);
  color: var(--accentColor);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-family: var(--headerFont);
  text-transform: lowercase;
  font-size: var(--lBody);
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.7;
  filter: grayscale(1);
}
.tracker--labels button.active {
  opacity: 1;
  filter: grayscale(0);
  cursor: default;
}
.tracker--labels button::after {
  content: "\f178";
  display: inline-block;
  width: 0;
  overflow: hidden;
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
  bottom: -3px;
  position: relative;
  line-height: 100%;
  color: var(--ltaccent);
}
.tracker--labels button:not(.active):hover {
  background: var(--ltaccent);
  color: var(--accentColor);
  filter: grayscale(0);
}
.tracker--labels button:not(.active):hover::after {
  width: 20px;
  margin-left: 10px;
  color: var(--accentColor);
}
.tracker--tabs {
  display: flex;
  overflow: hidden;
}
.tracker--tab {
  flex: 0 0 100%;
  left: 0;
}
.tracker--tab.active {
  display: block;
}
.tracker--inner-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}
.tracker--inner-labels button {
  background: none;
  border: 0;
  font-family: var(--headerFont);
  font-size: var(--xlBody);
  padding: 0 20px 0 5px;
}
.tracker--inner-labels button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 7px;
  background: var(--ltaccent);
  opacity: var(--opacityShift);
  width: 0;
}
.tracker--inner-labels button:nth-of-type(2) {
  padding: 0 5px 0 20px;
}
.tracker--inner-labels button:nth-of-type(2)::before {
  left: auto;
  right: 0;
}
.tracker--inner-labels button.active {
  font-weight: 600;
}
.tracker--inner-labels button.active::before {
  width: 100%;
}
.tracker--inner-labels button.active i {
  display: none;
}
.tracker--inner-labels button:not(.active) {
  text-transform: lowercase;
  cursor: pointer;
}
.tracker--inner-labels button:not(.active):hover {
  letter-spacing: 1px;
}
.tracker--inner-labels button:not(.active):hover::before {
  width: 100%;
}
.tracker--inner-tabs {
  display: flex;
  overflow: hidden;
}
.tracker--inner-tabs .tracker {
  flex: 0 0 100%;
}
.tracker--item {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
}
.tracker--item.fullWidth {
  grid-template-columns: 100%;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.tracker--item.fullWidth .tracker--body {
  padding: 40px;
}
.tracker--status {
  width: 100%;
  height: 100%;
  background: var(--ltaccent);
}
.tracker--status.caughtup {
  background: #839d83;
}
.tracker--status.myturn {
  background: #b76b6b;
}
.tracker--status.closed {
  background: var(--ltGrey);
}
.tracker--body {
  background: var(--content);
  padding: 20px;
}
.tracker--body > a {
  font-family: var(--headerFont);
  font-weight: 600;
  text-transform: lowercase;
  font-size: var(--xlBody);
}
.tracker--desc {
  margin: 6px 0 12px;
}
.tracker--fact {
  display: inline-block;
  background: var(--ltaccent);
  color: var(--accentColor);
  text-transform: uppercase;
  font-size: var(--xsBody);
  letter-spacing: 2px;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  max-width: max-content;
}
.tracker--latest {
  font-size: var(--xsBody);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200%;
}

/*******************************
    Webpages
********************************/
/*******************************
    Templates
********************************/

/*# sourceMappingURL=styles.css.map */
