/*******************************
    Global
********************************/

table,
tbody,
tr,
td,
th {
    all: unset;
}
* {
    position: relative;
    box-sizing: border-box;
    scrollbar-color: var(--white) transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar-thumb {
        background: var(--white);
        border-radius: 3px;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }
}
a {
    text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
    font-size: var(--mBody);
    font-family: var(--body);
    font-weight: 400;
    color: var(--dark);
    background-image: var(--headerImage);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    & > br {
        display: none;
    }
}
img {
    max-width: 100%;
    object-fit: cover;
}
input,
select {
    max-width: 100%;
}
section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        margin-bottom: 20px;

        &:before {
            content: '\21B3';
            background: var(--accent);
            width: 20px;
            height: 20px;
            display: inline-grid;
            border-radius: 50%;
            margin: 0 10px 0 0;
            font-size: var(--xsBody);
            align-items: center;
            text-align: center;
            justify-items: center;
        }
    }

    & > br {
        display: none;
    }
}
.scroll {
    overflow: auto;
    padding-right: 10px;
}
.subforums-macro {
    display: none;
}

body:not(.g-4) .staffOnly,
body:not(.g-2) .guestOnly,
body.g-2 .memOnly,
body.light .darkOnly,
body.dark .lightOnly,
body:not(.lgFont) .largeOnly,
body.lgFont .smallOnly,
.active > .closeOnly,
:not(.active) > .openOnly {
    display: none;
}

.mobileOnly {
    @media only screen and (min-width: $sm) {
        display: none !important;
    }
}

.mobileTablet {
    @media only screen and (min-width: $lg) {
        display: none !important;
    }
}

.tabletOnly {
    @media only screen and (max-width: $sm) {
        display: none !important;
    }

    @media only screen and (min-width: $lg) {
        display: none !important;
    }
}

.desktopOnly {
    @media only screen and (max-width: $lg) {
        display: none !important;
    }
}

main {
    transition-duration: 0.75s;

    &.controls-open > * {
        opacity: 0;
        transition-duration: 0.75s;
    }
    &.controls-open ~ * {
        height: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        transition-duration: 0.75s;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--headerOverlay);
        mix-blend-mode: var(--headerBlend);
        opacity: var(--headerOpacity);
    }

    & > br {
        display: none;
    }
    #mark-as-read-subto,
    #delcookiesrow {
        background: var(--black);
        padding: 15px;
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 2px;
        color: var(--white);
        text-align: center;
        font-weight: 800;

        a {
        color: var(--white);
        }
    }
    & + .tableborder {
        background: var(--black);
        padding: 0 15px 15px;

        .row4 .copyright {
            text-transform: uppercase;
            font-size: var(--xsBody) !important;
            letter-spacing: 2px;
            color: var(--white);
            line-height: 200% !important;
    
            a {
                color: var(--white);
            }
        }
    }
}

.marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border: none;
    z-index: 2;

    &.active {
        width: 90px;
        border-left: 5px solid;
        border-top: 2px solid;
        border-bottom: 2px solid;
    }

    &.new {
        border-color: var(--accent);
    }
    &.alert {
        border-color: var(--ltGrey);
    }
    &.alert.new {
        border-color: var(--white);
    }
}

.grid {
    display: grid;
}

.twoCol {
    grid-template-columns: repeat(2, 1fr);
}

.threeCol {
    grid-template-columns: repeat(3, 1fr);
}

.fourCol {
    grid-template-columns: repeat(4, 1fr);
}

.fiveCol {
    grid-template-columns: repeat(5, 1fr);
}

.weightRight {
    grid-template-columns: 300px auto;
}

.weightLeft {
    grid-template-columns: auto 300px;
}

.doubleHeight {
    grid-row: span 2;
}

.fullWidth {
    grid-column: 1 / -1;
}
tag-xl,
tag-lg,
tag-md,
tag-sm,
tag-xs {
    display: block;
    margin: 20px 0 0 0;

    br + & {
        margin-top: 0;
    }
}
tag-xl,
tag-lg {
    font-family: var(--serif);
}
tag-xl {
    font-size: 30px;
    letter-spacing: 4px;
}
tag-lg {
    font-size: 22px;
    letter-spacing: 3.5px;
}
tag-md,
tag-sm,
tag-xs {
    text-transform: uppercase;
}
tag-md {
    font-size: var(--lBody);
    letter-spacing: 9px;
    font-weight: 500;
}
tag-sm {
    font-size: var(--sBody);
    font-weight: 400;
    letter-spacing: 7px;
}
tag-xs {
    font-size: var(--xsBody);
    letter-spacing: 5px;
    font-weight: 300;
}