/*******************************
    Global
********************************/

* {
    position: relative;
    box-sizing: border-box;
    scrollbar-color: var(--white) transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar-thumb {
        background: var(--white);
        border-radius: 3px;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }
}
a {
    text-decoration: none;
}
body {
    padding: 0;
    margin: 0;
    font-size: var(--mBody);
    font-family: var(--body);
    font-weight: 400;
    color: var(--dark);
    background-image: var(--headerImage);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img {
    max-width: 100%;
}
.scroll {
    overflow: auto;
    padding-right: 10px;
}
.subforums-macro {
    display: none;
}

body:not(.g-4) .staffOnly,
body:not(.g-2) .guestOnly,
body.g-2 .memOnly,
body.light .darkOnly,
body.dark .lightOnly,
body:not(.lgFont) .largeOnly,
body.lgFont .smallOnly,
.active > .closeOnly,
:not(.active) > .openOnly {
    display: none;
}

.mobileOnly {
    @media only screen and (min-width: $sm) {
        display: none !important;
    }
}

.mobileTablet {
    @media only screen and (min-width: $lg) {
        display: none !important;
    }
}

.tabletOnly {
    @media only screen and (max-width: $sm) {
        display: none !important;
    }

    @media only screen and (min-width: $lg) {
        display: none !important;
    }
}

.desktopOnly {
    @media only screen and (max-width: $lg) {
        display: none !important;
    }
}

main {
    transition-duration: 0.75s;
    border-top: 1px solid var(--midGrey-70);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--headerOverlay);
        mix-blend-mode: var(--headerBlend);
        opacity: var(--headerOpacity);
    }

    & > br {
        display: none;
    }
    #delcookiesrow {
        background: var(--black);
        padding: 15px;
        text-transform: uppercase;
        font-size: var(--xsBody);
        letter-spacing: 2px;
        color: var(--white);
        text-align: center;
        font-weight: 800;

        a {
        color: var(--white);
        }
    }
    & + .tableborder {
        background: var(--black);
        padding: 0 15px 15px;

        .row4 .copyright {
            text-transform: uppercase;
            font-size: var(--xsBody) !important;
            letter-spacing: 2px;
            color: var(--white);
            line-height: 200% !important;
    
            a {
                color: var(--white);
            }
        }
    }
}