/*******************************
    Settings
    - Used in settings webpage
********************************/
:root {
    --headerImage: url(../img/coast.jpg); /*https://www.pexels.com/photo/top-view-photo-of-rocky-shore-2307636*/
    --bgStaff-lux: url(https://64.media.tumblr.com/e529fdf50ea1d89f07dfca771f03b26c/8a9c1cf44400eb4c-de/s2048x3072/6e6315a3d09b4f7339daef33ec5df4551b683905.jpg);
    --bgStaff-quinn: url(https://files.jcink.net/uploads2/playedgod//av-1.jpg?1628549520);
    --bgStaff-meri: url(https://i.pinimg.com/originals/ac/41/28/ac4128a1badfaff7403a914eb712fd4c.gif);
    --textureBG: url(../img/texture.jpg); /*https://www.pexels.com/photo/aerial-view-of-ocean-waves-3614424/*/
    --lightTextureBG: url(../img/lighttexture.jpg); /*https://www.pexels.com/photo/aerial-shot-of-blue-water-3894157/*/
}
.dark {
    --dark: var(--white);
    --bgOffset: var(--offwhite);
    --light: var(--black);
    --altLight: var(--dkGrey);
    --mid: var(--midGrey);
    --staffBeforeBlend: screen;
    
    .g-1,
    &.g-1 {
        //validating
        --accent: rgba(74, 104, 100, 1);
        --accent: rgba(74, 104, 100, 0.5);
    }
    .g-2,
    &.g-2 {
        //guest
        --accent: rgba(74, 104, 100, 1);
        --accent: rgba(74, 104, 100, 0.5);
    }
    .g-3,
    &.g-3 {
        //member
        --accent: rgba(74, 104, 100, 1);
        --accent: rgba(74, 104, 100, 0.5);
    }
    .g-4,
    &.g-4 {
        //admin
        --accent: rgba(74, 104, 100, 1);
        --accent: rgba(74, 104, 100, 0.5);
    }
    .g-5,
    &.g-5 {
        //banned
        --accent: rgba(74, 104, 100, 1);
        --accent: rgba(74, 104, 100, 0.5);
    }
}
.light {
    --dark: var(--black);
    --bgOffset: var(--offwhite);
    --light: var(--white);
    --altLight: var(--offWhite);
    --mid: var(--ltGrey);
    --staffBeforeBlend: saturation;
    
    .g-1,
    &.g-1 {
        //validating
        --accent: rgba(152, 183, 178, 1);
        --accent-50: rgba(152, 183, 178, 0.5);
    }
    .g-2,
    &.g-2 {
        //guest
        --accent: rgba(152, 183, 178, 1);
        --accent-50: rgba(152, 183, 178, 0.5);
    }
    .g-3,
    &.g-3 {
        //member
        --accent: rgba(152, 183, 178, 1);
        --accent-50: rgba(152, 183, 178, 0.5);
    }
    .g-4,
    &.g-4 {
        //admin
        --accent: rgba(152, 183, 178, 1);
        --accent-50: rgba(152, 183, 178, 0.5);
    }
    .g-5,
    &.g-5 {
        //banned
        --accent: rgba(152, 183, 178, 1);
        --accent-50: rgba(152, 183, 178, 0.5);
    }
}
.c-1 {
    --categoryMessage: "it\'s all the same down in the capital";
}
.c-2 {
    --categoryMessage: "all the suits and cladded feet";
}
.c-3 {
    --categoryMessage: "sewer rats will shower the underground";
}
.c-4 {
    --categoryMessage: "in a race to make ends meet";
}
.c-5 {
    --categoryMessage: "am i mistaken or are we breaking under weight";
}
.c-6 {
    --categoryMessage: "from the long time that he played god";
}
.stats {
    --categoryMessage: "and he will play god"
}
/* Old Town & Subforums */
.f-36 {
    /*Old Town: https://www.pexels.com/photo/bird-s-eye-view-of-city-during-dawn-4039921/*/
    --forumBG: url(../img/oldtown.jpg);
}
.f-36 .subforums a:nth-child(2),
.f-44 {
    /* Casino: https://www.pexels.com/photo/people-casino-luck-game-6664128/ */
    --forumBG: url(../img/casino.jpg);
}
.f-36 .subforums a:nth-child(4),
.f-46 {
    /* Red Light: https://www.pexels.com/photo/white-motor-scooter-near-open-door-219095/*/
    --forumBG: url(../img/redlight.jpg);
}
.f-36 .subforums a:nth-child(6),
.f-43 {
    /* Dockyards: https://www.pexels.com/photo/photography-of-ship-799091/*/
    --forumBG: url(../img/docks.jpg);
}

/* Coastline & Subforums */
.f-35 {
    --forumBG: url(../img/coastline.jpg); /*Coastline: https://www.pexels.com/photo/lighthouse-by-sea-against-sky-247506/*/
}
.f-35 .subforums a:nth-child(2),
.f-41 {
    /* Entertainment: https://www.pexels.com/photo/group-of-people-in-a-street-market-2276796/*/
    --forumBG: url(../img/entertainment.jpg);
}
.f-41 .forum--main {
    background-position: top center !important;
}
.f-35 .subforums a:nth-child(4),
.f-54 {
    /* Bayside: https://www.pexels.com/photo/vegetables-stall-868110/*/
    --forumBG: url(../img/bayside.jpg);
}
.f-35 .subforums a:nth-child(6),
.f-45 {
    /* Graveyard: https://www.pexels.com/photo/graffiti-painted-on-wall-in-abandoned-building-1029696/*/
    --forumBG: url(../img/graveyard.jpg);
}

/* Central Davenport & Subforums */
.f-37 {
    --forumBG: url(../img/central.jpg); /*Central Davenport: https://www.pexels.com/photo/cityscape-photo-286076/*/
}
.f-37 .subforums a:nth-child(2),
.f-40 {
    /* University: https://www.pexels.com/photo/green-leaves-tree-near-red-and-gray-concrete-structure-during-daytime-227405/*/
    --forumBG: url(../img/uni.jpg);
}
.f-40 .forum--main {
    background-position: top center !important;
}
.f-37 .subforums a:nth-child(4),
.f-47 {
    /* Business: https://www.pexels.com/photo/view-of-city-buildings-near-river-4053729/*/
    --forumBG: url(../img/business.jpg);
}
.f-37 .subforums a:nth-child(6),
.f-42 {
    /* Boardwalk: https://www.pexels.com/photo/green-leafed-tree-beside-body-of-water-during-daytime-158063/*/
    --forumBG: url(../img/boardwalk.jpg);
}

/* River's Edge & Subforums */
.f-38 {
    --forumBG: url(../img/river.jpg); /*River's Edge: https://www.pexels.com/photo/river-near-city-buildings-under-cloudy-sky-1209978/*/
}
.f-38 .subforums a:nth-child(2),
.f-51 {
    /* Willow Creek: https://www.pexels.com/photo/assorted-color-wall-paint-house-photo-1370704/*/
    --forumBG: url(../img/willowcreek.jpg);
}
.f-38 .subforums a:nth-child(4),
.f-53 {
    /* Park: https://www.pexels.com/photo/worm-s-eyeview-of-tall-tree-under-a-gray-sky-618608/*/
    --forumBG: url(../img/park.jpg);
}
.f-38 .subforums a:nth-child(6),
.f-52 {
    /* Government: https://www.pexels.com/photo/architecture-building-buildings-business-273239/*/
    --forumBG: url(../img/gov.jpg);
}

/* Outskirts & Subforums */
.f-39 {
    --forumBG: url(../img/outskirts.jpg); /*Outskirts: https://www.pexels.com/photo/brown-hay-roll-near-trees-442597/*/
}
.f-39 .subforums a:nth-child(2),
.f-48 {
    /* Carnivale: https://www.pexels.com/photo/ferris-wheel-1047939/*/
    --forumBG: url(../img/carnivale.jpg);
}
.f-39 .subforums a:nth-child(4),
.f-49 {
    /* Witch's Hour: https://www.pexels.com/photo/wooden-house-in-a-forest-673788/*/
    --forumBG: url(../img/witchhour.jpg);
}
.f-39 .subforums a:nth-child(6),
.f-50 {
    /* Wilds: https://www.pexels.com/photo/remaining-walls-of-ruined-abandoned-building-4200749/*/
    --forumBG: url(../img/wilds.jpg);
}

/* Outside Davenport */
.f-13 {
    --forumBG: url(../img/outside.jpg); /*Outside Town: https://www.pexels.com/photo/padlock-on-grey-metal-cable-2214876/*/
}
.f-14 {
    --forumBG: url(../img/past.jpg); /*Past: https://www.pexels.com/photo/scenic-view-of-town-near-ocean-during-dawn-1266768/*/
}
.f-15 {
    --forumBG: url(../img/future.jpg); /*Future: https://www.pexels.com/photo/white-and-brown-concrete-buildings-near-body-of-water-3534080/*/
}
.f-16 {
    --forumBG: url(../img/au.jpg); /*AU: https://www.pexels.com/photo/round-mirror-with-white-frame-1861576/*/
}